<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IMonitorIndexDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="MonitorIndex">
		<result column="ID" property="id" />
		<result column="TITLE_TEXT" property="titleText" />
		<result column="SUB_TITLE_TEXT" property="subTitleText" />
        <result column="Y_AXIS_TEXT" property="yAxisText" />
        <result column="TOOLTIP_SUFFIX" property="tooltipSuffix" />
        <result column="FLUSH_TIME" property="flushTime" />
        <result column="DETAIL_TABLE" property="detailTable" />
        <result column="DATA_FROM_API" property="dataFromApi" />
        <result column="STATUS" property="status" />

        <result column="Y_AXIS_TEXT_1" property="yAxisText1" />
        <result column="Y_AXIS_TEXT_2" property="yAxisText2" />
        <result column="Y_AXIS_TEXT_3" property="yAxisText3" />
        <result column="MONITOR_POINT" property="monitorPoint" />
	</resultMap>
	
	<!-- WEBPORTAL_DB table all fields -->
	<sql id="Base_Column_List">
		m.ID,m.TITLE_TEXT,m.SUB_TITLE_TEXT,m.Y_AXIS_TEXT,m.TOOLTIP_SUFFIX,m.FLUSH_TIME,m.DETAIL_TABLE,m.DATA_FROM_API,m.STATUS,m.Y_AXIS_TEXT_1,m.Y_AXIS_TEXT_2,m.Y_AXIS_TEXT_3,m.MONITOR_POINT
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="titleText != null  ">
				and m.TITLE_TEXT=#{titleText}
			</if>
			<if test="subTitleText != null  ">
				and m.SUB_TITLE_TEXT=#{subTitleText}
			</if>
			<if test="yAxisText != null  ">
				and m.Y_AXIS_TEXT=#{yAxisText}
			</if>
			<if test="tooltipSuffix != null  ">
				and m.TOOLTIP_SUFFIX=#{tooltipSuffix}
			</if>
			<if test="flushTime != null  ">
				and m.FLUSH_TIME=#{flushTime}
			</if>
			<if test="detailTable != null  ">
				and m.DETAIL_TABLE=#{detailTable}
			</if>	
			<if test="dataFromApi != null  ">
				and m.DATA_FROM_API=#{dataFromApi}
			</if>	
			<if test="status != null  ">
				and m.STATUS=#{status}
			</if>					
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="MonitorIndex" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_INDEX_MONITOR(TITLE_TEXT,SUB_TITLE_TEXT,Y_AXIS_TEXT,TOOLTIP_SUFFIX,FLUSH_TIME,DETAIL_TABLE,DATA_FROM_API,STATUS,Y_AXIS_TEXT_1,Y_AXIS_TEXT_2,Y_AXIS_TEXT_3,MONITOR_POINT)
		values(
		#{titleText},#{subTitleText},#{yAxisText},#{tooltipSuffix},#{flushTime},#{detailTable},#{dataFromApi},#{status},#{yAxisText1},#{yAxisText2},#{yAxisText3},#{monitorPoint})
	</insert>
	
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="Long">
		select
		<include refid="Base_Column_List" /> 
		from WEBPORTAL_INDEX_MONITOR m
		where 1=1
	    and m.ID=#{id}
	</select>
	
    <select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" /> 
		from WEBPORTAL_INDEX_MONITOR m
		<include refid="Example_Where_Clause" /> 
	</select>
	
    <select id="selectMonitorCount" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> 
		from WEBPORTAL_INDEX_MONITOR m
		where 1=1
	</select>


</mapper>   