<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.slb.ISlbConfigDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="SlbConfig">
		<result column="ID" property="id" />
	
		<result column="SLB_ID" property="slbId" />
		<result column="AGENT_TYPE" property="agentType" />
		<result column="FRONT_PORT" property="frontPort" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="slbServer" javaType="SlbServer">
			<result column="SLB_NAME" property="slbName" />
		</association>
	
	</resultMap>
	
	<sql id="Base_Column_List">
		s.ID,
		s.SLB_ID,s.AGENT_TYPE,s.FRONT_PORT,
		s.DELETED,s.CREATE_TIME,s.CREATE_USER,s.UPDATE_TIME,s.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and s.ID=#{id}
			</if>
			
			<if test="slbId != null  ">
				and s.SLB_ID=#{slbId}
			</if>
			<if test="agentType != null  ">
				and s.AGENT_TYPE=#{agentType}
			</if>
			<if test="frontPort != null  ">
				and s.FRONT_PORT=#{frontPort}
			</if>
			
			<if test="deleted != null  ">
				and s.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and s.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and s.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and s.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and s.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="SlbConfig" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_SLB_CONFIG(
			SLB_ID,AGENT_TYPE,FRONT_PORT,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{slbId},#{agentType},#{frontPort},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- -->
	<update id="updateBySelective" parameterType="SlbConfig">
		update WEBPORTAL_SLB_CONFIG
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="slbId != null  ">
				SLB_ID=#{slbId},
			</if>
			<if test="agentType != null  ">
				AGENT_TYPE=#{agentType},
			</if>
			<if test="frontPort != null  ">
				FRONT_PORT=#{frontPort},
			</if>
			
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="SlbConfig">
		delete from WEBPORTAL_SLB_CONFIG where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			from WEBPORTAL_SLB_CONFIG s
			where s.ID = #{id}
	</select>
	
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_SLB_CONFIG s
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SLB_CONFIG s
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and s.ID=#{params.id}
			</if>
			
			<if test="params != null and params.slbId != null  ">
				and s.SLB_ID=#{params.slbId}
			</if>
			<if test="params != null and params.agentType != null  ">
				and s.AGENT_TYPE=#{params.agentType}
			</if>
			<if test="params != null and params.frontPort != null  ">
				and s.FRONT_PORT=#{params.frontPort}
			</if>
			
			<if test="params != null and params.deleted != null  ">
				and s.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and s.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and s.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and s.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and s.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SLB_CONFIG s 
		<include refid="Example_Page_Where_Clause" />
		ORDER BY s.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
	<!-- 根据slbClusterId查询 -->
	<select id="selectBySlbServerId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SLB_CONFIG s
		where s.SLB_ID = #{id}
	</select>
	
</mapper>   