<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.portal.dao.letvcloud.BillServiceOrderDetailMapper">
   <insert id="insert" parameterType="com.letv.portal.model.letvcloud.BillServiceOrderDetail">
      insert into bill_service_order_detail(
        orderId,
        userId,
        featherCode,
        feeCodePre,
        feeCodeNow,
        feeCodeNext,
       featherType,
        discount,
        createdTime,
        lastUpdateTime
      )values(
        #{orderId},
        #{userId},
        #{featherCode},
        #{feeCodePre},
        #{feeCodeNow},
        #{feeCodeNext},
       #{featherType},
        #{discount},
        NOW(),
        NOW()
      )
    </insert>
    <update id="update" parameterType="com.letv.portal.model.letvcloud.BillServiceOrderDetail">
        update bill_service_order_detail
        <set>
            <if test="feeCodeNext != null">feeCodeNext=#{feeCodeNext},</if>
            <if test="state != null">state = #{state},</if>
            <if test="discount != null">discount= #{discount},</if>
            lastUpdateTime= NOW()
        </set>
        where orderId = #{orderId} and featherCode = #{featherCode}
    </update>
    <select id="getDetailsByOrderId" parameterType="java.lang.Long" resultType="com.letv.portal.model.letvcloud.BillFeather">
        select
        featherCode,feeCodePre,feeCodeNow,feeCodeNext,featherType,state,discount
        from
        bill_service_order_detail
        where orderId = #{orderId}
    </select>
    <select id="getFeather"  resultType="com.letv.portal.model.letvcloud.BillFeather">
        select
        featherCode,feeCodePre,feeCodeNow,feeCodeNext,featherType,state,discount
        from
        bill_service_order_detail
        where orderId = #{orderId} and featherCode = #{featherCode}
    </select>
    <select id="getMainFeather" resultType="java.util.HashMap">
     SELECT
     r.feeCode,r.period,r.unit,r.price
     FROM bill_service_order_detail d LEFT JOIN bill_fee_rule r ON d.feeCodeNow=r.feeCode
     WHERE d.featherType=#{featherType} AND  d.orderId=#{orderId}
    </select>
</mapper>