<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.portal.dao.letvcloud.BillTaskControlMapper" >

  <select id="getBillTaskByStateAndPeriod" resultType="com.letv.portal.model.letvcloud.BillDeduction">
    SELECT sod.orderId,so.serviceCode,sod.featherCode,so.userId,fr.period,fr.feeMode,fr.feeCode,fr.price
    FROM bill_service_order so LEFT JOIN bill_service_order_detail sod ON so.orderId = sod.orderId
    LEFT JOIN bill_fee_rule fr ON sod.feeCodeNow = fr.feeCode  WHERE so.state=#{state} and fr.period = #{period}
  </select>

</mapper>