<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IColumnLayoutRelationDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="ColumnLayoutRelation">
		<result column="ID" property="id" />
		<result column="COLUMN_ID" property="columnId" />
		<result column="CONTENT_ID" property="contentId" />
<!-- 		<result column="CONTENT_VERSION" property="contentVersion" /> -->
		<result column="SORT" property="sort" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

	<!-- COLUMN_LAYOUT_RELATION table all fields -->
	<sql id="Base_Column_List">
		ID,COLUMN_ID,CONTENT_ID,SORT,CREATE_TIME,UPDATE_TIME
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="columnId != null  ">
				and COLUMN_ID=#{columnId}
			</if>
			<if test="contentId != null  ">
				and CONTENT_ID=#{contentId}
			</if>
			<if test="sort != null  ">
				and SORT=#{sort}
			</if>
			<if test="createTime != null  ">
				and CREATE_TIME=#{createTime}
			</if>
			<if test="updateTime != null  ">
				and UPDATE_TIME=#{updateTime}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="ColumnLayoutRelation">
		insert into
		COLUMN_LAYOUT_RELATION(COLUMN_ID,CONTENT_ID,SORT,CREATE_TIME,UPDATE_TIME)
		values(#{columnId},#{contentId},#{sort},now(),now())
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="ColumnLayoutRelation">
		update COLUMN_LAYOUT_RELATION set
		COLUMN_ID=#{columnId},CONTENT_ID=#{contentId},SORT=#{sort},
		CREATE_TIME=now(),UPDATE_TIME=now()
		where ID=#{id}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="ColumnLayoutRelation">
		update COLUMN_LAYOUT_RELATION set
		<trim suffixOverrides=",">
			<if test="columnId != null  ">
				COLUMN_ID=#{columnId},
			</if>
			<if test="contentId != null  ">
				CONTENT_ID=#{contentId},
			</if>
			<if test="sort != null  ">
				SORT=#{sort},
			</if>
				UPDATE_TIME=now()
		</trim>
		where ID=#{id}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="ColumnLayoutRelation">
		delete from COLUMN_LAYOUT_RELATION where ID = #{id}
	</update>

	<!-- 列表 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from COLUMN_LAYOUT_RELATION where ID = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="ColumnLayoutRelation">
		select count(1) from COLUMN_LAYOUT_RELATION
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByModel" resultMap="BaseResultMap"
		parameterType="ColumnLayoutRelation">
		select
		<include refid="Base_Column_List" />
		from COLUMN_LAYOUT_RELATION
		<include refid="Example_Where_Clause" />

	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from COLUMN_LAYOUT_RELATION
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from COLUMN_LAYOUT_RELATION
		<include refid="Example_Where_Clause" />

	</select>


<!--根据栏目ID 内容ID 和内容版本号 删除 -->
	<delete id="deleteColumnLayoutRelationByModel" parameterType="ColumnLayoutRelation">
		delete from COLUMN_LAYOUT_RELATION where column_id=#{columnId} and content_id=#{contentId}
	</delete>

<!-- 根据sort 按序 查询 -->
	<select id="selectByMapOrder" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from COLUMN_LAYOUT_RELATION t
		where t.COLUMN_ID=#{columnId} 
		<if test="sortType != null  ">
				<if test="sortType == 0">
					order by t.SORT desc
				</if>
				<if test="sortType == 1">
					order by t.SORT asc
				</if>
		</if>
	</select>

<!--栏目内容自定义排序  -->
	<update id="updateSortContentDefin" parameterType="ColumnLayoutRelation">
		<![CDATA[
		update COLUMN_LAYOUT_RELATION t set t.SORT = (t.SORT-1) where t.COLUMN_ID=#{columnId} and t.SORT <= #{sort}
		]]>
	</update>

</mapper>   
