<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IColumnInfoDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="ColumnInfo">
		<result column="COLUMN_ID" property="columnId" />
		<result column="COLUMN_NAME" property="columnName" />
		<result column="COLUMN_PID" property="columnPid" />
		<result column="COLUMN_TYPE" property="columnType" />
		<result column="COLUMN_LEVEL" property="columnLevel" />
		<result column="COLUMN_STATUS" property="columnStatus" />
		<result column="APPLICATION_TERMINAL" property="applicationTerminal" />
		<result column="APPLICATION_CODE" property="applicationCode" />
		<result column="DESCRIPTION" property="description" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

	<!-- COLUMN_INFO table all fields -->
	<sql id="Base_Column_List">
		COLUMN_ID,COLUMN_NAME,COLUMN_PID,COLUMN_TYPE,COLUMN_LEVEL,COLUMN_STATUS,APPLICATION_TERMINAL,APPLICATION_CODE,DESCRIPTION,CREATE_TIME,UPDATE_TIME
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="columnId != null  ">
				and COLUMN_ID=#{columnId}
			</if>
			<if test="columnName != null  and columnName != '' ">
				and COLUMN_NAME =#{columnName}
			</if>
			<if test="columnPid != null  ">
				and COLUMN_PID=#{columnPid}
			</if>
			<if test="columnType != null  and columnType != '' ">
				and COLUMN_TYPE=#{columnType}
			</if>
			<if test="columnLevel != null  and columnLevel != '' ">
				and COLUMN_LEVEL=#{columnLevel}
			</if>
			<if test="columnStatus != null  and columnStatus != '' ">
				and COLUMN_STATUS=#{columnStatus}
			</if>
			<if test="applicationTerminal != null  and applicationTerminal != '' ">
				and APPLICATION_TERMINAL=#{applicationTerminal}
			</if>
			<if test="applicationCode != null  and applicationCode != '' ">
				and APPLICATION_CODE=#{applicationCode}
			</if>
			<if test="description != null  and description != '' ">
				and DESCRIPTION=#{description}
			</if>
			<if test="createTime != null  ">
				and CREATE_TIME=#{createTime}
			</if>
			<if test="updateTime != null  ">
				and UPDATE_TIME=#{updateTime}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="ColumnInfo">
		insert into
		COLUMN_INFO(COLUMN_NAME,COLUMN_PID,COLUMN_TYPE,COLUMN_LEVEL,COLUMN_STATUS,APPLICATION_TERMINAL,APPLICATION_CODE,DESCRIPTION,CREATE_TIME,UPDATE_TIME)
		values(#{columnName},#{columnPid},#{columnType},#{columnLevel},#{columnStatus},#{applicationTerminal},#{applicationCode},#{description},now(),now())
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="ColumnInfo">
		update COLUMN_INFO set
		COLUMN_NAME=#{columnName},COLUMN_PID=#{columnPid},COLUMN_TYPE=#{columnType},COLUMN_LEVEL=#{columnLevel},COLUMN_STATUS=#{columnStatus},
		APPLICATION_TERMINAL=#{applicationTerminal},APPLICATION_CODE=#{applicationCode},DESCRIPTION=#{description},UPDATE_TIME=now()
		where COLUMN_ID=#{columnId}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="ColumnInfo">
		update COLUMN_INFO set
		<trim suffixOverrides=",">
			<if test="columnName != null  and columnName != '' ">
				COLUMN_NAME=#{columnName},
			</if>
			<if test="columnPid != null  ">
				COLUMN_PID=#{columnPid},
			</if>
			<if test="columnType != null  and columnType != '' ">
				COLUMN_TYPE=#{columnType},
			</if>
			<if test="columnLevel != null  and columnLevel != '' ">
				COLUMN_LEVEL=#{columnLevel},
			</if>
			<if test="columnStatus != null  and columnStatus != '' ">
				COLUMN_STATUS=#{columnStatus},
			</if>
			<if test="applicationTerminal != null  and applicationTerminal != '' ">
				APPLICATION_TERMINAL=#{applicationTerminal},
			</if>
			<if test="applicationCode != null  and applicationCode != '' ">
				APPLICATION_CODE=#{applicationCode},
			</if>
			<if test="description != null  and description != '' ">
				DESCRIPTION=#{description},
			</if>
				UPDATE_TIME=now()
		</trim>
		where COLUMN_ID=#{columnId}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="ColumnInfo">
		delete from COLUMN_INFO where COLUMN_ID = #{columnId}
	</update>

	<!-- 列表 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from COLUMN_INFO where COLUMN_ID = #{columnId}
	</select>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="ColumnInfo">
		select count(1) from COLUMN_INFO
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByModel" resultMap="BaseResultMap"
		parameterType="ColumnInfo">
		select
		<include refid="Base_Column_List" />
		from COLUMN_INFO
		<include refid="Example_Where_Clause" />

	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from COLUMN_INFO
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from COLUMN_INFO
		<include refid="Example_Where_Clause" />

	</select>
	
	<!-- 列表总数 -->
	<select id="selectSubColumnById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM COLUMN_INFO t WHERE t.COLUMN_PID=#{columnId}
	</select>

</mapper>   
