<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IContentDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="Content" >
	<result column="CONTENT_ID" property="contentId"/>
	<result column="NAME_CN" property="nameCn"/>
	<result column="NAME_EN" property="nameEn"/>
	<result column="CONTENT_BASE_TYPE" property="contentBaseType"/>
	<result column="CATEGORY" property="category"/>
	<result column="CHANNEL_ID" property="channelId"/>
	<result column="USER_ID" property="userId"/>
	<result column="STATUS" property="status"/>
	<result column="DELETED" property="deleted"/>
</resultMap>
       
<!-- CON_CONTENT_INFO table all fields -->
<sql id="Base_Column_List" >
	 CONTENT_ID,NAME_CN,NAME_EN,CONTENT_BASE_TYPE,CATEGORY,CHANNEL_ID,USER_ID,STATUS,DELETED
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="contentId != null  ">
		and CONTENT_ID=#{contentId}
	</if>
	<if test="nameCn != null  and nameCn != '' ">
		and NAME_CN=#{nameCn}
	</if>
	<if test="nameEn != null  and nameEn != '' ">
		and NAME_EN=#{nameEn}
	</if>
	<if test="contentBaseType != null  ">
		and CONTENT_BASE_TYPE=#{contentBaseType}
	</if>
	<if test="category != null  ">
		and CATEGORY=#{category}
	</if>
	<if test="channelId != null  ">
		and CHANNEL_ID=#{channelId}
	</if>
	<if test="userId != null  and userId != '' ">
		and USER_ID=#{userId}
	</if>
	<if test="status != null  ">
		and STATUS=#{status}
	</if>
	<if test="deleted != null  ">
		and DELETED=#{deleted}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="Content" useGeneratedKeys="true" keyProperty="contentId">
  insert into CON_CONTENT_INFO(NAME_CN,NAME_EN,CONTENT_BASE_TYPE,CATEGORY,CHANNEL_ID,USER_ID,STATUS,DELETED)
 values(#{nameCn},#{nameEn},#{contentBaseType},#{category},#{channelId},#{userId},#{status},#{deleted})
</insert>
 
 <!-- 根据id，修改记录-->  
 <update id="update" parameterType="Content" >
  update CON_CONTENT_INFO set NAME_CN=#{nameCn},NAME_EN=#{nameEn},CONTENT_BASE_TYPE=#{contentBaseType},
  CATEGORY=#{category},CHANNEL_ID=#{channelId},USER_ID=#{userId},STATUS=#{status} 
  where CONTENT_ID=#{contentId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="Content" >
	update CON_CONTENT_INFO set 
	<trim  suffixOverrides="," >
	<if test="nameCn != null  and nameCn != '' ">
		NAME_CN=#{nameCn},
	</if>
	<if test="nameEn != null  and nameEn != '' ">
		NAME_EN=#{nameEn},
	</if>
	<if test="contentBaseType != null  ">
		CONTENT_BASE_TYPE=#{contentBaseType},
	</if>
	<if test="category != null  ">
		CATEGORY=#{category},
	</if>
	<if test="channelId != null  ">
		CHANNEL_ID=#{channelId},
	</if>
	<if test="userId != null  and userId != '' ">
		USER_ID=#{userId},
	</if>
	<if test="status != null  ">
		STATUS=#{status},
	</if>
	</trim> where CONTENT_ID=#{contentId} 
</update>

<!-- 逻辑删除，将deleted 改成 0 -->
<update id="delete" parameterType="Content">
	update CON_CONTENT_INFO set DELETED=true where CONTENT_ID = #{contentId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from CON_CONTENT_INFO where DELETED = false and CONTENT_ID = #{contentId}
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="Content">
	select count(1) from CON_CONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="Content">
	select 
	<include refid="Base_Column_List"/>
	from CON_CONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_CONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from CON_CONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>

<!--根据栏目ID及一系列查询条件 查询未绑定内容 -->
<select id="selectUnbindContentsByMap"  resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from CON_CONTENT_INFO t1 where t1.IS_DELETE =1 and not exists (
	select
	t.CONTENT_ID from COLUMN_LAYOUT_RELATION t where t.CONTENT_ID =
	t1.CONTENT_ID
	and t.COLUMN_ID=#{columnId}
	)
	limit 0,10
</select>

<!--根据栏目ID及一系列查询条件 查询已绑定内容 -->
<select id="selectBindContentsByMap"  resultMap="BaseResultMap" parameterType="map">
	select t.* from CON_CONTENT_INFO t ,COLUMN_LAYOUT_RELATION t1
	where t.CONTENT_ID = t1.CONTENT_ID
	and t.IS_DELETE=1
	and t1.COLUMN_ID=#{columnId}
</select>


</mapper>   
