<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IDictionaryDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.letv.portal.model.DictionaryModel" >
	<result column="VALUE_ID" property="valueId"/>
	<result column="VALUE" property="value"/>
	<result column="TYPE_ID" property="typeId"/>
	<result column="PARENT_VALUE_ID" property="parentValueId"/>
	<result column="LEVEL" property="level"/>
	<result column="STATUS" property="status"/>

</resultMap>
<!-- DICTIONARY_INFO table all fields -->
<sql id="Base_Column_List" >
	 VALUE_ID,VALUE,TYPE_ID,PARENT_VALUE_ID,LEVEL,STATUS
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="valueId != null  ">
		and VALUE_ID=#{valueId}
	</if>
	<if test="value != null  and value != '' ">
		and VALUE=#{value}
	</if>
	<if test="typeId != null  ">
		and TYPE_ID=#{typeId}
	</if>
	<if test="parentValueId != null  ">
		and PARENT_VALUE_ID=#{parentValueId}
	</if>
	<if test="level != null  ">
		and LEVEL=#{level}
	</if>
	<if test="status != null  ">
		and STATUS=#{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.letv.portal.model.DictionaryModel" >
  insert into DICTIONARY_INFO(VALUE_ID,VALUE,TYPE_ID,PARENT_VALUE_ID,LEVEL,STATUS)
 values(#{valueId},#{value},#{typeId},#{parentValueId},#{level},#{status})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.letv.portal.model.DictionaryModel" >
  update DICTIONARY_INFO set VALUE=#{VALUE},TYPE_ID=#{TYPE_ID},PARENT_VALUE_ID=#{PARENT_VALUE_ID},LEVEL=#{LEVEL},STATUS=#{STATUS} where VALUE_ID=#{valueId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="com.letv.portal.model.DictionaryModel" >
	update DICTIONARY_INFO set 
	<trim  suffixOverrides="," >
	<if test="value != null  and value != '' ">
		VALUE=#{value},
	</if>
	<if test="typeId != null  ">
		TYPE_ID=#{typeId},
	</if>
	<if test="parentValueId != null  ">
		PARENT_VALUE_ID=#{parentValueId},
	</if>
	<if test="level != null  ">
		LEVEL=#{level},
	</if>
	<if test="status != null  ">
		STATUS=#{status},
	</if>
	</trim> where VALUE_ID=#{valueId}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.letv.portal.model.DictionaryModel">
	delete 	 from DICTIONARY_INFO where VALUE_ID = #{valueId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from DICTIONARY_INFO where VALUE_ID = #{valueId}
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.letv.portal.model.DictionaryModel">
	select count(1) from DICTIONARY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.letv.portal.model.DictionaryModel">
	select 
	<include refid="Base_Column_List"/>
	from DICTIONARY_INFO 
	<include refid="Example_Where_Clause"/>
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from DICTIONARY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from DICTIONARY_INFO 
	<include refid="Example_Where_Clause"/>
</select>	
</mapper>   