<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IEPCheckDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="EPCheck" >
	<result column="PROPERTY_CHECK_ID" property="propertyCheckId"/>
	<result column="PROPERTY_ID" property="propertyId"/>
	<result column="CHECK_EXPRESSION" property="checkExpression"/>
	<result column="PROMPT" property="prompt"/>

</resultMap>
       
<!-- CON_PROPERTY_CHECK_INFO table all fields -->
<sql id="Base_Column_List" >
	 PROPERTY_CHECK_ID,PROPERTY_ID,CHECK_EXPRESSION,PROMPT
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="propertyCheckId != null  ">
		and PROPERTY_CHECK_ID=#{propertyCheckId}
	</if>
	<if test="propertyId != null  ">
		and PROPERTY_ID=#{propertyId}
	</if>
	<if test="checkExpression != null  and checkExpression != '' ">
		and CHECK_EXPRESSION=#{checkExpression}
	</if>
	<if test="prompt != null  and prompt != '' ">
		and PROMPT=#{prompt}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="EPCheck" >
  insert into CON_PROPERTY_CHECK_INFO(PROPERTY_CHECK_ID,PROPERTY_ID,CHECK_EXPRESSION,PROMPT)
 values(#{propertyCheckId},#{propertyId},#{checkExpression},#{prompt})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="EPCheck" >
  update CON_PROPERTY_CHECK_INFO set PROPERTY_ID=#{PROPERTY_ID},CHECK_EXPRESSION=#{CHECK_EXPRESSION},PROMPT=#{PROMPT} where PROPERTY_CHECK_ID=#{propertyCheckId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="EPCheck" >
	update CON_PROPERTY_CHECK_INFO set 
	<trim  suffixOverrides="," >
	<if test="propertyId != null  ">
		PROPERTY_ID=#{propertyId},
	</if>
	<if test="checkExpression != null  and checkExpression != '' ">
		CHECK_EXPRESSION=#{checkExpression},
	</if>
	<if test="prompt != null  and prompt != '' ">
		PROMPT=#{prompt},
	</if>
	</trim> where PROPERTY_CHECK_ID=#{propertyCheckId}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="EPCheck">
	delete 	 from CON_PROPERTY_CHECK_INFO where PROPERTY_CHECK_ID = #{propertyCheckId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from CON_PROPERTY_CHECK_INFO where PROPERTY_CHECK_ID = #{propertyCheckId}
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="EPCheck">
	select count(1) from CON_PROPERTY_CHECK_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="EPCheck">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_CHECK_INFO  
	<include refid="Example_Where_Clause"/>
	
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_PROPERTY_CHECK_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_CHECK_INFO 
	<include refid="Example_Where_Clause"/>
    
</select>
  	
</mapper>   
