<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Self_EPCheckMapper">
	<resultMap id="BaseResultMap" type="EPCheck" >
		<result column="PROPERTY_CHECK_ID" property="propertyCheckId"/>
		<result column="PROPERTY_ID" property="propertyId"/>
		<result column="CHECK_EXPRESSION" property="checkExpression"/>
		<result column="PROMPT" property="prompt"/>
	
	</resultMap>
	       
	<!-- CON_PROPERTY_CHECK_INFO table all fields -->
	<sql id="Base_Column_List" >
		 PROPERTY_CHECK_ID,PROPERTY_ID,CHECK_EXPRESSION,PROMPT
	</sql>
	   
	   
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
		<if test="propertyCheckId != null  ">
			and PROPERTY_CHECK_ID=#{propertyCheckId}
		</if>
		<if test="propertyId != null  ">
			and PROPERTY_ID=#{propertyId}
		</if>
		<if test="checkExpression != null  and checkExpression != '' ">
			and CHECK_EXPRESSION=#{checkExpression}
		</if>
		<if test="prompt != null  and prompt != '' ">
			and PROMPT=#{prompt}
		</if>
	</trim>
	</sql>

	<select id="selectByMapCount" resultType="java.lang.Integer">
		select count(1) from CON_PROPERTY_CHECK_INFO 
	</select>

	<select id="getEPCheckWithList" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select 
        <include refid="Base_Column_List"/>
		from `CON_PROPERTY_CHECK_INFO` a
		<if test="limit != null and limit.maxRows > -1">
      		limit #{limit.start},#{limit.maxRows}
    	</if>
	</select>
	
</mapper>