<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Self_ContentSubcontentRelMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="ContentSubcontentRel" >
	<result column="CONTENT_ID" property="contentId"/>
	<result column="SUBCONTENT_ID" property="subcontentId"/>
	<result column="RELATIONSHIP" property="relationship"/>

</resultMap>
  	<resultMap id="SubResultMap" type="com.letv.mms.bean.ConAssiBean">
  <result column="SUBCONTENT_ID" property="id"/>
</resultMap>
<!-- CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO table all fields -->
<sql id="Base_Column_List" >
	SUBCONTENT_ID 
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test = "params !=null and params.firstNode !=null">
	<if test="params.firstNode.contentId != null  ">
		and a.CONTENT_ID=#{params.contentId}
	</if>

	<if test="params.firstNode.subcontentId != null  ">
		and a.SUBCONTENT_ID=#{params.subcontentId}
	</if>

	<if test="params.firstNode.relationship != null  ">
		and a.RELATIONSHIP=#{params.relationship}
	</if>
	</if>
</trim>
</sql>


<!--根据内容id和version 查询子内容数-->  	
<select id="selectSubcontentCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO <include refid="Example_Where_Clause"/>
</select>
<!--根据内容id和version 查询子内容分页列表-->  	
<select id="selectSubcontentList" resultMap="SubResultMap"  parameterType="java.util.Map">
		select <include refid="Base_Column_List"/> from CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO <include refid="Example_Where_Clause"/>
	 <if test="limit != null and limit.maxRows > -1">
      		limit #{limit.start},#{limit.maxRows}
    	</if>
	 </select>
</mapper>   
