<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="SqlMapper" > 
	<select id="selectByMapCount" resultType="java.lang.Integer">
		${params.pageCount}
	</select>

	<select id="selectPageWithList" resultType="java.util.HashMap" parameterType="com.letv.common.dao.QueryParam">
		${params.pageList}
		<if test="limit != null and limit.maxRows > -1">
      		limit ${limit.start},${limit.maxRows}
    	</if>
	</select>
  
  </mapper>  