<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.StarDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.letv.mms.model.StarModel" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="englishname" property="englishname"/>
	<result column="othername" property="othername"/>
	<result column="truename" property="truename"/>
	<result column="birthday" property="birthday"/>
	<result column="gender" property="gender"/>
	<result column="area" property="area"/>
	<result column="ctime" property="ctime"/>
	<result column="description" property="description"/>
	<result column="display" property="display"/>
	<result column="isactor" property="isactor"/>
	<result column="isdirector" property="isdirector"/>
	<result column="is_avail" property="is_avail"/>
	<result column="professional" property="professional"/>
	<result column="status" property="status"/>
	<result column="post_s1" property="post_s1"/>
	<result column="post_s2" property="post_s2"/>
	<result column="post_s3" property="post_s3"/>
	<result column="post_h1" property="post_h1"/>
	<result column="post_h2" property="post_h2"/>
	<result column="isdeleted" property="isdeleted"/>
	<result column="isend" property="isend"/>
	<result column="pushflag" property="pushflag"/>
	<result column="post_orgin" property="post_orgin"/>
	<result column="firstWord" property="firstWord"/>
	<result column="mtime" property="mtime"/>
</resultMap>
       
<!-- star table all fields -->
<sql id="Base_Column_List" >
	 id,name,englishname,othername,truename,birthday,gender,area,ctime,description,display,isactor,isdirector,is_avail,professional,status,post_s1,post_s2,post_s3,post_h1,post_h2,isdeleted,isend,pushflag,post_orgin,firstWord,mtime
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 	<if test="name != null and name != ''" >
	    and name =  #{name}
	</if>
	 	<if test="englishname != null and englishname != ''" >
	    and englishname =  #{englishname}
	</if>
	 	<if test="othername != null and othername != ''" >
	    and othername =  #{othername}
	</if>
	 	<if test="truename != null and truename != ''" >
	    and truename =  #{truename}
	</if>
	 	<if test="birthday != null and birthday != ''" >
	    and birthday =  #{birthday}
	</if>
	<if test="gender != null" >
	    and gender =  #{gender}
	</if>
	<if test="area != null" >
	    and area =  #{area}
	</if>
	<if test="ctime != null" >
	    and ctime =  #{ctime}
	</if>
	 	<if test="description != null and description != ''" >
	    and description =  #{description}
	</if>
	<if test="display != null" >
	    and display =  #{display}
	</if>
	<if test="isactor != null" >
	    and isactor =  #{isactor}
	</if>
	<if test="isdirector != null" >
	    and isdirector =  #{isdirector}
	</if>
	<if test="is_avail != null" >
	    and is_avail =  #{is_avail}
	</if>
	 	<if test="professional != null and professional != ''" >
	    and professional =  #{professional}
	</if>
	 	<if test="status != null and status != ''" >
	    and status =  #{status}
	</if>
	 	<if test="post_s1 != null and post_s1 != ''" >
	    and post_s1 =  #{post_s1}
	</if>
	 	<if test="post_s2 != null and post_s2 != ''" >
	    and post_s2 =  #{post_s2}
	</if>
	 	<if test="post_s3 != null and post_s3 != ''" >
	    and post_s3 =  #{post_s3}
	</if>
	 	<if test="post_h1 != null and post_h1 != ''" >
	    and post_h1 =  #{post_h1}
	</if>
	 	<if test="post_h2 != null and post_h2 != ''" >
	    and post_h2 =  #{post_h2}
	</if>
	<if test="isdeleted != null" >
	    and isdeleted =  #{isdeleted}
	</if>
	<if test="isend != null" >
	    and isend =  #{isend}
	</if>
	 	<if test="pushflag != null and pushflag != ''" >
	    and pushflag =  #{pushflag}
	</if>
	 	<if test="post_orgin != null and post_orgin != ''" >
	    and post_orgin =  #{post_orgin}
	</if>
	 	<if test="firstWord != null and firstWord != ''" >
	    and firstWord =  #{firstWord}
	</if>
	<if test="mtime != null" >
	    and mtime =  #{mtime}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.letv.mms.model.StarModel" >
  insert into star(id,name,englishname,othername,truename,birthday,gender,area,ctime,description,display,isactor,isdirector,is_avail,professional,status,post_s1,post_s2,post_s3,post_h1,post_h2,isdeleted,isend,pushflag,post_orgin,firstWord,mtime)
 values(#{id},#{name},#{englishname},#{othername},#{truename},#{birthday},#{gender},#{area},#{ctime},#{description},#{display},#{isactor},#{isdirector},#{is_avail},#{professional},#{status},#{post_s1},#{post_s2},#{post_s3},#{post_h1},#{post_h2},#{isdeleted},#{isend},#{pushflag},#{post_orgin},#{firstWord},#{mtime})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.letv.mms.model.StarModel" >
  update star set name=#{name},englishname=#{englishname},othername=#{othername},truename=#{truename},birthday=#{birthday},gender=#{gender},area=#{area},ctime=#{ctime},description=#{description},display=#{display},isactor=#{isactor},isdirector=#{isdirector},is_avail=#{is_avail},professional=#{professional},status=#{status},post_s1=#{post_s1},post_s2=#{post_s2},post_s3=#{post_s3},post_h1=#{post_h1},post_h2=#{post_h2},isdeleted=#{isdeleted},isend=#{isend},pushflag=#{pushflag},post_orgin=#{post_orgin},firstWord=#{firstWord},mtime=#{mtime} where id=#{id}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="com.letv.mms.model.StarModel" >
	update star set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="englishname != null  and englishname != '' ">
		englishname=#{englishname},
	</if>
	<if test="othername != null  and othername != '' ">
		othername=#{othername},
	</if>
	<if test="truename != null  and truename != '' ">
		truename=#{truename},
	</if>
	<if test="birthday != null  and birthday != '' ">
		birthday=#{birthday},
	</if>
	<if test="gender != null  ">
		gender=#{gender},
	</if>
	<if test="area != null  ">
		area=#{area},
	</if>
	<if test="ctime != null  ">
		ctime=#{ctime},
	</if>
	<if test="description != null  and description != '' ">
		description=#{description},
	</if>
	<if test="display != null  ">
		display=#{display},
	</if>
	<if test="isactor != null  ">
		isactor=#{isactor},
	</if>
	<if test="isdirector != null  ">
		isdirector=#{isdirector},
	</if>
	<if test="is_avail != null  ">
		is_avail=#{is_avail},
	</if>
	<if test="professional != null  and professional != '' ">
		professional=#{professional},
	</if>
	<if test="status != null  and status != '' ">
		status=#{status},
	</if>
	<if test="post_s1 != null  and post_s1 != '' ">
		post_s1=#{post_s1},
	</if>
	<if test="post_s2 != null  and post_s2 != '' ">
		post_s2=#{post_s2},
	</if>
	<if test="post_s3 != null  and post_s3 != '' ">
		post_s3=#{post_s3},
	</if>
	<if test="post_h1 != null  and post_h1 != '' ">
		post_h1=#{post_h1},
	</if>
	<if test="post_h2 != null  and post_h2 != '' ">
		post_h2=#{post_h2},
	</if>
	<if test="isdeleted != null  ">
		isdeleted=#{isdeleted},
	</if>
	<if test="isend != null  ">
		isend=#{isend},
	</if>
	<if test="pushflag != null  and pushflag != '' ">
		pushflag=#{pushflag},
	</if>
	<if test="post_orgin != null  and post_orgin != '' ">
		post_orgin=#{post_orgin},
	</if>
	<if test="firstWord != null  and firstWord != '' ">
		firstWord=#{firstWord},
	</if>
	<if test="mtime != null  ">
		mtime=#{mtime},
	</if>
	</trim> where id=#{id}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.letv.mms.model.StarModel">
	delete 	 from star where id = #{id}
</update>
 
<!-- 明星列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from star where id = #{id}
</select>
  	
<!-- 明星 列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.letv.mms.model.StarModel">
	select count(1) from star 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询明星 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.letv.mms.model.StarModel">
	select 
	<include refid="Base_Column_List"/>
	from star 
	<include refid="Example_Where_Clause"/>
	limit 20
</select>


<!-- 明星 列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from star 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询明星 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from star 
	<include refid="Example_Where_Clause"/>
</select>
  	
</mapper>   
