<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.ISubcontentDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="Subcontent" >
	<result column="SUBCONTENT_ID" property="subcontentId"/>
	<result column="SUBCONTENT_NAME" property="subcontentName"/>
	<result column="SUBCONTENT_TYPE" property="subcontentType"/>
	<result column="VIDEO_CODE_VERSION" property="videoCodeVersion"/>
	<result column="STATUS" property="status"/>
	<result column="DELETED" property="deleted"/>
	<result column="CDN_PATH_LETV_DEFAULT" property="cdnPathLetvDefault"/>

</resultMap>
       
<!-- CON_SUBCONTENT_INFO table all fields -->
<sql id="Base_Column_List" >
	 SUBCONTENT_ID,SUBCONTENT_NAME,SUBCONTENT_TYPE,STATUS,DELETED,VIDEO_CODE_VERSION,CDN_PATH_LETV_DEFAULT
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="subcontentId != null  ">
		and SUBCONTENT_ID=#{subcontentId}
	</if>
	<if test="subcontentName != null  and subcontentName != '' ">
		and SUBCONTENT_NAME=#{subcontentName}
	</if>
	<if test="subcontentType != null  ">
		and SUBCONTENT_TYPE=#{subcontentType}
	</if>
	<if test="videoCodeVersion != null  and videoCodeVersion != '' ">
		and VIDEO_CODE_VERSION=#{videoCodeVersion}
	</if>
	<if test="status != null  ">
		and STATUS=#{status}
	</if>
	<if test="deleted != null  ">
		and DELETED=#{deleted}
	</if>
	<if test="cdnPathLetvDefault != null  and cdnPathLetvDefault != '' ">
		and CDN_PATH_LETV_DEFAULT=#{cdnPathLetvDefault}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="Subcontent" useGeneratedKeys="true" keyProperty="subcontentId">
  insert into CON_SUBCONTENT_INFO(SUBCONTENT_NAME,SUBCONTENT_TYPE,VIDEO_CODE_VERSION,STATUS,DELETED,CDN_PATH_LETV_DEFAULT)
  values(#{subcontentName},#{subcontentType},#{videoCodeVersion},#{status},#{deleted},#{cdnPathLetvDefault})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Subcontent" >
  update CON_SUBCONTENT_INFO set SUBCONTENT_NAME=#{SUBCONTENT_NAME},SUBCONTENT_TYPE=#{SUBCONTENT_TYPE},VIDEO_CODE_VERSION=#{VIDEO_CODE_VERSION},STATUS=#{STATUS},DELETED=#{deleted},CDN_PATH_LETV_DEFAULT=#{CDN_PATH_LETV_DEFAULT} where SUBCONTENT_ID=#{subcontentId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="Subcontent" >
	update CON_SUBCONTENT_INFO set 
	<trim  suffixOverrides="," >
	<if test="subcontentName != null  and subcontentName != '' ">
		SUBCONTENT_NAME=#{subcontentName},
	</if>
	<if test="subcontentType != null  ">
		SUBCONTENT_TYPE=#{subcontentType},
	</if>
	<if test="videoCodeVersion != null  and videoCodeVersion != '' ">
		VIDEO_CODE_VERSION=#{videoCodeVersion},
	</if>
	<if test="status != null  ">
		STATUS=#{status},
	</if>
	<if test="isDelete != null  ">
		IS_DELETE=#{isDelete},
	</if>
	<if test="cdnPathLetvDefault != null  and cdnPathLetvDefault != '' ">
		CDN_PATH_LETV_DEFAULT=#{cdnPathLetvDefault},
	</if>
	</trim> 
	where SUBCONTENT_ID=#{subcontentId}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="Subcontent">
	update CON_SUBCONTENT_INFO set DELETED = true where SUBCONTENT_ID = #{subcontentId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from CON_SUBCONTENT_INFO where DELETED = false and SUBCONTENT_ID = #{subcontentId}
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="Subcontent">
	select count(1) from CON_SUBCONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="Subcontent">
	select 
	<include refid="Base_Column_List"/>
	from CON_SUBCONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_SUBCONTENT_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from CON_SUBCONTENT_INFO 
	<include refid="Example_Where_Clause"/>
    
</select>
</mapper>   
