<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IVarcharIndEPVDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="VarcharIndEPV" >
	<result column="OBJECT_ID" property="objectId"/>
	<result column="ID" property="id"/>
	<result column="OBJECT_TYPE_ID" property="objectTypeId"/>
	<result column="PROPERTY_ID" property="propertyId"/>
	<result column="VALUE" property="value"/>
	<result column="NOTES" property="notes"/>
	<result column="DELETED" property="deleted"/>
</resultMap>
       
<!-- PPV_PROPERTY_VALUE_VARCHAR_INDEX table all fields -->
<sql id="Base_Column_List" >
	 OBJECT_ID,OBJECT_TYPE_ID,PROPERTY_ID,VALUE,NOTES,DELETED,ID
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null  ">
		and ID=#{id}
	</if>
	<if test="objectId != null  ">
		and OBJECT_ID=#{objectId}
	</if>
	<if test="objectTypeId != null  ">
		and OBJECT_TYPE_ID=#{objectTypeId}
	</if>
	<if test="propertyId != null  ">
		and PROPERTY_ID=#{propertyId}
	</if>
	<if test="value != null  and value != '' ">
		and VALUE=#{value}
	</if>
	<if test="notes != null  and notes != '' ">
		and NOTES=#{notes}
	</if>
	<if test="deleted != null  and deleted != '' ">
		and DELETED=#{deleted}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="VarcharIndEPV" useGeneratedKeys="true" keyProperty="id">
  insert into PPV_PROPERTY_VALUE_VARCHAR_INDEX(OBJECT_ID,OBJECT_TYPE_ID,PROPERTY_ID,VALUE,NOTES,DELETED)
 values(#{objectId},#{objectTypeId},#{propertyId},#{value},#{notes},#{deleted})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="VarcharIndEPV" >
  update PPV_PROPERTY_VALUE_VARCHAR_INDEX 
  set <trim  suffixOverrides="," >
	<if test="value != null  and value != '' ">
		VALUE=#{value},
	</if>
	<if test="notes != null  and notes != '' ">
		NOTES=#{notes},
	</if>
	</trim> 
   where ID=#{id}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="VarcharIndEPV" >
	update PPV_PROPERTY_VALUE_VARCHAR_INDEX set 
	<trim  suffixOverrides="," >
	<if test="value != null  and value != '' ">
		VALUE=#{value},
	</if>
	<if test="notes != null  and notes != '' ">
		NOTES=#{notes},
	</if>
	</trim> 
	<include refid="Example_Where_Clause"/>
</update>

<!-- logic删除，将deleted 改成 1 -->
<update id="delete" parameterType="VarcharIndEPV">
	update PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	set DELETED=true
	where 1=1
<trim  suffixOverrides="," >
	<if test="id != null  ">
		and ID=#{id}
	</if>
	<if test="objectId != null  ">
		and OBJECT_ID=#{objectId}
	</if>
	<if test="objectTypeId != null  ">
		and OBJECT_TYPE_ID=#{objectTypeId}
	</if>
	<if test="propertyId != null  ">
		and PROPERTY_ID=#{propertyId}
	</if>
	</trim>
</update>
 
<!-- 让这个语句失效 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	where OBJECT_ID = #{objectId} and OBJECT_ID = -1
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="VarcharIndEPV">
	select count(1) from PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="VarcharIndEPV">
	select 
	<include refid="Base_Column_List"/>
	from PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	<include refid="Example_Where_Clause"/>
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from PPV_PROPERTY_VALUE_VARCHAR_INDEX 
	<include refid="Example_Where_Clause"/>
</select>
  	
</mapper>   
