<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IContentSubcontentRelDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="ContentSubcontentRel" >
	<result column="CONTENT_ID" property="firstNode.contentId"/>
	<result column="SUBCONTENT_ID" property="secondNode.subcontentId"/>
	<result column="RELATIONSHIP" property="relType"/>
	<result column="DELETED" property="deleted" />
</resultMap>

<!-- 逻辑删除，将isDelete 改成 0 -->
<update id="delete" parameterType="ParentChildContentRel">
	update CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO set DELETED = true  where SUBCONTENT_ID = #{secondNode.subcontentId}
</update>

<!-- 插入记录 -->
<insert id="insert" parameterType="ParentChildContentRel" >
  insert into CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO(CONTENT_ID,SUBCONTENT_ID,RELATIONSHIP,DELETED)
 values(#{firstNode.contentId},#{secondNode.subcontentId},#{relType},#{deleted})
</insert>

<update id="updateBySelective" parameterType="ParentChildContentRel" >
	update CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO set 
	CONTENT_ID=#{firstNode.contentId}  where  SUBCONTENT_ID=#{secondNode.subcontentId},
</update>
<select id="selectContentBySubcontentId" parameterType="java.lang.Long"  resultType="ContentSubcontentRel">
	select 
	CONTENT_ID,SUBCONTENT_ID,RELATIONSHIP,IS_DELETE
	from CON_CONTENT_SUBCONTENT_RELATIONSHIP_INFO
	where  SUBCONTENT_ID=#{secondNode.subcontentId}
</select>
</mapper>   
