<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IEPMetaDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="EPMeta" >
	<result column="PROPERTY_ID" property="propertyId"/>
	<result column="PROPERTY_CATEGORY_ID" property="propertyCategoryId"/>
	<result column="TYPE_ID" property="typeId"/>
	<result column="PROPERTY_NAME" property="propertyName"/>
	<result column="DESCRIPTION" property="description"/>
	<result column="PROPERTY_CODE" property="propertyCode"/>
	<result column="PROPERTY_OBJECT" property="propertyObject"/>
	<result column="DATA_TYPE" property="dataType"/>
	<result column="DATA_LENGTH" property="dataLength"/>
	<result column="DATA_PRECISION" property="dataPrecision"/>
	<result column="IF_SEARCH" property="ifSearch"/>
	<result column="IF_LIST" property="ifList"/>
	<result column="IF_NOTNULL" property="ifNotnull"/>
	<result column="IF_MULTI" property="ifMulti"/>
	<result column="CREATE_TIME" property="createTime"/>
	<result column="BACKUP" property="backup"/>
	<result column="TABLENAME" property="tablename"/>
	<result column="PARENT_PROPERTY_ID" property="parentPropertyId"/>
	<result column="SEQUENCE" property="sequence"/>
	<result column="INTERFACE_ADDRESS" property="interfaceAddress"/>
	<result column="DISPLAY_TYPE" property="displayType"/>

</resultMap>
       
<!-- CON_PROPERTY_INFO table all fields -->
<sql id="Base_Column_List" >
	 PROPERTY_ID,PROPERTY_CATEGORY_ID,TYPE_ID,PROPERTY_NAME,DESCRIPTION,PROPERTY_CODE,PROPERTY_OBJECT,DATA_TYPE,DATA_LENGTH,DATA_PRECISION,IF_SEARCH,IF_LIST,IF_NOTNULL,IF_MULTI,CREATE_TIME,BACKUP,TABLENAME,PARENT_PROPERTY_ID,SEQUENCE,INTERFACE_ADDRESS,DISPLAY_TYPE
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="propertyId != null  ">
		and PROPERTY_ID=#{propertyId}
	</if>
	<if test="propertyCategoryId != null  ">
		and PROPERTY_CATEGORY_ID=#{propertyCategoryId}
	</if>
	<if test="typeId != null  ">
		and TYPE_ID=#{typeId}
	</if>
	<if test="propertyName != null  and propertyName != '' ">
		and PROPERTY_NAME=#{propertyName}
	</if>
	<if test="description != null  and description != '' ">
		and DESCRIPTION=#{description}
	</if>
	<if test="propertyCode != null  and propertyCode != '' ">
		and PROPERTY_CODE=#{propertyCode}
	</if>
	<if test="propertyObject != null  and propertyObject != '' ">
		and PROPERTY_OBJECT=#{propertyObject}
	</if>
	<if test="dataType != null  and dataType != '' ">
		and DATA_TYPE=#{dataType}
	</if>
	<if test="dataLength != null  ">
		and DATA_LENGTH=#{dataLength}
	</if>
	<if test="dataPrecision != null  ">
		and DATA_PRECISION=#{dataPrecision}
	</if>
	<if test="ifSearch != null  ">
		and IF_SEARCH=#{ifSearch}
	</if>
	<if test="ifList != null  ">
		and IF_LIST=#{ifList}
	</if>
	<if test="ifNotnull != null  ">
		and IF_NOTNULL=#{ifNotnull}
	</if>
	<if test="ifMulti != null  ">
		and IF_MULTI=#{ifMulti}
	</if>
	<if test="createTime != null  ">
		and CREATE_TIME=#{createTime}
	</if>
	<if test="backup != null  and backup != '' ">
		and BACKUP=#{backup}
	</if>
	<if test="tablename != null  and tablename != '' ">
		and TABLENAME=#{tablename}
	</if>
	<if test="parentPropertyId != null  ">
		and PARENT_PROPERTY_ID=#{parentPropertyId}
	</if>
	<if test="sequence != null  ">
		and SEQUENCE=#{sequence}
	</if>
	<if test="interfaceAddress != null  and interfaceAddress != '' ">
		and INTERFACE_ADDRESS=#{interfaceAddress}
	</if>
	<if test="displayType != null  ">
		and DISPLAY_TYPE=#{displayType}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="EPMeta" useGeneratedKeys="true" keyProperty="propertyId">
  insert into CON_PROPERTY_INFO(PROPERTY_CATEGORY_ID,TYPE_ID,PROPERTY_NAME,DESCRIPTION,PROPERTY_CODE,PROPERTY_OBJECT,DATA_TYPE,DATA_LENGTH,DATA_PRECISION,IF_SEARCH,IF_LIST,IF_NOTNULL,IF_MULTI,CREATE_TIME,BACKUP,TABLENAME,PARENT_PROPERTY_ID,SEQUENCE,INTERFACE_ADDRESS,DISPLAY_TYPE)
 values(#{propertyCategoryId},#{typeId},#{propertyName},#{description},#{propertyCode},#{propertyObject},#{dataType},#{dataLength},#{dataPrecision},#{ifSearch},#{ifList},#{ifNotnull},#{ifMulti},#{createTime},#{backup},#{tablename},#{parentPropertyId},#{sequence},#{interfaceAddress},#{displayType})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="EPMeta" >
  update CON_PROPERTY_INFO set PROPERTY_CATEGORY_ID=#{PROPERTY_CATEGORY_ID},TYPE_ID=#{TYPE_ID},PROPERTY_NAME=#{PROPERTY_NAME},DESCRIPTION=#{DESCRIPTION},PROPERTY_CODE=#{PROPERTY_CODE},PROPERTY_OBJECT=#{PROPERTY_OBJECT},DATA_TYPE=#{DATA_TYPE},DATA_LENGTH=#{DATA_LENGTH},DATA_PRECISION=#{DATA_PRECISION},IF_SEARCH=#{IF_SEARCH},IF_LIST=#{IF_LIST},IF_NOTNULL=#{IF_NOTNULL},IF_MULTI=#{IF_MULTI},CREATE_TIME=#{CREATE_TIME},BACKUP=#{BACKUP},TABLENAME=#{TABLENAME},PARENT_PROPERTY_ID=#{PARENT_PROPERTY_ID},SEQUENCE=#{SEQUENCE},INTERFACE_ADDRESS=#{INTERFACE_ADDRESS},DISPLAY_TYPE=#{DISPLAY_TYPE} where PROPERTY_ID=#{propertyId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="EPMeta" >
	update CON_PROPERTY_INFO set 
	<trim  suffixOverrides="," >
	<if test="propertyCategoryId != null  ">
		PROPERTY_CATEGORY_ID=#{propertyCategoryId},
	</if>
	<if test="typeId != null  ">
		TYPE_ID=#{typeId},
	</if>
	<if test="propertyName != null  and propertyName != '' ">
		PROPERTY_NAME=#{propertyName},
	</if>
	<if test="description != null  and description != '' ">
		DESCRIPTION=#{description},
	</if>
	<if test="propertyCode != null  and propertyCode != '' ">
		PROPERTY_CODE=#{propertyCode},
	</if>
	<if test="propertyObject != null  and propertyObject != '' ">
		PROPERTY_OBJECT=#{propertyObject},
	</if>
	<if test="dataType != null  and dataType != '' ">
		DATA_TYPE=#{dataType},
	</if>
	<if test="dataLength != null  ">
		DATA_LENGTH=#{dataLength},
	</if>
	<if test="dataPrecision != null  ">
		DATA_PRECISION=#{dataPrecision},
	</if>
	<if test="ifSearch != null  ">
		IF_SEARCH=#{ifSearch},
	</if>
	<if test="ifList != null  ">
		IF_LIST=#{ifList},
	</if>
	<if test="ifNotnull != null  ">
		IF_NOTNULL=#{ifNotnull},
	</if>
	<if test="ifMulti != null  ">
		IF_MULTI=#{ifMulti},
	</if>
	<if test="createTime != null  ">
		CREATE_TIME=#{createTime},
	</if>
	<if test="backup != null  and backup != '' ">
		BACKUP=#{backup},
	</if>
	<if test="tablename != null  and tablename != '' ">
		TABLENAME=#{tablename},
	</if>
	<if test="parentPropertyId != null  ">
		PARENT_PROPERTY_ID=#{parentPropertyId},
	</if>
	<if test="sequence != null  ">
		SEQUENCE=#{sequence},
	</if>
	<if test="interfaceAddress != null  and interfaceAddress != '' ">
		INTERFACE_ADDRESS=#{interfaceAddress},
	</if>
	<if test="displayType != null  ">
		DISPLAY_TYPE=#{displayType},
	</if>
	</trim> where PROPERTY_ID=#{propertyId}
</update>

<!-- 物理删除-->
<update id="delete" parameterType="EPMeta">
	delete 	 from CON_PROPERTY_INFO where PROPERTY_ID = #{propertyId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from CON_PROPERTY_INFO where PROPERTY_ID = #{propertyId}
</select>
<!-- 查询指定所属对象扩展属性列表 -->
<select id="selectIdListByTypeId"  resultType="Integer" parameterType="java.lang.Long">
	select PROPERTY_ID  from CON_PROPERTY_INFO where PROPERTY_OBJECT = #{propertyObject}
</select>
<select id="selectIdListByPCategoryId"  resultType="Integer" parameterType="java.lang.Long">
	select PROPERTY_ID from CON_PROPERTY_INFO where PROPERTY_CATEGORY_ID=#{propertyCategoryId}
</select>
	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="EPMeta">
	select count(1) from CON_PROPERTY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="EPMeta">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_INFO 
	<include refid="Example_Where_Clause"/>
	
</select>

<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_PROPERTY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_INFO 
	<include refid="Example_Where_Clause"/>
    
</select>
  	
</mapper>   
