<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.mms.dao.IPropertyCategoryDAO" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="PropertyCategory" >
	<result column="PROPERTY_CATEGORY_ID" property="propertyCategoryId"/>
	<result column="PROPERTY_CATEGORY_OBJECT" property="propertyCategoryObject"/>
	<result column="PROPERTY_CATEGORY_NAME" property="propertyCategoryName"/>
	<result column="DESCRIPTION" property="description"/>

</resultMap>
       
<!-- CON_PROPERTY_CATEGORY_INFO table all fields -->
<sql id="Base_Column_List" >
	 PROPERTY_CATEGORY_ID,PROPERTY_CATEGORY_OBJECT,PROPERTY_CATEGORY_NAME,DESCRIPTION
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="propertyCategoryId != null  ">
		and PROPERTY_CATEGORY_ID=#{propertyCategoryId}
	</if>
	<if test="propertyCategoryObject != null  and propertyCategoryObject != '' ">
		and PROPERTY_CATEGORY_OBJECT=#{propertyCategoryObject}
	</if>
	<if test="propertyCategoryName != null  and propertyCategoryName != '' ">
		and PROPERTY_CATEGORY_NAME=#{propertyCategoryName}
	</if>
	<if test="description != null  and description != '' ">
		and DESCRIPTION=#{description}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="PropertyCategory" >
  insert into CON_PROPERTY_CATEGORY_INFO(PROPERTY_CATEGORY_ID,PROPERTY_CATEGORY_OBJECT,PROPERTY_CATEGORY_NAME,DESCRIPTION)
 values(#{propertyCategoryId},#{propertyCategoryObject},#{propertyCategoryName},#{description})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="PropertyCategory" >
  update CON_PROPERTY_CATEGORY_INFO set PROPERTY_CATEGORY_OBJECT=#{PROPERTY_CATEGORY_OBJECT},PROPERTY_CATEGORY_NAME=#{PROPERTY_CATEGORY_NAME},DESCRIPTION=#{DESCRIPTION} where PROPERTY_CATEGORY_ID=#{propertyCategoryId}
 </update>
 
 <!--  -->
<update id="updateBySelective" parameterType="PropertyCategory" >
	update CON_PROPERTY_CATEGORY_INFO set 
	<trim  suffixOverrides="," >
	<if test="propertyCategoryObject != null  and propertyCategoryObject != '' ">
		PROPERTY_CATEGORY_OBJECT=#{propertyCategoryObject},
	</if>
	<if test="propertyCategoryName != null  and propertyCategoryName != '' ">
		PROPERTY_CATEGORY_NAME=#{propertyCategoryName},
	</if>
	<if test="description != null  and description != '' ">
		DESCRIPTION=#{description},
	</if>
	</trim> where PROPERTY_CATEGORY_ID=#{propertyCategoryId}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="PropertyCategory">
	delete 	 from CON_PROPERTY_CATEGORY_INFO where PROPERTY_CATEGORY_ID = #{propertyCategoryId}
</update>
 
<!-- 列表 -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from CON_PROPERTY_CATEGORY_INFO where PROPERTY_CATEGORY_ID = #{propertyCategoryId}
</select>
  	
<!--  列表总数-->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="PropertyCategory">
	select count(1) from CON_PROPERTY_CATEGORY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByModel" resultMap="BaseResultMap"  parameterType="PropertyCategory">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_CATEGORY_INFO 
	<include refid="Example_Where_Clause"/>
	
</select>


<!--  列表总数-->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from CON_PROPERTY_CATEGORY_INFO 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 根据id查询 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from CON_PROPERTY_CATEGORY_INFO 
	<include refid="Example_Where_Clause"/>
    
</select>
  	
</mapper>   
