<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Self_DictionaryMapper">
	<select id="getDicAndItemWithList" resultType="java.util.HashMap" parameterType="com.letv.common.dao.QueryParam">
		select 
		<choose>
			<when test="limit != null">   
                *
            </when> 
			<when test="limit == null">   
                count(1)  
            </when>   
		</choose>
		from `DICTIONARY_INFO` a
		<if test="limit != null and limit.maxRows > -1">
      		limit #{limit.start},#{limit.maxRows}
    	</if>
	</select>
	
</mapper>