.mt10{margin-top:10px;}
.padding-tb-5{ padding: 5px 0;}
.padding-lr-10{padding:0 10px;}
.padding-5{ padding:5px;}
.padding-10{ padding:10px;}

@media (min-device-width: 800px){
	.middleBand{height:75px;}
}
@media screen and(max-width: 480px){
	.middleBand{height:35px;}
}
.bigger-400 {font-size: 400% !important;}
.bigger-500 {font-size: 500% !important;}
.lighter-blue{background-color:#d9edf7;}
.infobox-green{ border-top:2px solid #9abc32 !important;/*border-bottom:2px solid #9abc32 !important;*/}
.infobox-blue{border-top:2px solid  #6fb3e0  !important;/*#6fb3e0border-bottom:2px solid #6fb3e0 !important;*/}
.infobox-blue2{ border-top:2px solid #3983c2 !important;/*border-bottom:2px solid #3983c2 !important;*/}
.infobox-pink{border-top:2px solid #cb6fd7 !important;/*border-bottom:2px solid #cb6fd7 !important;*/}
.infobox-red{border-top:2px solid #d53f40 !important;/*border-bottom:2px solid #d53f40 !important;*/}
.infobox-orange2{border-top:2px solid #f79263 !important;/*border-bottom:2px solid #f79263 !important;*/}
.x-overflow{overflow-x:auto;}
/*Ãÿ ‚*/
.dash-a{color:#fff !important;}
.dash-a:hover{text-decoration: none;color:#5C6166 !important;}
.logo-label{background-color: #00B5AD;height:100%;color:#fff;font-size:20px;letter-spacing:2px;}
.middleBand{background-color: #8bbc21;overflow: hidden;}

