/*begin global style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 14px;
    line-height: 1.42857143;
}

/*end global style*/

/*begin col style*/
.le-col-1, .le-col-2, .le-col-3, .le-col-4, .le-col-5, .le-col-6, .le-col-7, .le-col-8, .le-col-9, .le-col-10, .le-col-11, .le-col-12 {
    float: left;
    padding: 0 12px;
}

.le-col-12 {
    width: 100%;
}

.le-col-11 {
    width: 91.66666667%;
}

.le-col-10 {
    width: 83.33333333%;
}

.le-col-9 {
    width: 75%;
}

.le-col-8 {
    width: 66.66666667%;
}

.le-col-7 {
    width: 58.33333333%;
}

.le-col-6 {
    width: 50%;
}

.le-col-5 {
    width: 41.66666667%;
}

.le-col-4 {
    width: 33.33333333%;
}

.le-col-3 {
    width: 25%;
}

.le-col-2 {
    width: 16.66666667%;
}

.le-col-1 {
    width: 8.33333333%;
}
.le-col-offset-12 {
    margin-left: 100%;
  }
  .le-col-offset-11 {
    margin-left: 91.66666667%;
  }
  .le-col-offset-10 {
    margin-left: 83.33333333%;
  }
  .le-col-offset-9 {
    margin-left: 75%;
  }
  .le-col-offset-8 {
    margin-left: 66.66666667%;
  }
  .le-col-offset-7 {
    margin-left: 58.33333333%;
  }
  .le-col-offset-6 {
    margin-left: 50%;
  }
  .le-col-offset-5 {
    margin-left: 41.66666667%;
  }
  .le-col-offset-4 {
    margin-left: 33.33333333%;
  }
  .le-col-offset-3 {
    margin-left: 25%;
  }
  .le-col-offset-2 {
    margin-left: 16.66666667%;
  }
  .le-col-offset-1 {
    margin-left: 8.33333333%;
  }
  .le-col-offset-0 {
    margin-left: 0;
  }
/*end col style*/

/*begin clearfix style*/
.le-clearfix:before,
.le-clearfix:after,
.le-row:before,
.le-row:after {
    content: " ";
    display: table;
}

.le-clearfix:after,
.le-row:after {
    clear: both;
}

/*end clearfix style*/

/*begin le-row style*/
.le-row {
    padding: 10px 0;
}

/*end le-row style*/

/*begin le-form-control style*/
.le-form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
}

/*end le-form-control style*/

/*begin le-list-inline style*/
.le-list-inline {
    /*padding-left: 0;
    margin-left: -5px;*/
    list-style: none;
}

/*end le-form-control style*/

/*begin le-search-box style*/
.le-search-box{
    height: 32px;
    width: 240px;
    position: relative;
    padding-right: 30px;
    border: 1px solid #088ac2;
}
.le-search-box input{
    height: 30px;
    width: 210px;
    border: none;
    padding: 2px;
}

.le-search-box input:focus {
    outline: none;
}
.le-search-box .search-icon{
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    background-image: url("/static/images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
/*end le-search-box style*/

/*begin le-dropdown style*/
.le-dropdown{
    display: block;
    position: relative;
}
.le-dropdown > a{
    width: 100%;
}
.le-dropdown .le-dropdown-menu{
    display: none;
    background-color: #ebebeb;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1099;
    width: 100%;
}
.le-dropdown.open .le-dropdown-menu{
    display: block;
}
/*end le-dropdown style*/

/*begin le-confim style*/
.le-confirm{
    width: 398px;
    height: 238px;
}
.le-confirm .confirm-header{
    height: 50px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #088ac2;
    border-bottom: 1px solid #088ac2;
    text-align: center;
}
.le-confirm .confirm-header .confirm-title,.le-confirm .confirm-header .close{
    line-height: 50px;
    vertical-align: middle;
}
.le-confirm .confirm-header .confirm-title{
    font-size: 16px;
}
.le-confirm .confirm-header .close > i{
    font-size: 30px;
    transform:rotate(45deg);
    display: block;
    color: #088ac2;
    font-weight: 100;
    opacity: 1;
}
.le-confirm .confirm-content{
    width: 100%;
    height: 100px;
    padding: 0;
    text-align: center;
}
.le-confirm .confirm-content .confirm-message{
    line-height: 100px;
}

.le-confirm .confirm-content i{
    font-size: 35px;
    line-height: 100px;
    vertical-align: middle;
    color: #ff3c37;
}

.le-confirm .confirm-operation{
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
}

.le-confirm .confirm-operation .btn-le-blue{
    margin-right: 30px;
}
/*end le-confim style*/

/*begin le-input-validation style*/
input.ng-invalid.ng-touched {
    border: 1px solid #ff3c37;
}
.le-input-validation{font-size: 12px;color: #ff3c37;line-height: 20px;}
/*end le-input-validation style*/

/*begin letv-checkbox style*/
.letv-mutiCheck{height:24px;border:1px solid #dbdbdb;margin:3px 2px 3px 0;font-size:12px;color:#333;display:inline-block;text-align: center;}
.letv-mutiCheck span{line-height: 22px}
.letv-mutiCheck i{line-height: 22px;color: #dbdbdb;}
.letv-mutiCheck.selected{border-color:#088ac2; }
.letv-mutiCheck.selected i{color: #088ac2;}
/*begin letv-checkbox style*/

/*begin letv-radioCheck style*/
.radio-check-group{line-height: 30px;}
.letv-radioCheck{width: 80px;height: 22px;line-height: 22px;padding: 0;margin:0;display: inline-block;}
.letv-radioCheck i.iconfont{color: #dbdbdb; }
.letv-radioCheck.selected i.iconfont,.letv-radioCheck.selected span.letv-radio-content{color: #088ac2; }
/*begin letv-radioCheck style*/

/*begin letv-numeric-input style*/
numeric-input{
    height: 30px;
    width: 60px;
    position: relative;
    display: block;
    border: 1px solid #d2d2d2;
}
numeric-input input.input-value{
    height: 100%;
    width: 45px;
    border-width: 0;
    padding: 0 0 0 2px;
}

numeric-input input.input-value:focus {
    outline:none;
}
numeric-input .up-down{
    display: block;
    height: 100%;
    width: 15px;
    position: absolute;
    right: 0;
    top: 0;
    background: #f5f5f5;
}
numeric-input .up-down > a{
    height: 50%;
    display: block;
    text-align: center;
    line-height: 14px;
}
numeric-input .up-down > a > i{
    color: #666;
}
/*begin letv-numeric-input style*/

/*begin spin style*/
.spin {
    background-image: url('/static/images/stick-loading.gif');
    background-size: 50px 50px;
    position: absolute;
    left: 48%;
    top: 250px;
    z-index: 999;
    text-align: center;
    height: 50px;
    width: 50px;
}

.far-spin {
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    top:0px;
    left:0px;
    z-index:998;
    background:#DDD;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
/*end spin style*/

/*begin view-common style*/
.view-common .operate-panel > .le-btn-group > .btn{
    margin-right: 10px;
}


.view-common .operate-panel .more-operation-dropdown{
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
}

.view-common .operate-panel .more-operation-dropdown .dropdown-menu{
    min-width: 0;
    width: 100%;
    background-color: #f5f5f5;
    margin:0;
    padding: 0 0 5px;
}
.view-common .operate-panel .more-operation-dropdown .dropdown-menu >li >a{
    padding: 2px 0;
    text-align: center;
}
.view-common .operate-panel .more-operation-dropdown .dropdown-menu >li >a:hover{
    color: white;
    background-color: #b3b3b3;
    text-align: center;
}

.view-common .list-common th .icon-righticon{
    color: white;
    background-color: white;
}

.view-common .list-common th .icon-righticon.checked{
    color: #088ac2;
}

.view-common .list-common tr .icon-checkiconfill{
    color: white;
    border: 1px solid #ddd;
    background: white;
}

.view-common .list-common tr .icon-checkiconfill.checked{
    border-width: 0;
    font-size: 18px;
    color: #088ac2;
}
.view-common .list-common .icon-monitor{
    font-size: 24px;
    color: #f5c131;
}
.view-common .list-common .icon-computer{
    font-size: 24px;
    color: #08c2b3;
}
.view-common .list-common .status-loading{
    display: inline-block;
    position: relative;
    top: 7px;
    left: 5px;
    background-image: url('/static/images/point-loading.gif');
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
}
/*end view-common style*/

/*begin btn-le style*/
.btn-le-blue, .btn-le-blueGreen, .btn-le-green, .btn-le-yellow, .btn-le-red {
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 14px;
    border: none;
}

.btn-le-blue > *, .btn-le-blueGreen > *, .btn-le-green > *, .btn-le-yellow > *, .btn-le-red > * {
    line-height: 30px;
}

.btn-le-blue {
    background-color: #088ac2;
    color: #fff;
}

.btn-le-blueGreen {
    background-color: #08aec2;
    color: #fff;
}

.btn-le-green {
    background-color: #08c2b3;
    color: #fff;
}

.btn-le-yellow {
    background-color: #f5c131;
    color: #fff;
}

.btn-le-red {
    background-color: #ff3c37;
    color: #fff;
}
/*end btn-le style*/

/*begin le-text style*/
.text-blue {
    color: #077cae;
}

.text-blueGreen {
    color: #08aec2;
}

.text-green {
    color: #08c2b3;
}

.text-yellow {
    color: #f5c131;
}

.text-red {
    color: #ff3c37;
}
/*end le-text style*/
