/*begin global style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 14px;
    line-height: 1.42857143;
}

/*end global style*/

/*begin col style*/
.le-col-1, .le-col-2, .le-col-3, .le-col-4, .le-col-5, .le-col-6, .le-col-7, .le-col-8, .le-col-9, .le-col-10, .le-col-11, .le-col-12 {
    float: left;
    padding: 0 12px;
}

.le-col-12 {
    width: 100%;
}

.le-col-11 {
    width: 91.66666667%;
}

.le-col-10 {
    width: 83.33333333%;
}

.le-col-9 {
    width: 75%;
}

.le-col-8 {
    width: 66.66666667%;
}

.le-col-7 {
    width: 58.33333333%;
}

.le-col-6 {
    width: 50%;
}

.le-col-5 {
    width: 41.66666667%;
}

.le-col-4 {
    width: 33.33333333%;
}

.le-col-3 {
    width: 25%;
}

.le-col-2 {
    width: 16.66666667%;
}

.le-col-1 {
    width: 8.33333333%;
}

/*end col style*/

/*begin clearfix style*/
.le-clearfix:before,
.le-clearfix:after,
.le-row:before,
.le-row:after {
    content: " ";
    display: table;
}

.le-clearfix:after,
.le-row:after {
    clear: both;
}

/*end clearfix style*/

/*begin le-row style*/
.le-row {
    padding: 10px 0;
}

/*end le-row style*/

/*begin le-form-control style*/
.le-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
}

/*end le-form-control style*/

/*begin le-list-inline style*/
.le-list-inline {
    /*padding-left: 0;
    margin-left: -5px;*/
    list-style: none;
}

/*end le-form-control style*/

/*begin letv-checkbox style*/
.letv-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #ededed;
    background: #fff;
    padding: 1px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.letv-checkbox span{
    position: absolute;
    left: 2px;
}

.letv-checkbox.active {
    border: 1px solid #0874a2;
    background: #088ac2;
}
/*end letv-checkbox style*/

/*begin le-search-box style*/
.le-search-box{
    height: 32px;
    width: 240px;
    position: relative;
    padding-right: 30px;
    border: 1px solid #088ac2;
}
.le-search-box input{
    height: 30px;
    width: 210px;
    border: none;
}

.le-search-box input:focus {
    outline: none;
}
.le-search-box .search-icon{
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    background-image: url("/static/images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
/*end le-search-box style*/

/*begin le-dropdown style*/
.le-dropdown{
    display: block;
    position: relative;
}
.le-dropdown > a{
    width: 100%;
}
.le-dropdown .le-dropdown-menu{
    display: none;
    background-color: #ebebeb;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1099;
    width: 100%;
}
.le-dropdown.open .le-dropdown-menu{
    display: block;
}
/*end le-dropdown style*/

/*begin le-confim style*/
.le-confirm{
    width: 398px;
    height: 238px;
}
.le-confirm .confirm-header{
    height: 50px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #088ac2;
    border-bottom: 1px solid #088ac2;
    text-align: center;
}
.le-confirm .confirm-header .confirm-title,.le-confirm .confirm-header .close{
    line-height: 50px;
    vertical-align: middle;
}
.le-confirm .confirm-header .confirm-title{
    font-size: 16px;
}
.le-confirm .confirm-header .close > i{
    font-size: 30px;
    transform:rotate(45deg);
    display: block;
    color: #088ac2;
    font-weight: 100;
    opacity: 1;
}
.le-confirm .confirm-content{
    width: 100%;
    height: 100px;
    padding: 0;
    text-align: center;
}
.le-confirm .confirm-content .confirm-message{
    line-height: 100px;
}

.le-confirm .confirm-content i{
    font-size: 35px;
    line-height: 100px;
    vertical-align: middle;
    color: red;
}

.le-confirm .confirm-operation{
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
}

.le-confirm .confirm-operation .btn-le-blue{
    margin-right: 30px;
}
/*end le-confim style*/
