.text-gray{color:#888}
.no-paddingR{padding-right:0;}
.no-paddingL{padding-left:0;}
/*滚动条*/
::-webkit-scrollbar{width: 7px;box-shadow: 2px 2px 3px 0;}
::-webkit-scrollbar-track{background-color:rgba(235,235,235,1);}
::-webkit-scrollbar-thumb{background:#d0cfcf;}
::-webkit-scrollbar-button {height:7px;background:#dbdbdb;}
::-webkit-scrollbar-corner{background:#d0cfcf;}
.main-body{width:1079px;width:100%;min-width:1079px;}
/*header*/
.header .header-account .account-icon{width:26px;height:26px;border-radius:50%;}
/*account*/
.body-account{height:200px;padding-top:45px;border:1px solid #ededed;font-size:12px;color:#333;background-color:#fbfbfb}
.body-account ul{margin:10px 0 0 0;}
.body-account ul li{margin-right:10px;list-style:none;color:#088ac2;display:inline;}
.body-account li i{font-size:24px;}
.body-account .message{margin:10px 0 0 0;}
.body-account .message .message-num{padding:0 10px 0 0;font-size:18px;color:#088ac2;}
.body-account .remain{font-size:20px;color:#ff3c37;}
.body-account .userimg{width:70px;height:70px;border-radius:50%}
/*operation*/
.body-operation{font-size:12px;color:#333;}
.body-operation .operation-title{}
.operation-title .operation-column{/*height:17px;border:3px solid #088ac2;border-top:0;border-bottom:0;border-radius:2px;*/font-size:18px;color:#088ac2;}
.operation-title .title{padding-left:20px;font-size:14px;}
.operation-title .more{color:#088ac2;float:right;}
.operation-title .more:hover{cursor:pointer;text-decoration:none;}
.body-operation .operation-items{height:170px;margin:10px 0 0 0;border:1px solid #ededed;overflow:hidden;}
.body-operation .operation-items.operation-noitems{font-size:16px;line-height:168px;text-align:center;color:#888;}
.operation-items.operation-noitems i{font-size:32px;}
.body-operation .operation-items li{padding:8px 15px 8px 20px;list-style:none;border-bottom:1px solid #ededed;}
.body-operation .operation-items li.last{border-bottom:0;padding-bottom: 9px;}
.body-operation .operation-items li.third{border-bottom:0;}
.body-operation.zhankai .operation-items li.third{border-bottom:1px solid #ededed;}
.body-operation .operation-items li.gotop{display:none;}
.body-operation.zhankai .operation-items li.gotop{display:block;}
.operation-items .items-desc{margin-top:5px;}
/*.operation-items li.last .items-desc{margin-top:6px;}*/

/* 最近操作交互样式 by yk*/
.le-expander{overflow: hidden;height:615px;}
.le-expander .operation-expander{overflow:auto; }

/*.buyed*/
.body-buyed{height:385px;margin-top:30px;}
.body-buyed .buyed-products{margin-top:15px;}
.buyed-products .product{width:40%;height:175px;padding:25px 0 15px 0;text-align:center;color:#fff;background:#088ac2;float:left;display: block;text-decoration: none;}
.product .iconfont{font-size:45px;display:block;}
.product .product-title{margin-top:5px;font-size:16px;}
.product .product-num{margin-top:10px;font-size:14px;}
.buyed-products .productDesc{width:60%;height:175px;padding:30px 15px 0 25px;border:1px solid #ededed;border-left:0;border-right:0;font-size:12px;float:left;color:#888;background-color:#fbfbfb}
.buyed-products .productDesc.last{border-right:1px solid #ededed;}
.productDesc .productDesc-consume{margin:10px 0 15px 0;font-size:18px;color:#ff3c37;}
.productDesc-consume .icon-moneyicon{font-size:25px;}
.product.harddisk{background:#08aec2;}
/*source quota*/
.body-quota{margin-top:30px;font-size:12px;color:#333;}
.body-quota .quota-items{margin-top:15px;height:350px;overflow-y:scroll !important;}
.quota-items .quota-item{height:62px;margin-bottom:10px;border:1px solid #ededed;border-left:3px solid #dbdbdb;overflow:hidden;background-color:#fbfbfb}
/*.quota-items .quota-item.last{margin-bottom:0;}*/
.quota-item .item-source{width:60%;height:60px;padding:10px 10px 5px 10px;display:inline-block;}
.item-source span{letter-spacing:2px;}
.item-source .source-precent{margin-top:5px;height:6px;}
.source-precent .active{height:6px;background:#088ac2;float:left}
.source-precent .unactive{height:6px;background:#dbdbdb;float:left}
.quota-item .item-quota{width:60px;width:16.5%;min-width:60px;height:62px;margin-top:-1px;padding:15px 10px;color:#fff;background:#08aec2;display:inline-block;float:right;}
.item-quota .quota-line{margin:0 auto;border-top:1px solid #fff;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
/*recommend*/
.body-recommend{margin-top:30px;}
.body-recommend .recommend-items{margin-top:15px;font-size:14px;color:#333;}
.recommend-items .recommend-item{border:1px solid #ededed;border-right:0;background-color:#fbfbfb}
.recommend-items .recommend-item.last{border-right:1px solid #ededed;}
.recommend-item .iconfont{padding:0 10px;font-size:60px;color:#088ac2;}
.recommend-item .item-title{padding-top:25px;}
.recommend-item .item-desc{padding-top:10px;font-size:12px;color:#888;}
.recommend-item .item-detail{padding-top:10px;font-size:12px;}
.recommend-item .item-buttons{margin:25px 0;}