
/*begin custom iconfont style*/
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-proback:before { content: "\e614"; }
.icon-loadblance:before { content: "\e613"; }
.icon-gce:before { content: "\e610"; }
.icon-yunzhuji:before { content: "\e60c"; }
.icon-game:before { content: "\e603"; }
.icon-movie:before { content: "\e604"; }
.icon-shopping:before { content: "\e607"; }
.icon-xinfeng:before { content: "\e609"; }
.icon-weixin:before { content: "\e608"; }
.icon-music:before { content: "\e605"; }
.icon-icon:before { content: "\e600"; }
.icon-rds:before { content: "\e60f"; }
.icon-snapshoticon:before { content: "\e61e"; }
.icon-shearicon:before { content: "\e61d"; }
.icon-neticon:before { content: "\e61b"; }
.icon-routeicon:before { content: "\e61c"; }
.icon-cloudstorageicon:before { content: "\e619"; }
.icon-ipicon:before { content: "\e61a"; }
.icon-blockicon:before { content: "\e618"; }
.icon-camera:before { content: "\e601"; }
.icon-rds1:before { content: "\e617"; }
/*end custom iconfont style*/

/*begin override bootstrap style*/
.btn {
    border-radius:2px;
}

/*begin override bootstrap style*/

/*begin override toaster style*/
.toast-bottom-right {
    bottom: 30px;
}

/*begin override toaster style*/

/*begin header style*/
body {
    background-color: #ebebeb;
}
.header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #088ac2;
}

.header .header-brand {
    display: block;
    height: 70px;
    width: 230px;
    background-color: #077cae;
    padding: 15px 0 10px 20px;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: white;
}

.header .header-brand .brand-logo {

}

.header .header-brand span {
    font-size: 24px;
    line-height: 50px;
}

.header .header-brand span small {
    margin-left: 5px;
    font-size: 14px;
}

.header .account {
    display: inline;
    line-height: 50px;
    margin-right: 10px;
}

.header .account .dropdown-menu a {
    color: black;
}

/*end header style*/

/*begin footer style*/
.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    color: white;
    background-color: #333333;
}

.footer .copyright {
    line-height: 30px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

/*end footer style*/

/*begin main style*/
.main {
    margin-top: 70px;
}

.main .side-bar {
    position: fixed;
    left: 0;
    top: 70px;
    float: left;
    margin-right: -100%;
    margin-top: 10px;
    width: 230px;
    height: auto;
    max-height: none;
}

.main .content-wrapper {
    width: 100%;
    float: left;
}

.main .content-wrapper .content {
    margin-left: 230px;
    padding: 25px 20px 10px 20px;
    min-height: 600px;
    background-color: white;
}

/*end main style*/

/*begin side-menu style*/
.side-menu {
    list-style: none;
}

.side-menu a {
    color: #b4bcc8;
    text-decoration: none;
}

.side-menu .menu-item {
    display: block;
}

.side-menu .menu-item > a {
    display: block;
    padding: 15px 15px 15px 70px;
    color: #58717c;
}

.side-menu .menu-item > a:hover {
    background-color: #2C3542;
    color: white;
}

.side-menu .menu-item.active > a {
    background: white;
    color: #088ac2;
    margin-left: 20px;
    padding: 15px 15px 15px 46px;
    border-left: 4px solid #088ac2;
}

.side-menu .menu-item > a > i {
    margin-right: 10px;
    font-size: 30px;
    line-height: 20px;
    vertical-align: middle;
}

.side-menu .menu-item > a > span {
    vertical-align: middle;
}

.side-menu .menu-item .submenu {
    display: none;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.side-menu .menu-item.open .submenu {
    display: block;
}

.side-menu .menu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a {
    display: block;
    padding: 6px 15px 6px 30px;
}

.side-menu .menu-item .submenu .submenu-item.active > a {
    background: #3e4b5c;
}

.side-menu .menu-item .submenu .submenu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item .submenu .submenu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a > i {
    visibility: hidden;
}

.side-menu .menu-item .submenu .submenu-item.active > a > i {
    visibility: visible;
    font-size: 12px;
    margin-right: 5px;
}


/*end side-menu style*/

/*begin container-cluster-view style*/
.virtual-machine-view .grid .table {
    margin-bottom: 0;
}

.vm-create-modal-body .vm-image-selector {
    width: 200px;
    padding: 10px;
}

.vm-create-modal-body .vm-image-selector li a,
.vm-create-modal-body .vm-cpu-selector li a,
.vm-create-modal-body .vm-ram-selector li a,
.vm-create-modal-body .vm-disk-selector li a,
.vm-create-modal-body .vm-network-type-selector li a,
.vm-create-modal-body .vm-network-public_ip_model-selector li a,
.vm-create-modal-body .vm-security-type-selector li a{
    display: block;
    padding: 2px 4px;
    border: 1px solid #ccc;
    margin: 2px;
    text-decoration: none;
}

.vm-create-modal-body .vm-image-selector li.selected a,
.vm-create-modal-body .vm-cpu-selector li.selected a,
.vm-create-modal-body .vm-ram-selector li.selected a,
.vm-create-modal-body .vm-disk-selector li.selected a,
.vm-create-modal-body .vm-network-type-selector li.selected a,
.vm-create-modal-body .vm-network-public_ip_model-selector li.selected a,
.vm-create-modal-body .vm-security-type-selector li.selected a{
    background-color: #286090;
    color: white;
}

/*begin container-cluster-view style*/
/*add by gm 2015-9-13*/
.btn-le-blue{background-color:#077cae;color:#fff;}
.btn-le-blueGreen{background-color:#08aec2;color:#fff;}
.btn-le-green{background-color:#08c2b3;color:#fff;}
.btn-le-yellow{background-color:#f5c131;color:#fff;}
.btn-le-red{background-color:#ff3c37;color:#fff;}

.text-blue{color:#077cae;}
.text-blueGreen{color:#08aec2;}
.text-green{color:#08c2b3;}
.text-yellow{color:#f5c131;}
.text-red{color:#ff3c37;}
/*end container-cluster-view style*/