*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {font-family:'Microsoft YaHei';font-size:62.5%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
/*begin custom iconfont style*/
@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-proback:before {
    content: "\e614";
}

.icon-loadblance:before {
    content: "\e613";
}

.icon-gce:before {
    content: "\e610";
}

.icon-yunzhuji:before {
    content: "\e60c";
}

.icon-game:before {
    content: "\e603";
}

.icon-movie:before {
    content: "\e604";
}

.icon-shopping:before {
    content: "\e607";
}

.icon-xinfeng:before {
    content: "\e609";
}

.icon-weixin:before {
    content: "\e608";
}

.icon-music:before {
    content: "\e605";
}

.icon-icon:before {
    content: "\e600";
}

.icon-rds:before {
    content: "\e60f";
}

.icon-snapshoticon:before {
    content: "\e61e";
}

.icon-shearicon:before {
    content: "\e61d";
}

.icon-neticon:before {
    content: "\e61b";
}

.icon-routeicon:before {
    content: "\e61c";
}

.icon-cloudstorageicon:before {
    content: "\e619";
}

.icon-ipicon:before {
    content: "\e61a";
}

.icon-blockicon:before {
    content: "\e618";
}

.icon-camera:before {
    content: "\e601";
}

.icon-rds1:before {
    content: "\e617";
}

/*end custom iconfont style*/

/*begin override bootstrap style*/
.btn {
    border-radius: 2px;
}

.table {
    margin-bottom: 0;
    font-size: 12px;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #088ac2;
    color: white;
}

.table thead tr th {
    text-align: center;
    height: 40px;
    border: none;
    vertical-align: middle;
}

.table thead th > * {
    border-bottom-width: 1px;
    border-top-width: 1px;
    line-height: 22px;
}

.table tbody tr td {
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.table tbody tr td > * {
    line-height: 32px;
}

/*begin override bootstrap style*/

/*begin override toaster style*/
.toast-bottom-right {
    bottom: 30px;
}

/*begin override toaster style*/

/*begin header style*/
body {
    background-color: #ebebeb;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #088ac2;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: white;
}

.header .header-brand {
    display: block;
    height: 70px;
    width: 230px;
    background-color: #077cae;
    padding: 15px 0 10px 20px;
}

.header .header-brand .brand-logo {

}

.header .header-help, .header .header-account {
    height: 70px;
}

.header .header-help {
    margin-right: 30px;
}

.header .header-account {
    margin-right: 20px;
}

.header .header-help .help-icon, .header .header-account .account-icon {
    line-height: 70px;
}

.header .header-help span, .header .header-account span {
    line-height: 70px;
    font-size: 14px;
}

/*end header style*/

/*begin footer style*/
.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    color: white;
    background-color: #333333;
}

.footer .copyright {
    line-height: 30px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

/*end footer style*/

/*begin main style*/
.main {
    margin-top: 70px;
}

.main .side-bar {
    position: fixed;
    left: 0;
    top: 70px;
    float: left;
    margin-right: -100%;
    margin-top: 10px;
    width: 230px;
    height: auto;
    max-height: none;
}

.main .content-wrapper {
    width: 100%;
    float: left;
}

.main .content-wrapper .content {
    margin-left: 230px;
    padding: 25px 20px 10px 20px;
    min-height: 600px;
    background-color: white;
}

/*end main style*/

/*begin side-menu style*/
.side-menu {
    list-style: none;
}

.side-menu a {
    color: #b4bcc8;
    text-decoration: none;
}

.side-menu .menu-item {
    display: block;
}

.side-menu .menu-item > a {
    display: block;
    padding: 15px 15px 15px 70px;
    color: #58717c;
}

.side-menu .menu-item > a:hover {
    background-color: #2C3542;
    color: white;
}

.side-menu .menu-item.active > a {
    background: white;
    color: #088ac2;
    margin-left: 20px;
    padding: 15px 15px 15px 46px;
    border-left: 4px solid #088ac2;
}

.side-menu .menu-item > a > i {
    margin-right: 10px;
    font-size: 30px;
    line-height: 20px;
    vertical-align: middle;
}

.side-menu .menu-item > a > span {
    vertical-align: middle;
}

.side-menu .menu-item .submenu {
    display: none;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.side-menu .menu-item.open .submenu {
    display: block;
}

.side-menu .menu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a {
    display: block;
    padding: 6px 15px 6px 30px;
}

.side-menu .menu-item .submenu .submenu-item.active > a {
    background: #3e4b5c;
}

.side-menu .menu-item .submenu .submenu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item .submenu .submenu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a > i {
    visibility: hidden;
}

.side-menu .menu-item .submenu .submenu-item.active > a > i {
    visibility: visible;
    font-size: 12px;
    margin-right: 5px;
}

/*end side-menu style*/

/*begin virtual-machine-view style*/
.vm-create-modal-body .vm-image-selector {
    width: 200px;
    padding: 10px;
}

.vm-create-modal-body .vm-image-selector li a,
.vm-create-modal-body .vm-cpu-selector li a,
.vm-create-modal-body .vm-ram-selector li a,
.vm-create-modal-body .vm-disk-selector li a,
.vm-create-modal-body .vm-network-type-selector li a,
.vm-create-modal-body .vm-network-public_ip_model-selector li a,
.vm-create-modal-body .vm-security-type-selector li a {
    display: block;
    padding: 2px 4px;
    border: 1px solid #ccc;
    margin: 2px;
    text-decoration: none;
}

.vm-create-modal-body .vm-image-selector li.selected a,
.vm-create-modal-body .vm-cpu-selector li.selected a,
.vm-create-modal-body .vm-ram-selector li.selected a,
.vm-create-modal-body .vm-disk-selector li.selected a,
.vm-create-modal-body .vm-network-type-selector li.selected a,
.vm-create-modal-body .vm-network-public_ip_model-selector li.selected a,
.vm-create-modal-body .vm-security-type-selector li.selected a {
    background-color: #286090;
    color: white;
}

.btn-le-blue, .btn-le-blueGreen, .btn-le-green, .btn-le-yellow, .btn-le-red {
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 14px;
    border: none;
}
/*begin container-cluster-view style*/

.btn-le-blue > *, .btn-le-blueGreen > *, .btn-le-green > *, .btn-le-yellow > *, .btn-le-red > * {
    line-height: 30px;
}

.btn-le-blue {
    background-color: #088ac2;
    color: #fff;
}

.btn-le-blueGreen {
    background-color: #08aec2;
    color: #fff;
}

.btn-le-green {
    background-color: #08c2b3;
    color: #fff;
}

.btn-le-yellow {
    background-color: #f5c131;
    color: #fff;
}

.btn-le-red {
    background-color: #ff3c37;
    color: #fff;
}

.text-blue {
    color: #077cae;
}

.text-blueGreen {
    color: #08aec2;
}

.text-green {
    color: #08c2b3;
}

.text-yellow {
    color: #f5c131;
}

.text-red {
    color: #ff3c37;
}

.virtual-machine-view .operate-panel .more-operation-dropdown{
    width: 100px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.virtual-machine-view .operate-panel .more-operation-dropdown .dropdown-menu{
    min-width: auto;
    width: 100%;
}
/*end virtual-machine-view style*/
/*modal-self*/
.modal-720{width:720px;min-width:720px;}
.letv-modal-header{height:50px;border-bottom:1px solid #088ac2;text-align:center;font-size:16px;color:#088ac2;}
.letv-modal-header .modal-title{font-size:16px;}
.letv-modal-header .close{font-size:32px;font-weight:400;line-height:.5;color:#088ac2;filter:alpha(opacity=100);opacity:1;}
/*modal-vm-create*/
.body-left .left-flow{margin-top:30px;}
.left-flow .flow-desc{width:56px;text-align:center;font-size:14px;color:#088ac2}
.left-flow .flow-desc.unactive{color:#dbdbdb;}
.flow-desc .flow-dot-parent{margin:0 auto;margin-bottom:20px;/*15+5*/width:30px;height:15px;border:2px solid #088ac2;border-bottom:0;border-top-left-radius:30px;border-top-right-radius:30px;text-align:left;}
.flow-desc .flow-dot-parent.unactive{border:2px solid #dbdbdb;border-bottom:0;}
.flow-dot-parent .dot-parent-child{width:22px;height:22px;margin:2px 0 0 2px;padding-top:3px;border:1px solid #088ac2;border-radius:20px;text-align:center;font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#fff;background:#088ac2;}
.flow-dot-parent .dot-parent-child.unactive{border:1px solid #dbdbdb;background:#dbdbdb;}
.left-flow .flow-line{width:90px;border:1px solid #088ac2;margin:14px -14px 0 -14px;}
.left-flow .flow-line.unactive{border:1px solid #dbdbdb;}
.body-left .left-inputs{margin-top:25px;}
.left-inputs .inputs-item{margin-bottom:15px;}
.inputs-item>.col-sm-3{padding-right:0;text-align:right;}
.system-content{padding:5px 0 10px 0;font-size:12px;}
.system-content>.col-sm-6{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.body-right{height:375px;background:#f5f5f5;font-size:12px;color:#333;}
.body-right .right-top{margin-top:15px;border-bottom:1px solid #d2d2d2;font-size:14px;}
.right-top ul{margin:30px 0 0 25px;padding:0;}
.right-top ul li{margin-bottom:10px;list-style:none;font-size:12px;color:#666;}
.right-top li span{padding-left:10px;}
.body-right .right-bottom{padding:10px 0 0 25px;}
.body-right .right-bottom span{padding:0 5px 0 10px;font-size:18px;color:#ff3c37;}
.body-left .left-button{margin-top:60px;}
/*input-self*/
.letv-control-label{line-height:34px;}
/*tab-self*/
.letv-nav-tab>li{margin-right:10px;}
.letv-nav-tab>li>a{padding:6px 24px;border-radius:2px;font-size:12px;background:#e6e6e6;color:#333;}
.letv-nav-tab>li>a:hover{cursor:pointer;color:#333;background:#e6e6e6}
.letv-nav-tab>li>a.activea{border-radius:2px;background:#088ac2;color:#fff;}
.letv-nav-tab>li>a.activea:hover{cursor:pointer;color:#fff;background:#088ac2}
.letv-tab-content{border:1px solid #d2d2d2;border-top:0;padding:15px 0 10px 0;}
/*radio-self*/
.radio-content{line-height:14px;}
.radio-parent{width:14px;height:14px;border:1px solid #088ac2;border-radius:14px;background:#fff;text-align:left;display:inline-block;}
.radio-parent .parent-child{margin:3.5px;}
.parent-child .child-dot{width:5px;height:5px;background:#088ac2;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg); }
/*end container-cluster-view style*/