*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {font-family:'Microsoft YaHei';font-size:62.5%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
/*begin custom iconfont style*/

@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-roundcheckfill:before { content: "\e600"; }
.icon-roundcheck:before { content: "\e601"; }
.icon-myfill:before { content: "\e602"; }
.icon-my:before { content: "\e603"; }
.icon-round:before { content: "\e604"; }
.icon-roundaddfill:before { content: "\e605"; }
.icon-roundadd:before { content: "\e606"; }
.icon-info:before { content: "\e607"; }
.icon-shenfenrenzheng:before { content: "\e62c"; }
.icon-icon:before { content: "\e608"; }
.icon-camera:before { content: "\e609"; }
.icon-game:before { content: "\e60a"; }
.icon-movie:before { content: "\e60b"; }
.icon-music:before { content: "\e60c"; }
.icon-shopping:before { content: "\e60d"; }
.icon-weixin:before { content: "\e60e"; }
.icon-xinfeng:before { content: "\e60f"; }
.icon-mark:before { content: "\e610"; }
.icon-attentionfill:before { content: "\e611"; }
.icon-attention:before { content: "\e612"; }
.icon-computer:before { content: "\e62f"; }
.icon-arrow01:before { content: "\e62e"; }
.icon-radiobox:before { content: "\e613"; }
.icon-rounddown:before { content: "\e614"; }
.icon-writefill:before { content: "\e615"; }
.icon-write:before { content: "\e616"; }
.icon-add:before { content: "\e617"; }
.icon-move:before { content: "\e618"; }
.icon-monitor:before { content: "\e631"; }
.icon-yunzhuji:before { content: "\e619"; }
.icon-rds:before { content: "\e61a"; }
.icon-gce:before { content: "\e61b"; }
.icon-loadblance:before { content: "\e61c"; }
.icon-proback:before { content: "\e61d"; }
.icon-rds1:before { content: "\e61e"; }
.icon-blockicon:before { content: "\e61f"; }
.icon-cloudstorageicon:before { content: "\e620"; }
.icon-ipicon:before { content: "\e621"; }
.icon-neticon:before { content: "\e622"; }
.icon-routeicon:before { content: "\e623"; }
.icon-shearicon:before { content: "\e624"; }
.icon-snapshoticon:before { content: "\e625"; }
.icon-icon1:before { content: "\e626"; }
.icon-icon2:before { content: "\e627"; }
.icon-checkblockicon:before { content: "\e628"; }
.icon-checkiconfill:before { content: "\e629"; }
.icon-righticon:before { content: "\e62a"; }
.icon-moneyicon:before { content: "\e62b"; }
.icon-checkroundfillicon:before { content: "\e62d"; }
/*end custom iconfont style*/

/*begin override bootstrap style*/
.btn {
    border-radius: 2px;
}

.table {
    margin-bottom: 0;
    font-size: 12px;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #088ac2;
    color: white;
}

.table thead tr th {
    text-align: center;
    height: 40px;
    border: none;
    vertical-align: middle;
}

.table thead th > * {
    border-bottom-width: 1px;
    border-top-width: 1px;
    line-height: 22px;
}

.table tbody tr td {
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.table tbody tr td > * {
    line-height: 32px;
}

.modal-dialog {
    margin: 200px auto;
}

.modal-400 {
    width: 400px;
}

.modal-720 {
    width: 720px;
}

.modal-content{
    border-radius: 2px;
}

.pagination{
    border-radius: 2px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #088ac2;
    border-color: #088ac2;
}
/*end override bootstrap style*/

/*begin override rzslider style*/
rzslider {
    margin: 0;
}
rzslider span.rz-pointer{
    top: -4px;
    border-radius: 0;
    width: 10px;
    height: 16px;
    background-color: #08c2b3;
}
rzslider span.rz-pointer:after{
    display: none;
}

rzslider span.rz-bar {
    height: 10px;
    background: #088ac2;
    border-radius: 0;
}
rzslider span.rz-bar.rz-selection {
    background: #f5c131;
    border-radius: 0;
}
rzslider span.rz-bubble{
    display: none;
}

/*end override rzslider style*/

/*begin override toaster style*/
.toast-bottom-right {
    bottom: 30px;
}
.close{
    opacity: 0.6;
}
.close:hover, .close:focus{
    opacity: 1;
}
.toast-warning {
    background-color: #f5c131;
}
.toast-error {
    background-color: #ff3c37;
}
.toast-success {
    background-color: #08c2b3;
}
.toast-info {
    background-color: #088ac2;
}
#toast-container > div {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
}
#toast-container > div:hover {
    box-shadow: none;
}
/*end override toaster style*/


/*begin header style*/
body {
    background-color: white;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #088ac2;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: white;
}

.header .header-brand {
    display: block;
    height: 70px;
    width: 230px;
    background-color: #077cae;
    padding: 15px 0 10px 20px;
}

.header .header-brand .brand-logo {

}

.header .header-help, .header .header-account,.header .header-logout,.header .header-separator {
    height: 70px;
    line-height: 70px;
}

.header .header-help{
    margin-right: 20px;
}
.header .header-account{
    margin-right: 10px;
}
.header .header-logout{
    margin-right: 20px;
    margin-left: 10px;
 }

.header .header-help .help-icon, .header .header-account .account-icon {

}

.header .header-help span, .header .header-account span ,.header .header-logout span{
    font-size: 14px;
}

.header .header-separator .separator{
    display: block;
    border-left: 1px solid white;
    width: 1px;
    height: 14px;
    margin-top: 28px;
}

.header .header-region{
    height: 70px;
    line-height: 20px;
    margin-left: 50px;
}

.header .header-region .dropdown-toggle{
    line-height: 70px;
}

.header .header-region .dropdown-menu{
    margin: 0;
    border-radius: 0;
    border-width: 0;
    background-color: #088ac2;
    width: 240px;
}
.header .header-region .dropdown-menu > li{
    width: 50%;
    padding: 4px 20px;
    text-align: center;
    float: left;
}
.header .header-region .dropdown-menu > li >a{
    color: white;
    height: 25px;
    width: 80px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;

}
.header .header-region .dropdown-menu > li >a.active{
    background-color: #f5c131;
}
.header .header-region .dropdown-menu > li >a:hover{
    background-color: transparent;
}
/*end header style*/

/*begin footer style*/
.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    color: white;
    background-color: #333333;
}

.footer .copyright {
    line-height: 30px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

/*end footer style*/

/*begin main style*/
.main {
    margin-top: 70px;
}

.main .side-bar {
    position: fixed;
    left: 0;
    top: 70px;
    float: left;
    margin-right: -100%;
    margin-top: 10px;
    width: 230px;
    height: auto;
    max-height: none;
}

.main .content-wrapper {
    width: 100%;
    float: left;
}

.main .content-wrapper .content {
    margin-left: 230px;
    padding: 25px 20px 10px 20px;
    min-height: 600px;
    background-color: white;
}

/*end main style*/

/*begin side-menu style*/
.side-menu {
    list-style: none;
}

.side-menu a {
    color: #b4bcc8;
    text-decoration: none;
}

.side-menu .menu-item {
    display: block;
}

.side-menu .menu-item > a {
    display: block;
    padding: 15px 15px 15px 70px;
    color: #58717c;
}

.side-menu .menu-item > a:hover {
    background:#E0DEDE;
    color: #088ac2;
    margin-left: 20px;
    padding: 15px 15px 15px 46px;
    border-left: 4px solid #088ac2;
}

.side-menu .menu-item.active > a {
    background: white;
    color: #088ac2;
    margin-left: 20px;
    padding: 15px 15px 15px 46px;
    border-left: 4px solid #088ac2;
}

.side-menu .menu-item > a > i {
    margin-right: 10px;
    font-size: 30px;
    line-height: 20px;
    vertical-align: middle;
}

.side-menu .menu-item > a > span {
    vertical-align: middle;
}

.side-menu .menu-item .submenu {
    display: none;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.side-menu .menu-item.open .submenu {
    display: block;
}

.side-menu .menu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a {
    display: block;
    padding: 6px 15px 6px 30px;
}

.side-menu .menu-item .submenu .submenu-item.active > a {
    background: #3e4b5c;
}

.side-menu .menu-item .submenu .submenu-item > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

.side-menu .menu-item .submenu .submenu-item.active > a > .arrow:before {
    content: "\f107";
}

.side-menu .menu-item .submenu .submenu-item > a > i {
    visibility: hidden;
}

.side-menu .menu-item .submenu .submenu-item.active > a > i {
    visibility: visible;
    font-size: 12px;
    margin-right: 5px;
}

/*end side-menu style*/

/*begin virtual-machine-view style*/
.vm-create-form  rzslider{width: 70%;top: 3px;}
.vm-create-form .disk-volume,
.vm-create-form .disk-volume-unit,
.vm-create-form .network-bandwidth,
.vm-create-form .network-bandwidth-unit {
    display:inline-block;width: 40px;height: 20px;font-size: 12px;line-height: 20px;position: relative;top: 6px;
}

.vm-create-form .disk-volume{
    padding: 6px 4px;
}

.vm-create-form .check-cpu,
.vm-create-form .check-ram,
.vm-create-form .check-disk-type{
    width: 60px;
}
.vm-create-form .check-network-type{
    width: 90px;
}
.vm-create-form .check-buy-period{
    width: 35px;
}
.vm-create-form .check-buy-period.selected{
    padding: 0 4px;
    width: auto;
}
/*end virtual-machine-view style*/
/*modal-self*/
.modal-720{width:720px;min-width:720px;}
.letv-modal-header{height:50px;line-height:50px;border-bottom:1px solid #088ac2;text-align:center;font-size:16px;color:#088ac2;margin: 0 15px;padding: 0;}
.letv-modal-header .modal-title{font-size:16px;line-height: 50px;}
.letv-modal-header .close{height: 50px;line-height: 50px;margin: 0;}
.letv-modal-header .close > i {font-size: 30px;transform: rotate(45deg);display: inline-block;color: #088ac2;font-weight: 100;opacity: 1;}
/*modal-vm-create*/
.body-left .left-flow{margin-top:5px;}
.left-flow .flow-desc{width:56px;text-align:center;font-size:14px;color:#088ac2}
.left-flow .flow-desc.unactive{color:#dbdbdb;}
.left-flow .flow-desc .flow-dot-parent{margin:0 auto;margin-bottom:20px;/*15+5*/width:30px;height:15px;border:2px solid #088ac2;border-bottom:0;border-top-left-radius:30px;border-top-right-radius:30px;text-align:left;}
.left-flow .flow-desc.unactive .flow-dot-parent{border:2px solid #dbdbdb;border-bottom:0;}
.left-flow .flow-desc .flow-dot-parent .dot-parent-child{width:22px;height:22px;margin:2px 0 0 2px;padding-top:3px;border:1px solid #088ac2;border-radius:20px;text-align:center;font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#fff;background:#088ac2;}
.left-flow .flow-desc.unactive .flow-dot-parent .dot-parent-child{border:1px solid #dbdbdb;background:#dbdbdb;}
.left-flow .flow-line{width:90px;border:1px solid #088ac2;margin:14px -14px 0 -14px;}
.left-flow .flow-line.unactive{border:1px solid #dbdbdb;}
.body-left .left-inputs{margin-top:20px;height: 265px;}
.left-inputs .inputs-item{margin-bottom:12px;}
.left-inputs .inputs-item input{display: inline;}
.inputs-item>.col-sm-3{padding-right:0;text-align:right;}
.inputs-item>.col-sm-2{padding:0;text-align:right;}
.inputs-item>.col-sm-9{padding-left:0;padding-right:0;}
.inputs-item>.col-sm-10{padding-left:0;}
.inputs-item input{width: 70%;}
.system-content{padding:5px 0 5px 0;font-size:12px;margin-bottom: 0;list-style: none;}
.system-content li{padding:2px 5px;width: 50%;float: left;}
.system-content .letv-radioCheck{width: 100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.body-right{height:375px;background:#f5f5f5;font-size:12px;color:#333;}
.body-right .right-top{margin-top:15px;border-bottom:1px solid #d2d2d2;font-size:14px;height: 279px;}
.body-right .right-top span{margin-right: 5px;}
.right-top ul{margin:30px 0 0 0;padding:0;}
.right-top ul li{margin-bottom:10px;list-style:none;font-size:12px;color:#666;}
.right-top li span.title{display: inline-block;width: 60px;text-align: right;}
.right-top li span.value{}
.body-right .right-bottom{padding:10px 0 0 25px;}
.body-right .right-bottom > span{display: block;line-height: 30px;height: 30px;}
.body-right .right-bottom span.title,.body-right .right-bottom span.unit{vertical-align: middle}
.body-right .right-bottom span.price{padding:0 5px 0 0;font-size:18px;color:#ff3c37;vertical-align: middle}
.body-right .right-bottom .btn-submit-order{margin-top: 10px;}
/*.body-left .left-button{margin-top:60px;}*/
.flowthree-type{padding:7px 0;}
.flowthree-type i{color: #088ac2;}
/*input-self*/
.letv-control-label{line-height:30px;font-size: 12px}
/*tab-self*/
.letv-nav-tab>li{margin-right:10px;}
.letv-nav-tab>li>a{padding:6px 24px;border-radius:2px;font-size:12px;background:#e6e6e6;color:#333;}
.letv-nav-tab>li>a:hover{cursor:pointer;color:#333;background:#e6e6e6}
.letv-nav-tab>li.active>a{border-radius:2px;background:#088ac2;color:#fff;}
.letv-nav-tab>li.active>a,.letv-nav-tab>li.active>a:hover,.letv-nav-tab>li.active>a:focus{cursor:pointer;color:#fff;background:#088ac2}
.letv-tab-content{border:1px solid #d2d2d2;border-top:0;padding:10px 0 10px 0;}
/*radio-self*/
.letv-radio-content{line-height:14px;font-size: 12px;}
.letv-radio-parent{width:14px;height:14px;border:1px solid #088ac2;border-radius:14px;background:#fff;text-align:left;display:inline-block;}
.letv-radio-parent.unactive{border:1px solid #c8c8c8;}
.letv-radio-parent .parent-child{margin:3.5px;}
.parent-child .child-dot{width:5px;height:5px;background:#088ac2;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg); }
.parent-child .child-dot.unactive{background:#c8c8c8}
/*end container-cluster-view style*/