body {font-size:12px;color:#2D2D2D;margin:0px;padding:0px;line-height:25px;background:url(../images/bg.gif);}
a {text-decoration:none;color:#2D2D2D;}
img {border:0px;}
ul,li {list-style:none;padding:0px;margin:0px;}
.fff,.fff a {color:#FFFFFF;}
.yel {color:#FFFF00}
.red,.red a {color:#E10E0E;}
.blue,.blue a {color:#09639D}
.l {float:left;}
.r {float:right;}
.c {clear:both;}
.cen {text-align:center;}
.mar {margin-top:10px;}
.mar20 {margin-top:20px;}
.f14 {font-weight:bold;font-size:14px;}
/*阴影*/
.shadow,.ind_list li,.xtlist,.kd {
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cccccc)";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cccccc');
}


.top {background:url(../images/top_bg.gif) repeat-x;height:144px;}
.logo {position:absolute;left:0px;}
.w1000 {width:1000px;margin:0px auto;position:relative;height:144px;}
.top_rbg {background:url(../images/top_rbg.gif) no-repeat;width:266px;padding-left:35px;height:34px;position:absolute;right:0px;top:0px;}
.top_rbg a {color:#FFFFFF;display:block;width:80px;float:left;margin-top:8px;}
.top_rbg a img {float:left;margin-right:5px;}
.mptx {background:url(../images/mptx.gif) no-repeat;width:198px;height:30px;color:#FFFFFF;position:absolute;z-index:999;right:-20px;top:25px;line-height:40px;padding:5px;}
.mptx img {margin-top:5px;}
.date {color:#FFFFFF;position:absolute;top:50px;right:35px;}
.bt1 {background:url(../images/btbg1.gif);width:63px;height:21px;border:0px;line-height:20px;cursor:pointer;font-size:12px;}
.menu {position:absolute;left:0px;bottom:3px;font-size:14px;font-weight:bold;}
.menu li {float:left;width:110px;height:40px;line-height:40px;border-right:1px solid #44B4E6;border-left:1px solid #2286B4;}
.menu li a {display:block;color:#FFFFFF;}
.menu li a img {float:left;margin-right:3px;margin-top:8px;margin-left:10px;}
.menu li a:hover {background:url(../images/menu_hov.gif) repeat-x;}
.content {width:1000px;margin:10px auto;border:1px solid #C9C7C8;background:#FFFFFF; background-image:url(../images/con_top_bg.gif); background-repeat:repeat-x;height:100%;}
.logo {position:absolute;left:0px;top:20px;}
.hy {position:absolute;right:0px;bottom:10px;}
.tex_lin a {text-decoration:underline;}
.pad20 {padding:20px;}
.hhh {left:-15px;top:10px;position:relative;height:47px;}
.fhlb {font-size:12px;font-weight:normal;position:absolute;bottom:11px;left:135px;}
.ind_list li {font-size:14px;float:left;border:1px solid #cccccc;margin-right:20px;}
.ind_list li a {display:block;background:#FCFCFC;border-top:5px solid #D3D1D1;height:90px;width:190px;padding-top:20px;}
.ind_list li a:hover {background:#eaeaea;border-top:5px solid #9A9898;}
.ind_list li img {float:left;margin-left:30px;margin-right:10px;}
.num {color:#FF0000;font-size:45px; font-family:Arial, Helvetica, sans-serif;}
.xzsh {background:url(../images/add_sh.gif); width:170px; height:57px;border:0px;cursor:pointer}
/*弹出层*/
.outdiv1 {width:479px;height:33px;line-height:33px;background:url(../images/cir1.gif);padding-left:10px;padding-right:10px;font-size:14px;}
.outdiv1 img {margin-top:5px;}
.outdiv2 {background:#EEF0EF;border-left:1px solid #cccccc;border-right:1px solid #cccccc;padding-left:10px;padding-right:10px;width:477px;}
.outdiv3 {padding:10px;background:#F8F9FB;font-size:14px;text-align:left;color:#024266;}
.inp {background:#ffffff;border-top:1px solid #AFC6CE;border-left:1px solid #AFC6CE;border-right:1px solid #D8E2E4;border-bottom:1px solid #D8E2E4;}
.bt2,.bt3 {background:url(../images/btbg2.gif);width:77px;height:30px;text-align:center;font-size:14px;border:0px;cursor:pointer;}
.bt3 {background:url(../images/btbg3.gif);}
.scpic {float:left;width:64px;margin-right:10px;text-align:center;}


/*系统设置*/
.menu0box {border-bottom:2px solid #0066CC;height:29px;border-left:1px solid #CDCDCD;}
#menu0 li {border:1px solid #CDCDCD;border-left:0px;background:url(../images/menu_tab.gif) bottom repeat-x;height:27px;line-height:27px;text-align:center;font-weight:bold;float:left;width:100px;cursor:pointer;}
#menu0 li.hover {color:#FFFFFF;background:url(../images/menu_hov.gif) top repeat-x;border:1px solid #0066CC;}
#main0 ul{ display: none;}
#main0 ul.block{ display: block;}
.main_h {color:#666666;font-size:14px;font-weight:bold;height:35px;margin-top:20px;clear:both;}
.main_h img {float:left;margin-right:10px;}
.xtlist {border:1px solid #CCCCCC;background:#FCFCFC;width:200px;height:90px;float:left;margin-right:23px;margin-bottom:15px;padding:10px;padding-top:5px;padding-right:5px;}
.xtlist_xg {height:17px;}
.xtlist_xg img{float:right;}
.jia {font-size:14px;line-height:90px;}
.jia img {float:left;margin-right:10px;margin-left:10px;margin-top:20px;}
.jia a {display:block;}
.inp2 {background:#F9F9F9;border:1px solid #cccccc;height:23px;line-height:23px;}
.tb {border:1px solid #cccccc;}
.tb th {background:#F9F9F9;border-bottom:1px solid #cccccc;height:30px;}
.tb_td {background:#F9F9F9;}

/*售后跟进*/
.bt4 {background:url(../images/bt4.gif);width:63px;height:21px;cursor:pointer;border:0px;color:#ffffff;}
.shgj {border-right:1px solid #DEDEDE;border-left:1px solid #DEDEDE;font-size:12px;}
.shgj th {background:url(../images/tbbg.gif) repeat-x;font-size:12px;height:28px;font-weight:normal;border-left:1px solid #D4D4D4;border-right:1px solid #F9F9F9;border-top:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;color:#09639D;}
.shgj td {border-bottom:1px solid #DEDEDE;padding:5px;font-size:12px;}
.shxq th {background:url(../images/tbbg2.gif) repeat-x;height:28px;font-weight:normal;border:1px solid #cccccc;padding-left:10px;padding-right:10px;border-right:0px;}
.shxq {border-right:1px solid #cccccc;}
.shxq td {padding:10px;border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.shxq img {float:left;margin-right:10px;}
.h25 {height:25px;}
.w500 {width:500px;}
.w560 {width:580px;}
.pllist {line-height:20px;border-bottom:1px dashed #cccccc;padding-bottom:10px;}
.kd {background:#F5F5F5;border:1px solid #cccccc;padding:10px;margin-top:40px;margin-right:40px;width:120px;}

.zcp td {border-bottom:1px dashed #cccccc;}
.hui {color:#666666}

.xm {width:70px;background:#eaeaea;border:1px solid #cccccc;float:left;text-align:center;height:40px;line-height:40px;}
.lsfk {border-top:1px dashed #cccccc;padding-top:10px;}
.lsfk_hf {padding-left:50px;}