body {
	padding-top: 80px;
	padding-bottom: 60px;
}

#wrap {
	position: relative;
	min-height: 100%;
	height: auto !important;
}

#footer {
	text-align: center;
	bottom: 0;
	height:60px;
}

#registerform{
	text-align:center;
}