<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- webportal相关alias -->
        <typeAlias alias="Mcluster" type="com.letv.portal.model.MclusterModel" />
        <typeAlias alias="Db" type="com.letv.portal.model.DbModel" />
        <typeAlias alias="Container" type="com.letv.portal.model.ContainerModel" />
        <typeAlias alias="Host" type="com.letv.portal.model.HostModel" />
        <typeAlias alias="IpResource" type="com.letv.portal.model.IpResourceModel" />
        <typeAlias alias="DbUser" type="com.letv.portal.model.DbUserModel" />
        <typeAlias alias="Build" type="com.letv.portal.model.BuildModel" />
        <typeAlias alias="Hcluster" type="com.letv.portal.model.HclusterModel" />
        <typeAlias alias="User" type="com.letv.portal.model.UserModel" />
        <typeAlias alias="MonitorDetail" type="com.letv.portal.model.MonitorDetailModel" />        
        <typeAlias alias="MonitorIndex" type="com.letv.portal.model.MonitorIndexModel" />
        <typeAlias alias="ScheduleJob" type="com.letv.portal.model.ScheduleJobModel" />
        <typeAlias alias="BackupResult" type="com.letv.portal.model.BackupResultModel" />
        
        <typeAlias alias="SlbServer" type="com.letv.portal.model.slb.SlbServer" />
        <typeAlias alias="SlbConfig" type="com.letv.portal.model.slb.SlbConfig" />
        <typeAlias alias="SlbBackendServer" type="com.letv.portal.model.slb.SlbBackendServer" />
        <typeAlias alias="SlbCluster" type="com.letv.portal.model.slb.SlbCluster" />
        <typeAlias alias="SlbContainer" type="com.letv.portal.model.slb.SlbContainer" />
        
        <typeAlias alias="GceServer" type="com.letv.portal.model.gce.GceServer" />
        <typeAlias alias="GceImage" type="com.letv.portal.model.gce.GceImage" />
        <typeAlias alias="GceCluster" type="com.letv.portal.model.gce.GceCluster" />
        <typeAlias alias="GceContainer" type="com.letv.portal.model.gce.GceContainer" />
        <typeAlias alias="GceServerExt" type="com.letv.portal.model.gce.GceServerExt" />
        
        <typeAlias alias="LogServer" type="com.letv.portal.model.log.LogServer" />
        <typeAlias alias="LogCluster" type="com.letv.portal.model.log.LogCluster" />
        <typeAlias alias="LogContainer" type="com.letv.portal.model.log.LogContainer" />
        
        <typeAlias alias="TemplateTaskChain" type="com.letv.portal.model.task.TemplateTaskChain" />
        <typeAlias alias="TemplateTaskDetail" type="com.letv.portal.model.task.TemplateTaskDetail" />
        <typeAlias alias="TemplateTask" type="com.letv.portal.model.task.TemplateTask" />
        <typeAlias alias="TaskChain" type="com.letv.portal.model.task.TaskChain" />
        <typeAlias alias="TaskChainIndex" type="com.letv.portal.model.task.TaskChainIndex" />
        
        <typeAlias alias="ZookeeperInfo" type="com.letv.portal.model.common.ZookeeperInfo" />
        
        <typeAlias alias="BaseTimingTask" type="com.letv.portal.model.timing.task.BaseTimingTask" />
        
        <!-- for testing lyh -->
        <typeAlias alias="Contact" type="com.letv.portal.model.Contact" />
        <typeAlias alias="ContactHobbyDetail" type="com.letv.portal.model.ContactHobbyDetail" />
        <typeAlias alias="ContactTelDetail" type="com.letv.portal.model.ContactTelDetail" />
        <typeAlias alias="Hobby" type="com.letv.portal.model.Hobby" />
        <typeAlias alias="SearchCriteria" type="com.letv.portal.model.SearchCriteria" />
        
        <typeAlias alias="CbaseBucket" type="com.letv.portal.model.cbase.CbaseBucketModel" />
        <typeAlias alias="CbaseCluster" type="com.letv.portal.model.cbase.CbaseClusterModel" />
        <typeAlias alias="CbaseContainer" type="com.letv.portal.model.cbase.CbaseContainerModel" />
        
        <!-- swift -->
        <typeAlias alias="SwiftServer" type="com.letv.portal.model.swift.SwiftServer" />

        <typeAlias alias="Dictionary" type="com.letv.portal.model.dictionary.Dictionary" />
        <typeAlias alias="Image" type="com.letv.portal.model.image.Image" />

        <typeAlias alias="GceContainerExt" type="com.letv.portal.model.gce.GceContainerExt" />

        <typeAlias alias="MysqlHealthMonitor" type="com.letv.portal.model.monitor.mysql.MysqlHealthMonitor" />
        <typeAlias alias="MysqlResourceMonitor" type="com.letv.portal.model.monitor.mysql.MysqlResourceMonitor" />
        <typeAlias alias="MysqlKeyBufferMonitor" type="com.letv.portal.model.monitor.mysql.MysqlKeyBufferMonitor" />
        <typeAlias alias="MysqlInnoDBMonitor" type="com.letv.portal.model.monitor.mysql.MysqlInnoDBMonitor" />
        <typeAlias alias="MysqlDbSpaceMonitor" type="com.letv.portal.model.monitor.mysql.MysqlDbSpaceMonitor" />
        <typeAlias alias="MysqlTableSpaceMonitor" type="com.letv.portal.model.monitor.mysql.MysqlTableSpaceMonitor" />
        <typeAlias alias="MysqlGaleraMonitor" type="com.letv.portal.model.monitor.mysql.MysqlGaleraMonitor" />
        <typeAlias alias="MonitorErrorModel" type="com.letv.portal.model.monitor.MonitorErrorModel" />

        <typeAlias alias="AdminOpLog" type="com.letv.portal.model.adminoplog.AdminOpLog" />
        <!-- OpenStack -->
        <typeAlias alias="CloudvmRegion" type="com.letv.portal.model.cloudvm.CloudvmRegion" />
        <typeAlias alias="CloudvmVmCount" type="com.letv.portal.model.cloudvm.CloudvmVmCount"/>
    </typeAliases>
</configuration>
