<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- webportal相关alias -->

        <typeAlias alias="User" type="com.letv.portal.model.common.UserModel" />

        <typeAlias alias="TemplateTaskChain" type="com.letv.portal.model.task.TemplateTaskChain" />
        <typeAlias alias="TemplateTaskDetail" type="com.letv.portal.model.task.TemplateTaskDetail" />
        <typeAlias alias="TemplateTask" type="com.letv.portal.model.task.TemplateTask" />
        <typeAlias alias="TaskChain" type="com.letv.portal.model.task.TaskChain" />
        <typeAlias alias="TaskChainIndex" type="com.letv.portal.model.task.TaskChainIndex" />
        
        <typeAlias alias="BaseTimingTask" type="com.letv.portal.model.timing.task.BaseTimingTask" />
        
        <typeAlias alias="Dictionary" type="com.letv.portal.model.dictionary.Dictionary" />

        <!-- OpenStack -->
        <typeAlias alias="CloudvmRegion" type="com.letv.portal.model.cloudvm.CloudvmRegion" />
        <typeAlias alias="CloudvmVmCount" type="com.letv.portal.model.cloudvm.CloudvmVmCount"/>
        <typeAlias alias="CloudvmFlavor" type="com.letv.portal.model.cloudvm.CloudvmFlavor"/>
        <typeAlias alias="CloudvmServer" type="com.letv.portal.model.cloudvm.CloudvmServer"/>
        <typeAlias alias="CloudvmServerAddress" type="com.letv.portal.model.cloudvm.CloudvmServerAddress"/>
        <typeAlias alias="CloudvmServerLink" type="com.letv.portal.model.cloudvm.CloudvmServerLink"/>
        <typeAlias alias="CloudvmServerMetadata" type="com.letv.portal.model.cloudvm.CloudvmServerMetadata"/>
        <typeAlias alias="CloudvmImage" type="com.letv.portal.model.cloudvm.CloudvmImage"/>
        <typeAlias alias="CloudvmImageProperty" type="com.letv.portal.model.cloudvm.CloudvmImageProperty"/>
        <typeAlias alias="CloudvmImageLink" type="com.letv.portal.model.cloudvm.CloudvmImageLink"/>
        <typeAlias alias="CloudvmVolume" type="com.letv.portal.model.cloudvm.CloudvmVolume"/>
        <typeAlias alias="CloudvmRcCount" type="com.letv.portal.model.cloudvm.CloudvmRcCount"/>
        <typeAlias alias="CloudvmKeyPair" type="com.letv.portal.model.cloudvm.CloudvmKeyPair"/>
        <typeAlias alias="CloudvmSubnetOption" type="com.letv.portal.model.cloudvm.CloudvmSubnetOption"/>

        <typeAlias alias="CommonQuota" type="com.letv.portal.model.common.CommonQuota"/>
        <typeAlias alias="RecentOperate" type="com.letv.portal.model.operate.RecentOperate"/>

    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmVolumeStatus"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmVolumeType"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmImageStatus"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmImageType"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmImageShareType"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.cloudvm.CloudvmRcCountType"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.common.CommonQuotaModule"/>
        <typeHandler handler="com.letv.portal.enumeration.IntEnumTypeHandler" javaType="com.letv.portal.model.common.CommonQuotaType"/>
    </typeHandlers>
</configuration>
