<div class="view-common" ng-controller="VirtualMachineCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-6 le-btn-group">
            <button class="btn btn-le-blue" ng-click="openVmCreateModal('720')"><span>创建云主机</span></button>
            <button class="btn btn-le-blueGreen" ng-click="startVm('400')"><span>启动</span></button>
            <button class="btn btn-le-green" ng-click="stopVm('400')"><span>停止</span></button>
            <div dropdown class="more-operation-dropdown">
                <a href class="btn btn-le-yellow" dropdown-toggle>
                    更多操作
                </a>
                <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                    <li><a href="javascript:void(0);" ng-click="deleteVm('400')">删除云主机</a></li>
                    <li><a href="javascript:void(0);">重启云主机</a></li>
                    <li><a href="javascript:void(0);">绑定云硬盘</a></li>
                </ul>
            </div>
        </div>
        <div class="le-col-6">
            <div class="le-search-box pull-right">
                <input type="text" ng-model="searchVmName" ng-model-options="{debounce:500}" ng-change="doSearch()"/>
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row list-common">
        <div class="le-col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                         <span class="iconfont icon-righticon"  ng-class="{checked:isAllVmChecked()}" ng-click="checkAllVm()"></span>
                    </th>
                    <th><span>名称</span></th>
                    <th><span>内网IP</span></th>
                    <th><span>公网IP</span></th>
                    <th><span>状态</span></th>
                    <th><span>镜像</span></th>
                    <th><span>配置</span></th>
                    <th><span>监控</span></th>
                    <th><span>创建时间</span></th>
                    <th><span>VNC登录</span></th>
                </tr>
                </thead>
                <tbody id="tby">
                <tr ng-if="vmList.length>0" ng-repeat="vm in vmList">
                    <td>
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:vm.checked}" ng-click="checkVm(vm)"></span>
                    </td>
                    <td><span>{{vm.name}}</span></td>
                    <td><span>{{vm.ipAddresses.private.join(', ') || '未设置'}}</span></td>
                    <td><span>{{vm.ipAddresses.public.join(', ') || '未设置'}}</span></td>
                    <td>
                        <span>{{vm.status | vmStatusFilter}}</span>
                        <span ng-if="['BUILD','STARTING','STOPING','DELETEING'].indexOf(vm.status)>-1" class="status-loading"></span>
                    </td>
                    <td><span>{{vm.image.name}}</span></td>
                    <td><span>{{vm.flavor | vmFlavorFilter}}</span></td>
                    <td><span class="iconfont icon-monitor"></span></td>
                    <td><span>{{vm.created | date:'yyyy-MM-dd'}}</span></td>
                    <td><span class="iconfont icon-computer"></span></td>
                </tr>
                <tr ng-if="vmList.length==0">
                    <td colspan=10>暂无云主机，去创建吧。</td>
                </tr>
                </tbody>
            </table>
            <pagination ng-if="vmList.length>0" boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize"
                        total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
        </div>

    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}">
    </toaster-container>

    <script type="text/ng-template" id="ConfirmModalTpl">
            <div class="le-confirm">
                <div class="le-row confirm-header">
                    <span class="confirm-title">{{title}}</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-row confirm-content">
                    <i class="iconfont icon-icon1"></i>
                    <span class="confirm-message">{{confirmMessage}}</span>
                </div>
                <div class="le-row confirm-operation">
                    <button class="btn btn-le-blue" ng-click="ok()">确定</button>
                    <button class="btn btn-le-yellow" ng-click="cancel()">取消</button>
                </div>
            </div>
    </script>
</div>