<div class="virtual-machine-view" ng-controller="VirtualMachineCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-3">
            <button class="btn btn-le-blue" ng-click="openVmCreateModal('720')"><span>创建云主机</span></button>
            <button class="btn btn-le-blueGreen" ng-click="startVm('400')"><span>启动</span></button>
            <button class="btn btn-le-green" ng-click="openVmCreateModal('720')"><span>重启</span></button>
        </div>
        <div class="le-col-1">
                <div dropdown class="more-operation-dropdown">
                      <a href class="btn btn-default btn-le-yellow" dropdown-toggle>
                          更多操作
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                          <li><a href="javascript:void(0);" ng-click="deleteVm('400')">删除云主机</a></li>
                          <li><a href="javascript:void(0);">绑定云硬盘</a></li>
                      </ul>
                </div>
        </div>
        <div class="le-col-2 pull-right">
            <div class="le-search-box">
                <input type="text" ng-model="searchVmName" ng-change="doSearch()"/>
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row vm-list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <div class="letv-checkbox">
                        <span class="fa fa-check"></span>
                    </div>
                </th>
                <th><span>云主机名称</span></th>
                <th><span>状态</span></th>
                <th><span>区域</span></th>
                <th><span>镜像名称</span></th>
                <th><span>网络</span></th>
                <th><span>配置</span></th>
                <th><span>操作</span></th>
            </tr>
            </thead>
            <tbody id="tby">
            <tr ng-repeat="vm in vmList">
                <td>
                    <div class="letv-checkbox" ng-class="{active:vm.checked}" ng-click="checkVm(vm)">
                        <span class="fa fa-check"></span>
                    </div>
                </td>
                <td><a class="link" href="/detail/mcluster/{{vm.id}}">{{vm.name}}</a></td>
                <td>
                    <span>{{vm.vmState}}</span>
                </td>
                <td><span>{{vm.regionDisplayName}}</span></td>
                <td><span>{{vm.image.name}}</span></td>
                <td><span>{{vm.ipAddresses.private[0]}}</span></td>
                <td><span>{{vm.flavor.name}}</span></td>
                <td>
                    <a href="javascript:void(0);" title="启动" ng-click="startMcluster(vm)">
                        <i class="fa fa-play-circle-o"></i>
                    </a>
                    <a href="javascript:void(0);" title="停止" ng-click="stopMcluster(vm)">
                        <i class="fa fa-power-off"></i>
                    </a>
                    <a href="javascript:void(0);" title="删除" ng-if="mc.status===3" ng-click="deleteMcluster(vm)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize"
                    total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;"
                    last-text="&raquo;">
        </pagination>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}">
    </toaster-container>
    <script type="text/ng-template" id="VmCreateModalTpl">
            <div class="modal-header letv-modal-header vm-create-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">创建云主机</h3>
            </div>
            <div class="modal-body vm-create-modal-body">
                <form novalidate class="vm-create-form" name="vm_create_form">
                <div class="col-sm-8 body-left">
                    <div class="left-flow clearfix">
                        <div class="flow-desc pull-left">
                            <div class="flow-dot-parent">
                                <div class="dot-parent-child"><span>1</span></div>
                            </div>
                            <span>镜像选择</span>
                        </div>
                        <div class="flow-line pull-left" ng-class="{unactive:activeFlow<2}"></div>
                        <div class="flow-desc pull-left" ng-class="{unactive:activeFlow<2}">
                            <div class="flow-dot-parent">
                                <div class="dot-parent-child"><span>2</span></div>
                            </div>
                            <span>配置选择</span>
                        </div>
                        <div class="flow-line pull-left" ng-class="{unactive:activeFlow<3}"></div>
                        <div class="flow-desc pull-left" ng-class="{unactive:activeFlow<3}">
                            <div class="flow-dot-parent">
                                <div class="dot-parent-child"><span>3</span></div>
                            </div>
                            <span>网络设置</span>
                        </div>
                        <div class="flow-line pull-left" ng-class="{unactive:activeFlow<4}"></div>
                        <div class="flow-desc pull-left" ng-class="{unactive:activeFlow<4}">
                            <div class="flow-dot-parent">
                                <div class="dot-parent-child"><span>4</span></div>
                            </div>
                            <span>主机设置</span>
                        </div>
                    </div>
                    <div id="left-flowone" ng-class="{hide:activeFlow!=1}">
                        <div class="left-inputs">
                            <div class="inputs-item clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">主机名称：</span></div>
                                <div class="col-sm-10">
                                    <input type="text" name="vm_name" class="le-form-control" ng-model="vmName" ng-maxlength="20" placeholder="请输入云主机名称" required />
                                    <span ng-show="(vm_create_form.$submitted || vm_create_form.vm_name.$touched) && vm_create_form.vm_name.$error.required" class="le-input-validation">名称不能为空</span>
                                </div>
                            </div>
                            <div class="inputs-item clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">镜像：</span></div>
                                <div class="col-sm-10">
                                    <ul class="nav nav-tabs letv-nav-tab" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#system" data-toggle="tab" aria-controls="system" class="activea" aria-expanded="true">系统镜像</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#hostSnap" data-toggle="tab" aria-controls="hostSnap" aria-expanded="false">主机快照</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content letv-tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="system">
                                            <ul class="system-content clearfix">
                                                <li ng-repeat="vmImage in vmImageList">
                                                    <div class="letv-radioCheck" ng-class="{'selected':isSelectedVmImage(vmImage)}" ng-click="selectVmImage(vmImage)">
                                                        <i class="iconfont icon-checkblockicon"></i>
                                                        <span class="letv-radio-content" title="{{vmImage.name}}">{{vmImage.name}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="hostSnap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-button">
                            <div class="col-sm-12">
                                <div class="btn btn-le-blue pull-right" ng-click="$event.preventDefault();activeFlow=2;hackRzSlider();"><span>下一步</span></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="left-flowtwo" ng-class="{hide:activeFlow!=2}">
                        <div class="left-inputs">
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">CPU：</span></div>
                                <div class="col-sm-10">
                                    <div class="letv-mutiCheck" ng-repeat="vmCpu in vmCpuList" ng-class="{'selected':isSelectedVmCpu(vmCpu)}" ng-click="selectVmCpu(vmCpu)">
                                        <span>{{vmCpu}}核</span>
                                        <i class="iconfont icon-checkroundfillicon1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">内存：</span></div>
                                <div class="col-sm-10">
                                    <div class="letv-mutiCheck" ng-repeat="vmRam in vmRamList" ng-class="{'selected':isSelectedVmRam(vmRam)}" ng-click="selectVmRam(vmRam)">
                                        <span>{{vmRam/1024 | number:0}}G</span>
                                        <i class="iconfont icon-checkroundfillicon1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">数据盘：</span></div>
                                <div class="col-sm-10">
                                    <div class="letv-mutiCheck" ng-repeat="vmDiskType in vmDiskTypeList" ng-class="{'selected':isSelectedVmDiskType(vmDiskType)}" ng-click="selectVmDiskType(vmDiskType)">
                                        <span>{{vmDiskType.name}}</span>
                                        <i class="iconfont icon-checkroundfillicon1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-offset-2">
                                    <rzslider rz-slider-model="dataDiskVolume" rz-slider-floor="0" rz-slider-ceil="100" rz-slider-always-show-bar="true">
                                    </rzslider>
                                    <input type="text" ng-model="dataDiskVolume" class="le-form-control disk-volume" />
                                    <span class="disk-volume-unit">GB</span>
                                </div>
                            </div>
                            <div class="inputs-item row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">系统盘：</span></div>
                                <div class="col-sm-10"><span class="letv-control-label">默认系统盘 Linux(20G)、 Windows(40G)</span></div>
                            </div>
                        </div>
                        <div class="left-button">
                            <div class="col-sm-12">
                                <div class="btn btn-le-blue pull-left" ng-click="$event.preventDefault();activeFlow=1"><span>上一步</span></div>
                                <div class="btn btn-le-blue pull-right" ng-click="$event.preventDefault();activeFlow=3"><span>下一步</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="left-flowthree" ng-class="{hide:activeFlow!=3}">
                        <div class="left-inputs">
                            <div class="inputs-item nomargin row clearfix network-type">
                                <div class="col-sm-2"><span class="letv-control-label">类型：</span></div>
                                <div class="col-sm-10 row flowthree-type">
                                    <div class="col-sm-4">
                                        <div class="letv-radioCheck selected">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content">基础网络</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="letv-radioCheck">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content">私有网络</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">网络：</span></div>
                                <div class="col-sm-10">
                                    <div class="letv-mutiCheck flowthree" ng-class="{'selected':vmNetworkPublicIpModel=='now'}" ng-click="vmNetworkPublicIpModel='now'">
                                        <span>绑定公网IP</span>
                                        <i class="iconfont icon-checkroundfillicon1"></i>
                                    </div>
                                    <div class="letv-mutiCheck flowthree" ng-class="{'selected':vmNetworkPublicIpModel=='later'}" ng-click="vmNetworkPublicIpModel='later'">
                                        <span>稍后设置</span>
                                        <i class="iconfont icon-checkroundfillicon1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-button">
                            <div class="col-sm-12">
                                <div class="btn btn-le-blue pull-left" ng-click="$event.preventDefault();activeFlow=2"><span>上一步</span></div>
                                <div class="btn btn-le-blue pull-right" ng-click="$event.preventDefault();activeFlow=4"><span>下一步</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="left-flowfour" ng-class="{hide:activeFlow!=4}">
                        <div class="left-inputs">
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">登录方式：</span></div>
                                <div class="col-sm-10 row flowthree-type">
                                    <div class="col-sm-4">
                                        <div class="letv-radioCheck">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content">密钥</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="letv-radioCheck selected">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content">密码</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">用户名：</span></div>
                                <div class="col-sm-10"><input type="text" class="le-form-control" ng-disabled="true" value="root" /></div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">密码：</span></div>
                                <div class="col-sm-10">
                                    <input type="password" name='password' class="le-form-control" ng-model="vmSecurityPassword" ng-model-options="{ updateOn: 'blur' }" required />
                                    <span ng-show="(vm_create_form.$submitted || vm_create_form.password.$touched) && vm_create_form.password.$error.required" class="le-input-validation">密码不能为空</span>
                                </div>
                            </div>
                            <div class="inputs-item nomargin row clearfix">
                                <div class="col-sm-2"><span class="letv-control-label">确认密码：</span></div>
                                <div class="col-sm-10">
                                    <input type="password" name='confirm_password' class="le-form-control" ng-model="vmSecurityPasswordConfirm" ng-model-options="{ updateOn: 'blur' }" required password-verify="vmSecurityPassword" />
                                    <span ng-show="(vm_create_form.$submitted || vm_create_form.confirm_password.$touched) && vm_create_form.confirm_password.$error.required" class="le-input-validation">确认密码不能为空</span>
                                    <span ng-show="(vm_create_form.$submitted || vm_create_form.confirm_password.$touched) && vm_create_form.confirm_password.$error.passwordVerify" class="le-input-validation">密码不相等</span>
                                </div>
                            </div>
                        </div>
                        <div class="left-button">
                            <div class="col-sm-12">
                                <div class="btn btn-le-blue pull-left" ng-click="$event.preventDefault();activeFlow=3"><span>上一步</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 body-right">
                    <div class="right-top">
                        <div class="top-title"><span>配置详情</span><span class="fa fa-angle-double-down"></span></div>
                        <ul class="top-items">
                            <li>区域：<span>北京</span></li>
                            <li>镜像：<span>北京</span></li>
                            <li>CPU：<span>1核</span></li>
                            <li>内存：<span>2GB</span></li>
                            <li>硬盘：<span>500GB</span></li>
                            <li>主机名：<span>test_001</span></li>
                            <li>数量：<span>1台</span></li>
                        </ul>
                    </div>
                    <div class="right-bottom">
                        <span>合计：<span class="price">60</span>元/小时</span>
                        <button class="btn btn-le-red btn-submit-order" ng-click="createVm()"><span>提交订单</span></button>
                    </div>
                </div>
                <div class="clearfix"></div>
                </form>
            </div>
    </script>

    <script type="text/ng-template" id="ConfirmModalTpl">
            <div class="le-confirm">
                <div class="le-row confirm-header">
                    <span class="confirm-title">{{title}}</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-row confirm-content">
                    <i class="iconfont icon-icon1"></i>
                    <span class="confirm-message">{{confirmMessage}}</span>
                </div>
                <div class="le-row confirm-operation">
                    <button class="btn btn-le-blue" ng-click="ok()">确定</button>
                    <button class="btn btn-le-yellow" ng-click="cancel()">取消</button>
                </div>
            </div>
    </script>
</div>