<div class="view-common" ng-controller="VmFloatIpCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-6 le-btn-group">
            <button class="btn btn-le-blue" ng-click="openIPcreateModal(500)"><span>创建公网IP</span></button>
            <button class="btn btn-le-blueGreen" ng-click="bindVm(500)"><span>绑定云主机</span></button>
            <button class="btn btn-le-green" ng-click="editIp(500)"><span>编辑公网IP</span></button>
            <div dropdown class="more-operation-dropdown">
                <a href class="btn btn-le-yellow" dropdown-toggle>
                    更多操作
                </a>
                <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                    <li><a href="javascript:void(0);" ng-click="unbindVm(400)">解绑云主机</a></li>
                    <li><a href="javascript:void(0);" ng-click="deleteIp(400)">删除公网IP</a></li>
                </ul>
            </div>
        </div>
        <div class="le-col-6">
            <div class="le-search-box pull-right">
                <input type="text" ng-model="searchIpName" ng-model-options="{debounce:500}" ng-change="doSearch()"/>
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row list-common">
        <div class="le-col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                         <span class="iconfont icon-righticon"  ng-class="{checked:isAllFipChecked()}" ng-click="checkAllFip()"></span>
                    </th>
                    <th><span>名称</span></th>
                    <th><span>IP地址</span></th>
                    <th><span>状态</span></th>
                    <th><span>已绑定资源</span></th>
                    <th><span>带宽</span></th> 
                    <th><span>线路</span></th>
                    <th><span>创建时间</span></th>
                </tr>
                </thead>
                <tbody id="tby">
                <tr ng-repeat="fIp in floatIpList">
                    <td>
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:fIp.checked}" ng-click="checkFip(fIp)"></span>
                    </td>
                    <td><span>{{fIp.name|| '未设置'}}</span></td>
                    <td><span>{{fIp.ipAddress}}</span></td>
                    <td><span>{{fIp.status | vmFloatIpFilter}}</span></td>
                    <td><span>{{fIp.bindResource.name||'-'}}</span></td>
                    <td><span>{{fIp.bandWidth}}</span></td>
                    <td><span>{{fIp.carrier.name}}</span></td>
                    <td><span>{{fIp.created | date:'yyyy-MM-dd hh:mm'}}</span></td>
                </tr>
                <tr ng-if="floatIpList.length==0">
                    <td ng-if="!isListLoading" colspan=10>暂无公网IP，去创建吧。</td>
                    <td ng-if="isListLoading" colspan=10></td>
                </tr>
                </tbody>
            </table>
            <pagination ng-if="!isListLoading && floatIpList.length>0" boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize"
                        total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
            <div ng-if="isListLoading" class="spin"></div>
            <div ng-if="isListLoading" class="far-spin"></div>
        </div>

    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}">
    </toaster-container>

    <script type="text/ng-template" id="VmIPbindVmMOdalTpl">
        <div class="modal-header letv-modal-header">
            <span class="header-title">绑定云主机</span>
            <a class="close" ng-click="closeModal()">
                <i class="iconfont icon-add"></i>
            </a>
        </div>
        <div class="modal-body">
            <form class="vm-create-form">
                <div>
                    <div class="left-inputs">
                        <div class="inputs-item nomargin row clearfix">
                            <div class="col-sm-2"><span class="letv-control-label">名称：</span></div>
                            <div class="col-sm-8">
                                <span class="letv-control-label">{{floatIpName}}</span>
                            </div>
                        </div>
                        <div class="inputs-item nomargin row clearfix">
                            <div class="col-sm-2"><span class="letv-control-label">IP地址：</span></div>
                            <div class="col-sm-8">
                                <span class="letv-control-label">{{floatIp}}</span>
                            </div>
                        </div>
                        <div class="inputs-item nomargin row clearfix">
                            <div class="col-sm-2">
                                <span class="letv-control-label">可用云主机:</span>
                            </div>
                            <div class="col-sm-8">
                                <le-select select-model="selectedVm" select-options="vmListSelectorData"></le-select>
                            </div>
                        </div>
                    </div>
                    <div class="left-button">
                        <div class="col-sm-12">
                            <div class="btn btn-le-blue pull-right" ng-click="IpbingVm()"><span>绑定</span></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="VmIpEditMOdalTpl">
        <div class="modal-header letv-modal-header">
            <span class="header-title">编辑公网IP</span>
            <a class="close" ng-click="closeModal()">
                <i class="iconfont icon-add"></i>
            </a>
        </div>
        <div class="modal-body">
            <form novalidate class="vm-create-form" name="vm_ip_edit_form">
                <div>
                    <div class="left-inputs">
                        <div class="inputs-item nomargin row clearfix">
                            <div class="col-sm-2"><span class="letv-control-label">名称：</span></div>
                            <div class="col-sm-10">
                                <input type="text" name="ip_name" class="le-form-control" ng-model="ipName" placeholder="请输入公网IP名称" name-input-restrict />
                                <span ng-show="(vm_ip_edit_form.$submitted || vm_ip_edit_form.ip_name.$touched) && vm_ip_edit_form.ip_name.$error.nameInputRestrict" class="le-input-validation" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'>
                                    <i class="iconfont icon-icon1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="inputs-item nomargin row clearfix">
                            <div class="col-sm-2"><span class="letv-control-label">带宽：</span></div>
                            <div class="col-sm-10">
                                <rzslider rz-slider-model="networkBandWidth" rz-slider-floor="1" rz-slider-ceil="50" rz-slider-step="1" rz-slider-always-show-bar="true">
                                </rzslider>
                                <span class="network-bandwidth">{{networkBandWidth}}</span>
                                <span class="network-bandwidth-unit">Mbps</span>
                            </div>
                        </div>
                        <div class="inputs-item nomargin row clearfix hide">
                            <div class="col-sm-offset-2"><span class="control-label"><b>合计：</b><span class="text-red">100.00</span>&nbsp;元/小时（<span class="text-red">1000.00</span>元/月）</span></div>
                        </div>
                    </div>
                    <div class="left-button">
                        <div class="col-sm-12">
                            <button class="btn btn-le-blue pull-right" ng-click="editIP()"><span>提交</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>