<div class="view-common" ng-controller="VmImageCrtl">
    <div class="le-row operate-panel">
        <div class="le-col-offset-6 le-col-6">
            <div class="le-search-box pull-right">
                <input type="text" ng-model="searchName" ng-model-options="{debounce:500}" ng-change="doSearch()"/>
                <span class="search-icon"></span>
            </div>
        </div>
    </div>
    <div class="le-row list-common">
        <div class="le-col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                         <span class="iconfont icon-righticon"  ng-class="{checked:isAllImgChecked()}" ng-click="checkAllimg()"></span>
                    </th>
                    <th><span>名称</span></th>
                    <th><span>平台</span></th>
                    <th><span>类型</span></th>
                    <th><span>状态</span></th>
                    <th><span>容量</span></th>
                    <th><span>创建时间</span></th>
                </tr>
                </thead>
                <tbody id="tby">
                <tr ng-repeat="img in imageList">
                    <td>
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:img.checked}" ng-click="checkimg(img)"></span>
                    </td>
                    <td><span>{{img.name|| '未设置'}}</span></td>
                    <td><span>{{img.platform}}</span></td>
                    <td><span>{{img.type}}</span></td>
                    <td><span>{{img.status | vmImageStatusFilter}}</span></td>
                    <td><span>{{img.size | vmImageSizeFilter}}</span></td>
                    <td><span>{{img.createdAt | date:'yyyy-MM-dd'}}</span></td>
                </tr>
                <tr ng-if="imageList.length==0">
                    <td ng-if="!isListLoading" colspan=10>暂无镜像，去创建吧。</td>
                    <td ng-if="isListLoading" colspan=10></td>
                </tr>
                </tbody>
            </table>
            <pagination ng-if="!isListLoading && imageList.length>0" boundary-links="true" direction-links="false" ng-change="onPageChange()" items-per-page="pageSize"
                        total-items="totalItems" ng-model="currentPage" class="pagination-sm" first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
            <div ng-if="isListLoading" class="spin"></div>
            <div ng-if="isListLoading" class="far-spin"></div>
        </div>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}">
    </toaster-container>  
</div>