<div class="view-common" ng-controller="VmVpcCtrl">
    <div class="le-row le-tab-header">
        <div class="le-tab-btn" ng-class="{'le-tab-active': tabShow === 'vpc'}" ng-click="switchTabToVpc()"><span>VPC</span></div>
        <div class="le-tab-btn" ng-class="{'le-tab-active': tabShow === 'subnet'}" ng-click="switchTabToSubnet()"><span>子网</span></div>
    </div>
    <div ng-show="tabShow === 'vpc'">
        <div class="le-row operate-panel">
            <div class="le-col-6 le-btn-group">
                <button class="btn btn-le-blue" ng-click="openVpcCreateModal('500')"><span>创建vpc</span></button>
                <button class="btn btn-le-blueGreen" ng-click="subnetCreateWithVpc()"><span>创建子网</span></button>
                <button class="btn btn-le-blueGreen" ng-click="deleteVpc()"><span>删除vpc</span></button>
                <button class="btn btn-le-green" ng-click="editVpc()"><span>修改vpc</span></button>
            </div>
        </div>
        <div class="le-row list-common">
            <div class="le-col-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                        <span class="iconfont icon-righticon" ng-class="{checked:isAllVpcChecked()}"
                              ng-click="checkAllVpc()"></span>
                        </th>
                        <th><span>名称</span></th>
                        <th><span>子网</span></th>
                        <th><span>状态</span></th>
                        <th><span>创建时间</span></th>
                    </tr>
                    </thead>
                    <tbody id="tby">
                    <tr ng-repeat="vpc in vpcList">
                        <td>
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:vpc.checked}"
                              ng-click="checkVpc(vpc)"></span>
                        </td>
                        <td><span>{{vpc.name|| '未设置'}}</span></td>
                        <td><span>{{vpc.subnets | vpcSubnetsFilter}}</span></td>
                        <td>
                            <span>{{vpc.status | vpcStatusFilter}}</span>
                        </td>
                        <td><span>{{vpc.created | date:'yyyy-MM-dd'}}</span></td>
                    </tr>
                    <tr ng-if="vpcList.length==0">
                        <td ng-if="!isListLoading" colspan=10>暂无私有网络，去创建吧。</td>
                        <td ng-if="isListLoading" colspan=10></td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-if="!isListLoading && vpcList.length>0" boundary-links="true" direction-links="false" ng-change="vpc.onPageChange()"
                            items-per-page="vpc.pageSize" total-items="vpc.totalItems" ng-model="vpc.currentPage"
                            class="pagination-sm" first-text="&laquo;" last-text="&raquo;">
                </pagination>
                <div ng-if="isListLoading" class="spin"></div>
                <div ng-if="isListLoading" class="far-spin"></div>
            </div>
        </div>
    </div>
    <div ng-show="tabShow === 'subnet'">
        <div class="le-row operate-panel">
            <div class="le-col-6 le-btn-group">
                <button class="btn btn-le-blue" ng-click="openSubnetCreateModal('500')"><span>创建子网</span></button>
                <button class="btn btn-le-blueGreen" ng-click="deleteSubnet()"><span>删除子网</span></button>
                <div dropdown class="more-operation-dropdown">
                    <a href class="btn btn-le-yellow" dropdown-toggle>
                        更多操作
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                        <li><a href="javascript:void(0);" ng-click="openSubnetAssociateVmModal('500')">添加云主机</a></li>
                        <li><a href="javascript:void(0);" ng-click="openSubnetDetachVmModal('500')">移除云主机</a></li>
                        <li><a href="javascript:void(0);" ng-click="associateRouter()">绑定路由</a></li>
                        <li><a href="javascript:void(0);" ng-click="unbundRouter()">解绑路由</a></li>
                        <li><a href="javascript:void(0);" ng-click="editSubnet()">属性修改</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="le-row list-common">
            <div class="le-col-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                        <span class="iconfont icon-righticon" ng-class="{checked:isAllSubnetChecked()}"
                              ng-click="checkAllSubnet()"></span>
                        </th>
                        <th><span>名称</span></th>
                        <th><span>VPC</span></th>
                        <th><span>网段</span></th>
                        <th><span>绑定路由</span></th>
                        <th><span>创建时间</span></th>
                    </tr>
                    </thead>
                    <tbody id="subnet-tby">
                    <tr ng-repeat="subnet in subnetList">
                        <td>
                        <span class="iconfont icon-checkiconfill" ng-class="{checked:subnet.checked}"
                              ng-click="checkSubnet(subnet)"></span>
                        </td>
                        <td><span>{{subnet.name|| '未设置'}}</span></td>
                        <td><span>{{subnet.network.name}}</span></td>
                        <td><span>{{subnet.cidr}}</span></td>
                        <td><span>{{subnet.router.name}}</span></td>
                        <td><span>{{subnet.created | date:'yyyy-MM-dd'}}</span></td>
                    </tr>
                    <tr ng-if="subnetList.length==0">
                        <td ng-if="!isListLoading" colspan=10>暂无子网，去创建吧。</td>
                        <td ng-if="isListLoading" colspan=10></td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-if="!isListLoading && subnetList.length>0" boundary-links="true" direction-links="false" ng-change="subnet.onPageChange()"
                            items-per-page="subnet.pageSize" total-items="subnet.totalItems" ng-model="subnet.currentPage"
                            class="pagination-sm" first-text="&laquo;" last-text="&raquo;">
                </pagination>
                <div ng-if="isListLoading" class="spin"></div>
                <div ng-if="isListLoading" class="far-spin"></div>
            </div>
        </div>
    </div>
    <toaster-container
            toaster-options="{'time-out': 3000, 'close-button':true,'position-class':'toast-bottom-right'}">
    </toaster-container>
    <script type="text/ng-template" id="VpcCreateModalTpl">
        <div class="modal-vm-disk-create">
            <form novalidate class="form-vm-vpc-create" name="vpc_create_form">
                <div class="le-modal-header">
                    <span class="header-title">创建VPC</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-modal-body">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">私有网络名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-name" ng-model="vpcCreate.name"
                                   name="vpc_name" name-input-restrict />
                            <span ng-show="(vpc_create_form.$submitted || vpc_create_form.vpc_name.$touched) && vpc_create_form.vpc_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                                  class="le-input-validation">
                                <i class="iconfont icon-icon1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">创建子网：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <div class="letv-radioCheck" ng-class="{'selected':vpcCreate.isCreateSubnet=='true'}" ng-click="vpcCreate.isCreateSubnet='true'">
                                <i class="iconfont icon-checkblockicon"></i>
                                <span class="letv-radio-content">是</span>
                            </div>
                            <div class="letv-radioCheck" ng-class="{'selected':vpcCreate.isCreateSubnet=='false'}" ng-click="vpcCreate.isCreateSubnet='false'">
                                <i class="iconfont icon-checkblockicon"></i>
                                <span class="letv-radio-content">否</span>
                            </div>
                        </div>
                    </div>
                    <div class="le-row" ng-if="vpcCreate.isCreateSubnet === 'true'">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-name" ng-model="vpcCreate.subnet.name"
                                   name="subnet_name" name-input-restrict/>
                            <span ng-show="(vpc_create_form.$submitted || vpc_create_form.subnet_name.$touched) && vpc_create_form.subnet_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                                  class="le-input-validation">
                                <i class="iconfont icon-icon1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="le-row" ng-if="vpcCreate.isCreateSubnet === 'true'">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网地址：</span>
                        </div>
                        <div class="le-col-8 col-control">
                            <le-select select-model="vpcCreate.subnet.selectedCidr" select-options="vpcCreate.subnet.cidrListSelectorData"></le-select>
                        </div>
                    </div>
                    <div class="le-row" ng-if="vpcCreate.isCreateSubnet === 'true'">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网网关：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <span class="letv-control-label">{{vpcCreate.subnet.selectedCidr.relatedOption.gatewayIp}}</span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="vpc_create_form.$valid && !isFormSubmiting && createVpc()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">提交订单</span>
                                <span ng-if="isFormSubmiting">订单提交中...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="VpcEditModalTpl">
        <form novalidate class="form-vm-vpc-create" name="vpc_edit_form">
            <div class="letv-modal-header">
                <span class="header-title">修改VPC</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">私有网络名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <input type="text" class="le-form-control input-disk-name" ng-model="vpcEdit.name"
                               name="edit_vpc_name" name-input-restrict/>
                        <span ng-show="(vm_vpc_edit_form.$submitted || vm_vpc_edit_form.edit_vpc_name.$touched) && vm_vpc_edit_form.edit_vpc_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                              class="le-input-validation">
                            <i class="iconfont icon-icon1"></i>
                        </span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <button class="btn btn-le-blue" ng-click="editVpc()"><span>提交修改</span></button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="SubnetEditModalTpl">
        <form novalidate class="form-vm-subnet-create" name="subnet_edit_form">
            <div class="letv-modal-header">
                <span class="header-title">修改子网</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">子网名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <input type="text" class="le-form-control input-disk-name" ng-model="subnetEdit.name"
                               name="edit_subnet_name" name-input-restrict/>
                        <span ng-show="(vm_subnet_edit_form.$submitted || vm_subnet_edit_form.edit_subnet_name.$touched) && vm_subnet_edit_form.edit_subnet_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                              class="le-input-validation">
                            <i class="iconfont icon-icon1"></i>
                        </span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <button class="btn btn-le-blue" ng-click="editSubnet()"><span>提交修改</span></button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="SubnetCreateModalTpl">
        <div class="modal-vm-disk-create">
            <form novalidate class="form-vm-subnet-create" name="subnet_create_form">
                <div class="le-modal-header">
                    <span class="header-title">创建子网</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-modal-body">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-name" ng-model="subnetCreate.name"
                                   name="subnet_name" name-input-restrict/>
                            <span ng-show="(subnet_create_form.$submitted || subnet_create_form.subnet_name.$touched) && subnet_create_form.subnet_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                                  class="le-input-validation">
                                <i class="iconfont icon-icon1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">私有网络：</span>
                        </div>
                        <div class="le-col-8 col-control">
                            <le-select select-model="selectedVpc" select-options="vpcListSelectorData"></le-select>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网地址：</span>
                        </div>
                        <div class="le-col-8 col-control">
                            <le-select select-model="selectedCidr" select-options="cidrListSelectorData"></le-select>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网网关：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <span class="letv-control-label">{{selectedCidr.relatedOption.gatewayIp}}</span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="subnet_create_form.$valid && !isFormSubmiting && createSubnet()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">提交订单</span>
                                <span ng-if="isFormSubmiting">订单提交中...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="SubnetCreateWithVpcModalTpl">
        <div class="modal-vm-disk-create">
            <form novalidate class="form-vm-subnet-create" name="subnet_create_with_vpc_form">
                <div class="le-modal-header">
                    <span class="header-title">创建子网</span>
                    <a class="close" ng-click="closeModal()">
                        <i class="iconfont icon-add"></i>
                    </a>
                </div>
                <div class="le-modal-body">
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网名称：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <input type="text" class="le-form-control input-disk-name" ng-model="subnetCreate.name"
                                   name="subnet_name" name-input-restrict/>
                            <span ng-show="(subnet_create_with_vpc_form.$submitted || subnet_create_with_vpc_form.subnet_name.$touched) && subnet_create_with_vpc_form.subnet_name.$error.nameInputRestrict" title='名称须为2-128个字符，以大小写字母或中文开头，不支持字符@/:="<>{[]}和空格'
                                  class="le-input-validation">
                                <i class="iconfont icon-icon1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">私有网络：</span>
                        </div>
                        <div class="le-col-8 col-control">
                            <span class="letv-control-label">{{subnetCreate.vpcForSubnet.name}}</span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网地址：</span>
                        </div>
                        <div class="le-col-8 col-control">
                            <le-select select-model="selectedCidr" select-options="cidrListSelectorData"></le-select>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-3 col-label">
                            <span class="letv-control-label">子网网关：</span>
                        </div>
                        <div class="le-col-9 col-control">
                            <span class="letv-control-label">{{selectedCidr.relatedOption.gatewayIp}}</span>
                        </div>
                    </div>
                    <div class="le-row">
                        <div class="le-col-12 col-submit-order">
                            <button class="btn btn-le-blue" ng-click="subnet_create_with_vpc_form.$valid && !isFormSubmiting && createSubnet()" ng-disabled="isFormSubmiting">
                                <span ng-if="!isFormSubmiting">提交订单</span>
                                <span ng-if="isFormSubmiting">订单提交中...</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="AssociateRouterModalTpl">
        <form novalidate class="form-vm-router-create" name="associate_router_form">
            <div class="letv-modal-header">
                <span class="header-title">绑定路由</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <span class="letv-control-label">{{associateSubnetName}}</span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">路由器：</span>
                    </div>
                    <div class="le-col-8 col-control">
                        <le-select select-model="selectedRouter" select-options="routerListSelectorData"></le-select>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <button class="btn btn-le-blue" ng-click="associateRouter()"><span>添加关联</span></button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="SubnetAssociateVmModalTpl">
        <form novalidate class="form-vm-router-create" name="associate_vm_form">
            <div class="letv-modal-header">
                <span class="header-title">添加云主机</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">子网名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <span class="letv-control-label">{{subnetAssociateVm.subnetName}}</span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">云主机：</span>
                    </div>
                    <div class="le-col-8 col-control">
                        <ul class="nav nav-tabs letv-nav-tab">
                            <li class="active">
                                <a href="javascript:void(0);">可添加</a>
                            </li>
                        </ul>
                        <div class="tab-content letv-tab-content">
                            <div class="tab-pane active">
                                <ul class="system-content mutiple-selection-area">
                                    <li ng-repeat="vm in associatedVmList">
                                        <div class="letv-radioCheck" ng-class="{'selected':isSelectedAssociatedVmImage(vm)}" ng-click="selectAssociatedVmImage(vm)">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content" title="{{vm.name}}">{{vm.name}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <button class="btn btn-le-blue" ng-click="associateVm()"><span>添加云主机</span></button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="SubnetDetachVmModalTpl">
        <form novalidate class="form-vm-router-create" name="detach_vm_form">
            <div class="letv-modal-header">
                <span class="header-title">移除云主机</span>
                <a class="close" ng-click="closeModal()">
                    <i class="iconfont icon-add"></i>
                </a>
            </div>
            <div class="le-modal-body">
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">子网名称：</span>
                    </div>
                    <div class="le-col-9 col-control">
                        <span class="letv-control-label">{{subnetDetachVm.subnetName}}</span>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-3 col-label">
                        <span class="letv-control-label">云主机：</span>
                    </div>
                    <div class="le-col-8 col-control">
                        <ul class="nav nav-tabs letv-nav-tab">
                            <li class="active">
                                <a href="javascript:void(0);">可移除</a>
                            </li>
                        </ul>
                        <div class="tab-content letv-tab-content">
                            <div class="tab-pane active">
                                <ul class="system-content mutiple-selection-area">
                                    <li ng-repeat="vm in detachVmList">
                                        <div class="letv-radioCheck" ng-class="{'selected':isSelectedDetachVmImage(vm)}" ng-click="selectDetachVm(vm)">
                                            <i class="iconfont icon-checkblockicon"></i>
                                            <span class="letv-radio-content" title="{{vm.name}}">{{vm.name}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="le-row">
                    <div class="le-col-12 col-submit-order">
                        <button class="btn btn-le-blue" ng-click="detachVm()"><span>移除云主机</span></button>
                    </div>
                </div>
            </div>
        </form>
    </script>
</div>