<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.adminoplog.IAdminOpLogDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="AdminOpLog">
		<result column="ID" property="id" />
		<result column="EVENT" property="event" />
		<result column="LOG_TYPE" property="logType" typeHandler="com.letv.portal.dao.adminoplog.AdminOpLogTypeHandler"/>
		<result column="MODULE" property="module"/>
		<result column="DESCRIPTION" property="description"/>

		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />

		<association property="user" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	</resultMap>

	<!-- WEBPORTAL_ADMIN_OP_LOG table all fields -->
	<sql id="Base_Column_List">
		l.ID,l.EVENT,l.LOG_TYPE,l.MODULE,l.DESCRIPTION,user.USERNAME,
		l.DELETED,l.CREATE_TIME,l.CREATE_USER,l.UPDATE_TIME,l.UPDATE_USER
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and l.ID=#{id}
			</if>
			<if test="logTypes != null ">
				and l.LOG_TYPE in <foreach item="item" index="index" collection="logTypes" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
			</if>
			<if test="moduleKeyword != null and moduleKeyword != '' and moduleKeyword != 'null' ">
				and l.MODULE like CONCAT('%',#{moduleKeyword},'%') escape '^'
			</if>
			<if test="descriptionKeyword != null and descriptionKeyword != '' and descriptionKeyword != 'null' ">
				and l.DESCRIPTION like CONCAT('%',#{descriptionKeyword},'%') escape '^'
			</if>
			<if test="eventKeyword != null  and eventKeyword != ''  and eventKeyword != 'null' ">
				and l.EVENT like CONCAT('%',#{eventKeyword},'%') escape '^'
			</if>
			<if test="userNameKeyword != null  and userNameKeyword != ''  and userNameKeyword != 'null' ">
				and user.USERNAME like CONCAT('%',#{userNameKeyword},'%') escape '^'
			</if>
			<if test="beginTime != null "><![CDATA[
				and l.CREATE_TIME > #{beginTime}
			]]></if>
			<if test="endTime != null "><![CDATA[
				and l.CREATE_TIME < #{endTime}
			]]></if>
			<if test="deleted != null  ">
				and l.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and l.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and l.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and l.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and l.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="AdminOpLog" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_ADMIN_OP_LOG(EVENT,LOG_TYPE,MODULE,DESCRIPTION,
		DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{event},#{logType,typeHandler=com.letv.portal.dao.adminoplog.AdminOpLogTypeHandler},#{module},#{description},#{deleted},now(),#{createUser},null,#{updateUser})
	</insert>

	<!-- 物理删除 -->
	<update id="delete" parameterType="AdminOpLog">
		delete from WEBPORTAL_ADMIN_OP_LOG where ID = #{id}
	</update>
	
	<update id="deleteByEndTime" parameterType="java.util.Map"><![CDATA[
		delete from WEBPORTAL_ADMIN_OP_LOG where CREATE_TIME < #{endTime}
	]]></update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" />
			from WEBPORTAL_ADMIN_OP_LOG l,WEBPORTAL_USER user
			where  l.ID = #{id} and user.ID = l.CREATE_USER;
	</select>

	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_ADMIN_OP_LOG l
		left join WEBPORTAL_USER user on l.CREATE_USER = user.ID
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_ADMIN_OP_LOG l,WEBPORTAL_USER user
		<include refid="Example_Where_Clause" />
		and user.ID = l.CREATE_USER
		order by l.CREATE_TIME desc
        <if test="page != null">
            limit #{page.startRowPosition},#{page.recordsPerPage}
        </if>
	</select>

</mapper>
