<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IBackupResultDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="BackupResult">
		<result column="ID" property="id" />
		<result column="MCLUSTER_ID" property="mclusterId" />
		<result column="DB_ID" property="dbId" />
		<result column="BACKUP_IP" property="backupIp" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="STATUS" property="status" />
		<result column="RESULT_DETAIL" property="resultDetail" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="mcluster" javaType="Mcluster">
			<result column="MCLUSTER_NAME" property="mclusterName" />
		</association>
		<association property="db" javaType="Db">
			<result column="DB_NAME" property="dbName" />
		</association>
	</resultMap>
	<resultMap id="extremeIdMap" type="java.util.Map">
        <result column="MAX_ID" property="maxId" />
		<result column="MIN_ID" property="minId" />
	</resultMap>
	
	<sql id="Base_Column_List">
		r.ID,r.MCLUSTER_ID,r.DB_ID,r.BACKUP_IP,r.START_TIME,r.END_TIME,r.STATUS,r.RESULT_DETAIL,r.DELETED,r.CREATE_TIME,r.CREATE_USER,r.UPDATE_TIME,r.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and r.ID=#{id}
			</if>
			<if test="mclusterId != null  ">
				and r.MCLUSTER_ID=#{mclusterId}
			</if>
			<if test="dbId != null  ">
				and r.DB_ID=#{dbId}
			</if>
			<if test="startTime != null and startTime != '' ">
				and r.START_TIME&gt;=#{startTime}
			</if>
			<if test="endTime != null  and endTime != '' ">
				and r.START_TIME&lt;=#{endTime}
			</if>
			<if test="status != null and status != ''">
				and r.STATUS=#{status}
			</if>
			<if test="resultDetail != null  ">
				and r.RESULT_DETAIL=#{resultDetail}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="BackupResult" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_BACKUP_RESULT(MCLUSTER_ID,DB_ID,BACKUP_IP,START_TIME,END_TIME,STATUS,RESULT_DETAIL,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{mclusterId},#{dbId},#{backupIp},#{startTime},#{endTime},#{status},#{resultDetail},#{deleted},#{createTime},#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Db">
		update WEBPORTAL_BACKUP_RESULT set
		ID=#{id},MCLUSTER_ID=#{mclusterId},DB_ID=#{dbId},BACKUP_IP=#{backupIp},START_TIME=#{startTime},END_TIME=#{endTime},STATUS=#{status},RESULT_DETAIL=#{resultDetail},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=#{updateTime},UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="BackupResult">
		update WEBPORTAL_BACKUP_RESULT
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="mclusterId != null  ">
				MCLUSTER_ID=#{mclusterId},
			</if>
			<if test="dbId != null  ">
				DB_ID=#{dbId},
			</if>
			<if test="backupIp != null  ">
				BACKUP_IP=#{backupIp},
			</if>
			<if test="startTime != null  ">
				START_TIME=#{startTime},
			</if>
			<if test="endTime != null  ">
				END_TIME=#{endTime},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="resultDetail != null  ">
				RESULT_DETAIL=#{resultDetail},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="BackupResult">
		delete from WEBPORTAL_BACKUP_RESULT where ID = #{id}
	</update>
	 <!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="BackupResult">
		update WEBPORTAL_BACKUP_RESULT set
		<if test="deleted != null  ">
			DELETED=#{deleted}
		</if>
		where ID = #{id}
	</update>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="BackupResult">
		select count(1) from WEBPORTAL_BACKUP_RESULT r
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_BACKUP_RESULT r
		join WEBPORTAL_MCLUSTER_INFO m on r.MCLUSTER_ID = m.ID
		<if test="mclusterName != null and mclusterName != ''">
			and m.MCLUSTER_NAME like CONCAT('%','${mclusterName}','%') escape '^'
		</if> 
		join WEBPORTAL_DB d on r.DB_ID = d.ID
		<if test="dbName != null and dbName != ''">
			and d.DB_NAME like CONCAT('%','${dbName}','%') escape '^'
		</if> 
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" /> ,m.MCLUSTER_NAME,d.DB_NAME 
		from WEBPORTAL_BACKUP_RESULT r,WEBPORTAL_MCLUSTER_INFO m,WEBPORTAL_DB d
		<include refid="Example_Where_Clause" />
		and r.MCLUSTER_ID = m.ID and r.DB_ID = d.ID
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and r.ID=#{params.id}
			</if>
			
			<if test="params != null and params.mclusterId != null  ">
				and r.MCLUSTER_ID=#{params.mclusterId}
			</if>
			<if test="params != null and params.dbId != null  ">
				and r.DB_ID=#{params.dbId}
			</if>
			<if test="params != null and params.backupIp != null  ">
				and r.BACKUP_IP=#{params.backupIp}
			</if>
			<if test="params != null and params.startTime != null  and params.startTime != '' ">
				and r.START_TIME&gt;=#{params.startTime}
			</if>
			<if test="params != null and params.endTime != null  and params.endTime != '' ">
				and r.START_TIME&lt;=#{params.endTime}
			</if>
			<if test="params != null and params.status != null   and params.status != ''">
				and r.STATUS=#{params.status}
			</if>
			<if test="params != null and params.deleted != null  ">
				and r.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and r.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and r.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and r.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and r.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	<select id="selectExtremeIdByMonitorDate" resultMap="extremeIdMap" parameterType="java.util.Map">
		select 
        max(id) MAX_ID,min(id) MIN_ID
	   	from WEBPORTAL_BACKUP_RESULT
        where START_TIME &lt;= #{startTime}
	</select>
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		,m.MCLUSTER_NAME,d.DB_NAME
		from WEBPORTAL_BACKUP_RESULT r
		join WEBPORTAL_MCLUSTER_INFO m on r.MCLUSTER_ID = m.ID
		<if test="params != null and params.mclusterName != null  and params.mclusterName != ''">
			and m.MCLUSTER_NAME like CONCAT('%','${params.mclusterName}','%') escape '^'
		</if>
		join WEBPORTAL_DB d on r.DB_ID = d.ID
		<if test="params != null and params.dbName != null and params.dbName != ''">
			and d.DB_NAME like CONCAT('%','${params.dbName}','%') escape '^'
		</if> 
		<include refid="Example_Page_Where_Clause" />
		<if test="params != null and params.orderBy != null  ">
      		 order by r.${params.orderBy}
    	</if>
		<if test="params != null and !params.isAsc == false">
      		 desc 
    	</if>
    	<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
</mapper>   