<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.cbase.ICbaseBucketDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="CbaseBucket">
		<result column="ID" property="id" />
		<result column="CBASECLUSTER_ID" property="cbaseClusterId" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="BUCKET_NAME" property="bucketName" />
		
		<result column="STATUS" property="status" />
		<result column="DESCN" property="descn" />
		
		<result column="BUCKET_TYPE" property="bucketType" />		 
		<result column="RAMQUOTAMB" property="ramQuotaMB" />		 
		<result column="AUTH_TYPE" property="authType" />		 
		
		
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
	</resultMap>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="CbaseBucket" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_CBASE_BUCKET(BUCKET_NAME,CBASECLUSTER_ID,HCLUSTER_ID,STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,BUCKET_TYPE,RAMQUOTAMB,AUTH_TYPE)
		values(
		#{bucketName},#{cbaseClusterId},#{hclusterId},#{status},#{deleted},now(),#{createUser},now(),#{updateUser},#{bucketType},#{ramQuotaMB},#{authType})
	</insert>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Db">
		update WEBPORTAL_CBASE_BUCKET set
		ID=#{id},
		BUCKET_NAME=#{bucketName},
		CBASECLUSTER_ID=#{cbaseClusterId},
		HCLUSTER_ID=#{hclusterId},
		STATUS=#{status},
		DELETED=#{deleted},
		CREATE_TIME=#{createTime},
		CREATE_USER=#{createUser},
		UPDATE_TIME=now(),
		UPDATE_USER=#{updateUser},
		BUCKET_TYPE=#{bucketType},
		RAMQUOTAMB=#{ramQuotaMB},
		AUTH_TYPE=#{authType}
		where ID=#{id}
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="CbaseBucket">
        DELETE FROM WEBPORTAL_CBASE_BUCKET WHERE ID = #{id}
    </delete> 
    
    <!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			ID,
			CBASECLUSTER_ID,
			HCLUSTER_ID,
			BUCKET_NAME,
			STATUS,
			DESCN,
			BUCKET_TYPE,
			DELETED,
			CREATE_TIME,
			CREATE_USER,
			UPDATE_TIME,
			UPDATE_USER
			from WEBPORTAL_CBASE_BUCKET
			where ID = #{id}
	</select>
	
    
    <!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_CBASE_BUCKET m
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
	parameterType="com.letv.common.dao.QueryParam">
		select
		ID,
		CBASECLUSTER_ID,
		HCLUSTER_ID,
		BUCKET_NAME,
		STATUS,
		DESCN,
		BUCKET_TYPE,
		DELETED,
		CREATE_TIME,
		CREATE_USER,
		UPDATE_TIME,
		UPDATE_USER
		from WEBPORTAL_CBASE_BUCKET m
		
		
	</select>
</mapper>