<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.cbase.ICbaseClusterDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="CbaseCluster">
		<result column="ID" property="id" />
		<result column="CBASECLUSTER_NAME" property="cbaseClusterName" />
		<result column="ADMIN_USER" property="adminUser" />
		<result column="ADMIN_PASSWORD" property="adminPassword" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="STATUS" property="status" />
		<result column="TYPE" property="type" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		CBASE.ID,CBASE.CBASECLUSTER_NAME,CBASE.ADMIN_USER,CBASE.ADMIN_PASSWORD,CBASE.STATUS,CBASE.TYPE,CBASE.HCLUSTER_ID,CBASE.DELETED,CBASE.CREATE_TIME,CBASE.CREATE_USER,CBASE.UPDATE_TIME,CBASE.UPDATE_USER
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and CBASE.ID=#{id}
			</if>
			<if
				test="cbaseClusterName != null  and cbaseClusterName != '' and cbaseClusterName != 'null'">
				and CBASE.CBASECLUSTER_NAME like
				CONCAT('%','${cbaseClusterName}','%') escape '^'
			</if>
			<if test="status != null and status != ''">
				and CBASE.STATUS=#{status}
			</if>
			<if test="type != null  ">
				and CBASE.TYPE=#{type}
			</if>
			<if test="hclusterId != null  ">
				and CBASE.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="deleted != null  ">
				and CBASE.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and CBASE.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and CBASE.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and CBASE.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and CBASE.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="CbaseCluster"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_CBASECLUSTER_INFO(CBASECLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,TYPE,HCLUSTER_ID,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(#{cbaseClusterName},#{adminUser},#{adminPassword},#{status},#{type},#{hclusterId},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="CbaseCluster">
		update
		WEBPORTAL_CBASECLUSTER_INFO set
		CBASECLUSTER_NAME=#{cbaseClusterName},
		ADMIN_USER=#{adminUser},
		ADMIN_PASSWORD=#{adminPassword},
		STATUS=#{status},
		TYPE=#{type},
		HCLUSTER_ID=#{hclusterId},
		DELETED=#{deleted},
		CREATE_TIME=#{createTime},
		CREATE_USER=#{createUser},
		UPDATE_TIME=now(),
		UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="CbaseCluster">
		update WEBPORTAL_CBASECLUSTER_INFO
		<set>
			<if test="cbaseClusterName != null  and cbaseClusterName != '' ">
				CBASECLUSTER_NAME=#{cbaseClusterName},
			</if>
			<if test="adminUser != null  ">
				ADMIN_USER=#{adminUser},
			</if>
			<if test="adminPassword != null  ">
				ADMIN_PASSWORD=#{adminPassword},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
			UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="CbaseCluster">
		delete from
		WEBPORTAL_CBASECLUSTER_INFO where ID = #{id}
	</delete>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CBASECLUSTER_INFO CBASE
		where CBASE.ID=#{id}
	</select>
	<select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CBASECLUSTER_INFO CBASE
		where CBASE.CBASECLUSTER_NAME=#{clusterName}
	</select>
	
	<!-- 列表总数  -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(1) 
		from 
			WEBPORTAL_CBASECLUSTER_INFO CBASE
		join 
			WEBPORTAL_USER U ON U.ID = CBASE.CREATE_USER
		join 
			WEBPORTAL_HCLUSTER h on CBASE.HCLUSTER_ID = h.ID
			<include refid="Example_Where_Clause" />
			<if test="userName != null  and userName != ''">
				and U.USERNAME like CONCAT('%','${userName}','%') escape '^'
			</if>
			<if test="hclusterName != null  and hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
			</if>
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select
			<include refid="Base_Column_List" /> ,U.USERNAME,h.HCLUSTER_NAME_ALIAS
		FROM  
			WEBPORTAL_CBASECLUSTER_INFO CBASE 
		join 
			WEBPORTAL_USER U ON U.ID = CBASE.CREATE_USER
		join 
			WEBPORTAL_HCLUSTER h on CBASE.HCLUSTER_ID = h.ID
			<include refid="List_Where_Clause" />
			<if test="params != null and params.userName != null  and params.userName != ''">
				and U.USERNAME like CONCAT('%','${params.userName}','%') escape '^'
			</if>
			<if test="params != null and params.hclusterName != null  and params.hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
			</if>
		ORDER BY CBASE.CREATE_TIME DESC	
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
	<!-- List查询条件 -->
	<sql id="List_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and CBASE.ID=#{params.id}
			</if>
			<if test="params != null and params.cbaseClusterName != null  and params.cbaseClusterName != '' and params.cbaseClusterName != 'null'">
				and CBASE.CBASECLUSTER_NAME like CONCAT('%','${params.cbaseClusterName}','%') escape '^'
			</if>
			<if test="params != null and params.status != null and params.status != '' ">
				and CBASE.STATUS=#{params.status}
			</if>
			<if test="params != null and params.type != null  ">
				and CBASE.TYPE=#{params.type}
			</if>
			<if test="params != null and params.deleted != null  ">
				and CBASE.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.sstPwd != null  ">
				and CBASE.SST_PASSWORD=#{params.sstPwd}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and CBASE.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.createTime != null  ">
				and CBASE.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and CBASE.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and CBASE.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and CBASE.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>

</mapper>