<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.cbase.ICbaseBucketDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="CbaseBucket">
		<result column="ID" property="id" />
		<result column="CBASECLUSTER_ID" property="cbaseClusterId" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="BUCKET_NAME" property="bucketName" />

		<result column="STATUS" property="status" />
		<result column="DESCN" property="descn" />

		<result column="BUCKET_TYPE" property="bucketType" />
		<result column="RAMQUOTAMB" property="ramQuotaMB" />
		<result column="AUTH_TYPE" property="authType" />

		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />

		<association property="cbaseCluster" javaType="CbaseCluster">
			<result column="CBASECLUSTER_NAME" property="cbaseClusterName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>

	</resultMap>

	<sql id="Base_Column_List">
		M.ID,
		M.BUCKET_NAME,M.CBASECLUSTER_ID,M.HCLUSTER_ID,M.STATUS,M.DESCN,M.BUCKET_TYPE,M.RAMQUOTAMB,M.AUTH_TYPE,
		M.DELETED,M.CREATE_TIME,M.CREATE_USER,M.UPDATE_TIME,M.UPDATE_USER
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''  ">
				and M.ID=#{id}
			</if>

			<if test="bucketName != null and bucketName != '' ">
				and M.BUCKET_NAME like CONCAT('%','${bucketName}','%')
				escape '^'
			</if>

			<if test="cbaseClusterId != null and cbaseClusterId != '' ">
				and M.CBASECLUSTER_ID=#{cbaseClusterId}
			</if>
			<if test="hclusterId != null and hclusterId != '' ">
				and M.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="status != null and status != ''  ">
				and M.STATUS=#{status}
			</if>
			<if test="bucketType != null and bucketType != ''  ">
				and M.BUCKET_TYPE=#{bucketType}
			</if>
			<if test="ramQuotaMB != null and ramQuotaMB != ''  ">
				and M.RAMQUOTAMB like CONCAT('%','${ramQuotaMB}','%')
				escape '^'
			</if>
			<if test="authType != null and authType != ''  ">
				and M.AUTH_TYPE like CONCAT('%','${authType}','%')
				escape
				'^'
			</if>

			<if test="deleted != null and deleted != '' ">
				and M.DELETED=#{deleted}
			</if>
			<if test="createTime != null and createTime != '' ">
				and M.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null and createUser != '' ">
				and M.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null and updateTime != '' ">
				and M.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null and updateUser != ''  ">
				and M.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="CbaseBucket"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_CBASE_BUCKET(BUCKET_NAME,CBASECLUSTER_ID,HCLUSTER_ID,STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,BUCKET_TYPE,RAMQUOTAMB,AUTH_TYPE)
		values(
		#{bucketName},#{cbaseClusterId},#{hclusterId},#{status},#{deleted},now(),#{createUser},#{updateTime},#{updateUser},#{bucketType},#{ramQuotaMB},#{authType})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="CbaseBucket">
		update WEBPORTAL_CBASE_BUCKET
		set
		ID=#{id},
		BUCKET_NAME=#{bucketName},
		CBASECLUSTER_ID=#{cbaseClusterId},
		HCLUSTER_ID=#{hclusterId},
		STATUS=#{status},
		DELETED=#{deleted},
		CREATE_TIME=#{createTime},
		CREATE_USER=#{createUser},
		UPDATE_TIME=now(),
		UPDATE_USER=#{updateUser},
		BUCKET_TYPE=#{bucketType},
		RAMQUOTAMB=#{ramQuotaMB},
		AUTH_TYPE=#{authType}
		where ID=#{id}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="CbaseBucket">
		update WEBPORTAL_CBASE_BUCKET
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="bucketName != null  and bucketName != '' ">
				BUCKET_NAME=#{bucketName},
			</if>
			<if test="cbaseClusterId != null  ">
				CBASECLUSTER_ID=#{cbaseClusterId},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
			UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
			<if test="bucketType != null  ">
				BUCKET_TYPE=#{bucketType},
			</if>
			<if test="ramQuotaMB != null  and ramQuotaMB != '' ">
				RAMQUOTAMB=#{ramQuotaMB},
			</if>
			<if test="authType != null  and authType != '' ">
				AUTH_TYPE=#{authType}
			</if>
		</set>
		where ID=#{id}
	</update>


	<!-- 删除记录 -->
	<delete id="delete" parameterType="CbaseBucket">
		DELETE FROM
		WEBPORTAL_CBASE_BUCKET WHERE ID = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,n.CBASECLUSTER_NAME,u.USERNAME,H.HCLUSTER_NAME_ALIAS
		from
		WEBPORTAL_CBASE_BUCKET M, WEBPORTAL_CBASECLUSTER_INFO n,
		WEBPORTAL_USER u, WEBPORTAL_HCLUSTER H
		where M.CREATE_USER=u.id and
		M.ID = #{id} and M.CBASECLUSTER_ID = n.ID and
		M.HCLUSTER_ID = H.ID
	</select>

	<select id="selectByBucketNameForValidate" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CBASE_BUCKET M WHERE M.BUCKET_NAME = #{bucketName} and
		M.CREATE_USER = #{createUser}
	</select>

	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_CBASE_BUCKET M
		left join WEBPORTAL_USER u on M.CREATE_USER = u.ID
		left join WEBPORTAL_HCLUSTER h on M.HCLUSTER_ID = h.ID
		left join WEBPORTAL_CBASECLUSTER_INFO n on n.ID = M.CBASECLUSTER_ID
		<include refid="Example_Where_Clause" />
			<if test="userName != null  and userName != ''">
				and u.USERNAME like CONCAT('%','${userName}','%') escape '^'
			</if>
			<if test="cbaseClusterName != null  and cbaseClusterName != ''">
				and n.CBASECLUSTER_NAME like CONCAT('%','${cbaseClusterName}','%') escape '^'
			</if>
			<if test="hclusterName != null  and hclusterName != ''">
				and h.HCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
			</if>
	</select>

	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CBASE_BUCKET M
		<include refid="Example_Where_Clause" />
	</select>

	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null and params.id !='' ">
				and M.ID=#{params.id}
			</if>
			<if
				test="params != null and params.bucketName != null  and params.bucketName != ''  and params.bucketName != 'null'">
				and M.BUCKET_NAME like CONCAT('%','${params.bucketName}','%')
				escape
				'^'
			</if>

			<if test="params != null and params.cbaseClusterId != null and params.cbaseClusterId != ''  ">
				and M.CBASECLUSTER_ID=#{params.cbaseClusterId}
			</if>
			<if test="params != null and params.hclusterId != null and params.hclusterId != '' ">
				and M.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.bucketType != null and params.bucketType != ''  ">
				and M.BUCKET_TYPE=#{params.bucketType}
			</if>
			<if test="params != null and params.status != null and params.status != ''  ">
				and M.STATUS=#{params.status}
			</if>
			<if test="params != null and params.descn != null and params.descn != '' ">
				and M.DESCN=#{params.descn}
			</if>

			<if
				test="params != null and params.ramQuotaMB != null  and params.ramQuotaMB != ''  and params.ramQuotaMB != 'null'">
				and M.RAMQUOTAMB like CONCAT('%','${params.ramQuotaMB}','%')
				escape '^'
			</if>
			<if
				test="params != null and params.authType != null  and params.authType != ''  and params.authType != 'null'">
				and M.AUTH_TYPE like CONCAT('%','${params.authType}','%')
				escape
				'^'
			</if>

			<if test="params != null and params.deleted != null and params.deleted != ''  ">
				and M.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null and params.createTime != '' ">
				and M.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  and params.createUser != '' ">
				and M.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null and params.updateTime != '' ">
				and M.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null and params.updateUser != '' ">
				and M.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>

	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		,n.CBASECLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
		from
		WEBPORTAL_CBASE_BUCKET M
		left join WEBPORTAL_CBASECLUSTER_INFO n on
		n.ID = M.CBASECLUSTER_ID
		left join WEBPORTAL_USER u on M.CREATE_USER =
		u.ID
		left join
		WEBPORTAL_HCLUSTER h on M.HCLUSTER_ID = h.ID
		<include refid="Example_Page_Where_Clause" />
			<if test="params != null and params.userName != null  and params.userName != ''">
				and u.USERNAME like CONCAT('%','${params.userName}','%') escape '^'
			</if>
			<if test="params != null and params.cbaseClusterName != null  and params.cbaseClusterName != ''">
				and n.CBASECLUSTER_NAME like CONCAT('%','${params.cbaseClusterName}','%') escape '^'
			</if>
			<if test="params != null and params.hclusterName != null  and params.hclusterName != ''">
				and h.HCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
			</if>
		ORDER BY M.CREATE_TIME DESC
		<if test="page != null">
			limit #{page.startRowPosition},#{page.recordsPerPage}
		</if>
	</select>

</mapper>