<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.cloudvm.ICloudvmServerMetadataDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="CloudvmServerMetadata">
		<result column="ID" property="id" />
		<result column="REGION" property="region"/>
		<result column="SERVER_ID" property="serverId"/>
		<result column="D_KEY" property="key"/>
		<result column="D_VALUE" property="value"/>
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>

	<!-- WEBPORTAL_CLOUDVM_SERVER_META_DATA table all fields -->
	<sql id="Base_Column_List">
		m.ID,m.REGION,m.SERVER_ID,m.D_KEY,m.D_VALUE,
		m.DELETED,m.CREATE_TIME,m.CREATE_USER,m.UPDATE_TIME,m.UPDATE_USER
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="region != null ">
				and m.REGION=#{region}
			</if>
			<if test="serverId != null ">
				and m.SERVER_ID=#{serverId}
			</if>
			<if test="key != null ">
				and m.D_KEY=#{key}
			</if>
			<if test="deleted != null  ">
				and m.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and m.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and m.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and m.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and m.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="CloudvmServerMetadata" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_CLOUDVM_SERVER_META_DATA(REGION,SERVER_ID,D_KEY,D_VALUE,
		DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{region},#{serverId},#{key},#{value},
		#{deleted},now(),#{createUser},null,null)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="CloudvmServerMetadata">
		update WEBPORTAL_CLOUDVM_SERVER_META_DATA
		set
		ID=#{id},
		REGION=#{region},
		SERVER_ID=#{serverId},
		D_KEY=#{key},
		D_VALUE=#{value},
		DELETED=#{deleted},
		CREATE_TIME=#{createTime},
		CREATE_USER=#{createUser},
		UPDATE_TIME=now(),
		UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
			parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CLOUDVM_SERVER_META_DATA m
		<include refid="Example_Where_Clause" />
		ORDER BY m.CREATE_TIME DESC
		<if test="page != null">
			limit #{page.startRowPosition},#{page.recordsPerPage}
		</if>
	</select>

	<!-- 物理删除 -->
	<update id="delete" parameterType="CloudvmServerMetadata">
		delete from WEBPORTAL_CLOUDVM_SERVER_META_DATA where ID = #{id}
	</update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_CLOUDVM_SERVER_META_DATA m
		where  m.ID = #{id};
	</select>

	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
			parameterType="java.util.Map">
		select count(1)
		from WEBPORTAL_CLOUDVM_SERVER_META_DATA m
		<include refid="Example_Where_Clause" />
	</select>
</mapper>
