<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IDbDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Db">
		<result column="ID" property="id" />
		<result column="DB_NAME" property="dbName" />
		<result column="MCLUSTER_ID" property="mclusterId" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="STATUS" property="status" />
		<result column="AUDIT_INFO" property="auditInfo" />
		<result column="ENGINE_TYPE" property="engineType" />
		<result column="LINK_TYPE" property="linkType" />		 
		<result column="BACKUP_CYCLE" property="backupCycle" />
		<result column="DESCN" property="descn" />
		<result column="FROM_DB_IP" property="fromDbIp" />
		<result column="FROM_DB_PORT" property="fromDbPort" />
		<result column="FROM_DB_NAME" property="fromDbName" />
		<result column="AUDIT_USER" property="auditUser" />
		
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="mcluster" javaType="Mcluster">
			<result column="MCLUSTER_NAME" property="mclusterName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
		
		<association property="user" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	</resultMap>
	
	<resultMap id="createParams" type="java.util.Map">
		<result column="DB_NAME" property="dbName" />
		<result column="IP_ADDR" property="nodeIp" />
		<result column="CREATE_USER" property="createUser" />
		<result column="ADMIN_USER" property="username" />
		<result column="ADMIN_PASSWORD" property="password" />
	</resultMap>
	<!-- WEBPORTAL_DB table all fields -->
	<sql id="Base_Column_List">
		m.ID,m.MCLUSTER_ID,m.HCLUSTER_ID,m.DB_NAME,m.STATUS,m.BACKUP_CYCLE,m.NOTICE_TYPE,m.DESCN,m.ENGINE_TYPE,m.FROM_DB_IP,m.FROM_DB_PORT,m.FROM_DB_NAME,
		m.LINK_TYPE,m.AUDIT_INFO,m.AUDIT_TIME,m.AUDIT_USER,m.DELETED,m.CREATE_TIME,m.CREATE_USER,m.UPDATE_TIME,m.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="dbName != null  and dbName != ''  and dbName != 'null'">
				and m.DB_NAME like CONCAT('%','${dbName}','%')
			</if>
			<if test="mclusterId != null  ">
				and m.MCLUSTER_ID=#{mclusterId}
			</if>
			<if test="hclusterId != null  ">
				and m.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="status != null  ">
				and m.STATUS=#{status}
			</if>
			<if test="deleted != null  ">
				and m.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and m.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and m.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and m.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and m.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="Db" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_DB(DB_NAME,MCLUSTER_ID,HCLUSTER_ID,STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,ENGINE_TYPE,LINK_TYPE)
		values(
		#{dbName},#{mclusterId},#{hclusterId},#{status},#{deleted},now(),#{createUser},now(),#{updateUser},#{engineType},#{linkType})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Db">
		update WEBPORTAL_DB set
		ID=#{id},DB_NAME=#{dbName},MCLUSTER_ID=#{mclusterId},HCLUSTER_ID=#{hclusterId},STATUS=#{status},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="Db">
		update WEBPORTAL_DB
		<set>
			<if test="dbName != null  and dbName != '' ">
				DB_NAME=#{dbName},
			</if>
			<if test="mclusterId != null  ">
				MCLUSTER_ID=#{mclusterId},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
			<if test="auditInfo != null  ">
				AUDIT_INFO=#{auditInfo},
			</if>
		</set>
		where ID=#{id}
	</update>
	
		<!--修改记录 -->
	<update id="updateByMap" parameterType="java.util.Map">
		update WEBPORTAL_DB
		<set>
			<if test="dbName != null  and dbName != '' ">
				DB_NAME=#{dbName},
			</if>
			<if test="mclusterId != null  ">
				MCLUSTER_ID=#{mclusterId},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="Db">
		delete from WEBPORTAL_DB where ID = #{id}
	</update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			,x.username
			from WEBPORTAL_DB m ,webportal_user x
			where  m.CREATE_USER=x.id and m.ID = #{id};
	</select>
	

	<select id="selectByDbName" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB m WHERE m.DB_NAME = #{dbName}
	</select>

	<!-- 查询创建用户所需参数-->
	<select id="selectCreateParams" resultMap="createParams" parameterType="java.lang.Long">
		select DB.DB_NAME,CONTAINER.IP_ADDR,MCLUSTER.ADMIN_USER,MCLUSTER.ADMIN_PASSWORD,DB.CREATE_USER
		from WEBPORTAL_MCLUSTER_INFO MCLUSTER,WEBPORTAL_DB DB,WEBPORTAL_CONTAINER CONTAINER 
		where
		DB.MCLUSTER_ID=MCLUSTER.ID AND MCLUSTER.ID=CONTAINER.MCLUSTER_ID AND CONTAINER.ZOOKEEPER_ID='1' AND DB.ID=#{id}
	</select>
	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="Db">
		select count(1) from WEBPORTAL_DB m
		<include refid="Example_Where_Clause" />
	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_DB m
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB m
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and m.ID=#{params.id}
			</if>
			<if test="params != null and params.dbName != null  and params.dbName != ''  and params.dbName != 'null'">
				and m.DB_NAME like CONCAT('%','${params.dbName}','%')
			</if>
			<if test="params != null and params.mclusterId != null  ">
				and m.MCLUSTER_ID=#{params.mclusterId}
			</if>
			<if test="params != null and params.status != null  ">
				and m.STATUS=#{params.status}
			</if>
			<if test="params != null and params.deleted != null  ">
				and m.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and m.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and m.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and m.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and m.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		,n.MCLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
		from WEBPORTAL_DB m 
		left join WEBPORTAL_MCLUSTER_INFO n on n.ID = m.MCLUSTER_ID 
		left join WEBPORTAL_USER u on m.CREATE_USER = u.ID
		left join WEBPORTAL_HCLUSTER h on m.HCLUSTER_ID = h.ID
		<include refid="Example_Page_Where_Clause" />
		ORDER BY m.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
    <!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="Db">
		update WEBPORTAL_DB set
		<if test="deleted != null  ">
			DELETED=#{deleted}
		</if>
		where ID = #{id}
	</update>
	
	
	
    <!-- 可以删除 -->
	<!--  审批状态 -->
	<update id="audit" parameterType="Db">
		update WEBPORTAL_DB
		<set>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="auditInfo != null  ">
				AUDIT_INFO=#{auditInfo},
			</if>
			<if test="mclusterId != null  ">
				MCLUSTER_ID=#{mclusterId}
			</if>
		</set>
		where ID = #{id}
	</update>
</mapper>   