<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IDbUserDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="DbUser">
		<result column="ID" property="id" />
		<result column="DB_ID" property="dbId" />
		<result column="USERNAME" property="username" />
		<result column="PASSWORD" property="password" />
		<result column="SALT" property="salt" />
		<result column="TYPE" property="type" />
		
		<result column="ACCEPT_IP" property="acceptIp" />
		<result column="MAX_CONCURRENCY" property="maxConcurrency" />
		<result column="READ_WRITER_RATE" property="readWriterRate" />
		<result column="MAX_QUERIES_PER_HOUR" property="maxQueriesPerHour" />
		<result column="MAX_UPDATES_PER_HOUR" property="maxUpdatesPerHour" />
		<result column="MAX_CONNECTIONS_PER_HOUR" property="maxConnectionsPerHour" />
		<result column="MAX_USER_CONNECTIONS" property="maxUserConnections" />
		
		<result column="STATUS" property="status" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="db" javaType="Db">
			<result column="DB_NAME" property="dbName" />
		</association>
	</resultMap>
	<resultMap id="createParams" type="java.util.Map">
		<result column="DB_NAME" property="dbName" />
		<result column="IP_ADDR" property="nodeIp" />
		<result column="CREATE_USER" property="createUser" />
		<result column="ADMIN_USER" property="username" />
		<result column="ADMIN_PASSWORD" property="password" />
	</resultMap>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="username != null  and username != '' ">
				and DBUSER_NAME like CONCAT('%','${username}','%')
			</if>
			<if test="DbUserIp != null  and DbUserIp != '' ">
				and DBUSER_IP like CONCAT('%','${DbUserIp}','%')
			</if>
			
		</trim>
	</sql>
	
	<!-- WEBPORTAL_DB_USER table all fields -->
	<sql id="Base_Column_List">
		ID,DB_ID,USERNAME,PASSWORD,SALT,TYPE,ACCEPT_IP,MAX_CONCURRENCY,READ_WRITER_RATE,MAX_QUERIES_PER_HOUR,MAX_UPDATES_PER_HOUR,MAX_CONNECTIONS_PER_HOUR,MAX_USER_CONNECTIONS,
		STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER
	</sql>
	
	<sql id="Base_Column_List_add_db">
		WEBPORTAL_DB_USER.ID,WEBPORTAL_DB.ID,WEBPORTAL_DB.DB_NAME,WEBPORTAL_DB_USER.DB_ID,WEBPORTAL_DB_USER.USERNAME,WEBPORTAL_DB_USER.PASSWORD,WEBPORTAL_DB_USER.SALT,WEBPORTAL_DB_USER.TYPE,WEBPORTAL_DB_USER.ACCEPT_IP,
		WEBPORTAL_DB_USER.MAX_CONCURRENCY,WEBPORTAL_DB_USER.READ_WRITER_RATE,WEBPORTAL_DB_USER.MAX_QUERIES_PER_HOUR,WEBPORTAL_DB_USER.MAX_UPDATES_PER_HOUR,WEBPORTAL_DB_USER.MAX_CONNECTIONS_PER_HOUR,
		WEBPORTAL_DB_USER.MAX_USER_CONNECTIONS,
		WEBPORTAL_DB_USER.STATUS,WEBPORTAL_DB_USER.IS_DELETED,WEBPORTAL_DB_USER.CREATE_TIME,WEBPORTAL_DB_USER.CREATE_USER,WEBPORTAL_DB_USER.UPDATE_TIME,WEBPORTAL_DB_USER.UPDATE_USER
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="DbUser">
		insert into
		WEBPORTAL_DB_USER
		(ID,DB_ID,USERNAME,PASSWORD,SALT,TYPE,ACCEPT_IP,MAX_CONCURRENCY,READ_WRITER_RATE,MAX_QUERIES_PER_HOUR,MAX_UPDATES_PER_HOUR,MAX_CONNECTIONS_PER_HOUR,MAX_USER_CONNECTIONS,
		STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values
		(UUID(),#{dbId},#{username},#{password},#{salt},#{type},#{acceptIp},#{maxConcurrency},#{readWriterRate},#{maxQueriesPerHour},#{maxUpdatesPerHour},#{maxConnectionsPerHour},#{maxUserConnections},
		#{status},'1',now(),#{createUser},now(),#{updateUser})
	</insert>
	
	<!-- 物理删除 -->
	<update id="delete" parameterType="DbUser">
		delete from WEBPORTAL_DB_USER where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="DbUser">
		update WEBPORTAL_DB_USER set
		<if test="isDeleted != null  ">
			IS_DELETED=#{isDeleted}
		</if>
		where ID = #{id}
	</update>
	
	<!-- 更新status状态 -->
	<update id="updateStatus" parameterType="DbUser">
		update WEBPORTAL_DB_USER set
		<if test="status != null  ">
			STATUS=#{status}
		</if>
		where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER where ID = #{id}
	</select>
	<select id="selectByIpAndUsername" resultMap="BaseResultMap" parameterType="DbUser">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER WHERE USERNAME = #{username} and ACCEPT_IP=#{acceptIp} and DB_ID=#{dbId}
	</select>
	
	<!-- 根据dbId查询-->
	<select id="selectByDbId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER where DB_ID = #{dbId}
	</select>
	<!-- 查询创建用户所需参数-->
	<select id="selectCreateParams" resultMap="createParams" parameterType="java.lang.String">
		select DB.DB_NAME,CONTAINER.IP_ADDR,MCLUSTER.ADMIN_USER,MCLUSTER.ADMIN_PASSWORD,USER.CREATE_USER
		from WEBPORTAL_DB_USER USER,WEBPORTAL_MCLUSTER_INFO MCLUSTER,WEBPORTAL_DB DB,WEBPORTAL_CONTAINER CONTAINER 
		where
		USER.DB_ID = DB.ID AND DB.CLUSTER_ID=MCLUSTER.ID AND MCLUSTER.ID=CONTAINER.CLUSTER_ID AND CONTAINER.ZOOKEEPER_ID='1' AND USER.Id=#{id}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_DB_USER
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List_add_db" />
		from WEBPORTAL_DB_USER left join WEBPORTAL_DB 
		on WEBPORTAL_DB.ID = WEBPORTAL_DB_USER.DB_ID
		<include refid="Example_Page_Where_Clause" />
		ORDER BY WEBPORTAL_DB_USER.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and WEBPORTAL_DB_USER.ID=#{params.id}
			</if>
			<if test="params != null and params.username !=null  ">
				and WEBPORTAL_DB_USER.ID=#{params.username}
			</if>
			<if test="params != null and params.dbName != null  and params.dbName != ''  and params.dbName != 'null'">
				and WEBPORTAL_DB.DB_NAME like CONCAT('%','${params.dbName}','%')
			</if>
			
		</trim>
	</sql>
	
	
</mapper>   