<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IDbUserDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="DbUser">
		<result column="ID" property="id" />
		<result column="DB_ID" property="dbId" />
		<result column="USERNAME" property="username" />
		<result column="PASSWORD" property="password" />
		<result column="SALT" property="salt" />
		<result column="TYPE" property="type" />
		
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="username != null  and username != '' ">
				and DBUSER_NAME like CONCAT('%','${username}','%')
			</if>
			<if test="DbUserIp != null  and DbUserIp != '' ">
				and DBUSER_IP like CONCAT('%','${DbUserIp}','%')
			</if>
			
		</trim>
	</sql>
	
	<!-- WEBPORTAL_DB_USER table all fields -->
	<sql id="Base_Column_List">
		ID,DB_ID,USERNAME,PASSWORD,SALT,TYPE,
		IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="DbUser">
		insert into
		WEBPORTAL_DB_USER
		(ID,DB_ID,USERNAME,PASSWORD,SALT,TYPE,
		IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values
		(UUID(),#{dbId},#{username},#{password},#{salt},#{type},
		'1',now(),#{createUser},now(),#{updateUser})
	</insert>
	
	<!-- 物理删除 -->
	<update id="delete" parameterType="DbUser">
		delete from WEBPORTAL_DB_USER where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="DbUser">
		update WEBPORTAL_DB_USER set
		<if test="isDeleted != null  ">
			IS_DELETED=#{isDeleted}
		</if>
		where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER where ID = #{id}
	</select>
	
	<!-- 根据dbId查询-->
	<select id="selectByDbId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER where DB_ID = #{dbId}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_DB_USER
		<include refid="Example_Where_Clause" />
	</select>
	
</mapper>   