<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.gce.IGceServerExtDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="GceServerExt">
		<result column="ID" property="id" />
	
		<result column="GCE_ID" property="gceId" />
		<result column="RDS_ID" property="rdsId" />
		<result column="OCS_ID" property="ocsId" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
	</resultMap>
	
	<sql id="Base_Column_List">
		g.ID,g.GCE_ID,g.RDS_ID,g.OCS_ID
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and g.ID=#{id}
			</if>
			<if test="gceId != null  ">
				and g.GCE_ID=#{gceId}
			</if>
			<if test="rdsId!= null  ">
				and g.RDS_ID=#{rdsId}
			</if>
			<if test="ocsId != null  ">
				and g.OCS_ID=#{ocsId}
			</if>
			
			<if test="deleted != null  ">
				and g.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and g.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and g.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and g.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and g.UPDATE_USER=#{updateUser}
			</if>
			
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="GceServerExt" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_GCE_EXT(
			GCE_ID,RDS_ID,OCS_ID,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{gceId},#{rdsId},#{ocsId},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- -->
	<update id="updateBySelective" parameterType="GceServerExt">
		update WEBPORTAL_GCE_EXT
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="gceId != null  ">
				GCE_ID=#{gceId},
			</if>
			<if test="rdsId != null  ">
				RDS_ID=#{rdsId},
			</if>
			<if test="ocsId != null  ">
				OCS_ID=#{ocsId},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="GceServerExt">
		delete from WEBPORTAL_GCE_EXT where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			from WEBPORTAL_GCE_EXT g 
			where g.ID = #{id}
	</select>
	
</mapper>   