<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.gce.IGceServerDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="GceServer">
		<result column="ID" property="id" />
	
		<result column="GCE_NAME" property="gceName" />
		<result column="GCECLUSTER_ID" property="gceClusterId" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="PORT_FORWARD" property="portForward" />
		<result column="GCE_IMAGE_NAME" property="gceImageName" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
		<result column="DESCN" property="descn" />
		<result column="IP" property="ip" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="gceCluster" javaType="GceCluster">
			<result column="CLUSTER_NAME" property="clusterName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	
	</resultMap>
	
	<sql id="Base_Column_List">
		g.ID,
		g.GCE_NAME,g.GCECLUSTER_ID,g.HCLUSTER_ID,g.PORT_FORWARD,g.GCE_IMAGE_NAME,g.TYPE,g.STATUS,g.DESCN,g.IP,
		g.DELETED,g.CREATE_TIME,g.CREATE_USER,g.UPDATE_TIME,g.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and g.ID=#{id}
			</if>
			
			<if test="gceName != null and gceName != '' ">
				and g.GCE_NAME like CONCAT('%','${gceName}','%') escape '^'
			</if>
			
			<if test="gceClusterId != null  ">
				and g.GCECLUSTER_ID=#{gceClusterId}
			</if>
			<if test="hclusterId != null  ">
				and g.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="portForward != null and portForward != ''">
				and g.HCLUSTER_ID=#{portForward}
			</if>
			<if test="gceImageName != null and gceImageName != '' ">
				and g.HCLUSTER_ID=#{gceImageName}
			</if>
			<if test="type != null and type != ''  ">
				and g.TYPE=#{type}
			</if>
			<if test="status != null and status != ''  ">
				and g.STATUS=#{status}
			</if>
			<if test="ip != null and ip != ''  ">
				and g.IP=#{ip}
			</if>
			
			<if test="deleted != null  ">
				and g.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and g.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and g.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and g.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and g.UPDATE_USER=#{updateUser}
			</if>
			
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="GceServer" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_GCE(
			GCE_NAME,GCECLUSTER_ID,HCLUSTER_ID,PORT_FORWARD,GCE_IMAGE_NAME,TYPE,STATUS,DESCN,IP,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{gceName},#{gceClusterId},#{hclusterId},#{portForward},#{gceImageName},#{type},#{status},#{descn},#{ip},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- -->
	<update id="updateBySelective" parameterType="GceServer">
		update WEBPORTAL_GCE
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="gceName != null  ">
				GCE_NAME=#{gceName},
			</if>
			<if test="gceClusterId != null  ">
				GCECLUSTER_ID=#{gceClusterId},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="portForward != null ">
				PORT_FORWARD=#{portForward},
			</if>
			<if test="gceImageName != null ">
				GCE_IMAGE_NAME=#{gceImageName},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="descn != null  ">
				DESCN=#{descn},
			</if>
			<if test="ip != null  ">
				IP=#{ip},
			</if>
			
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="GceServer">
		delete from WEBPORTAL_GCE where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			,n.CLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
			from WEBPORTAL_GCE g ,WEBPORTAL_GCECLUSTER n,WEBPORTAL_USER u,WEBPORTAL_HCLUSTER h 
			where g.CREATE_USER=u.id and g.ID = #{id} and n.ID = g.GCECLUSTER_ID and g.HCLUSTER_ID = h.ID
	</select>
	
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_GCE g
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_GCE g
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and g.ID=#{params.id}
			</if>
			<if test="params != null and params.gceName != null  and params.gceName != ''  and params.gceName != 'null'">
				and g.GCE_NAME like CONCAT('%','${params.gceName}','%') escape '^'
			</if>
			
			<if test="params != null and params.gceClusterId != null  ">
				and g.GCECLUSTER_ID=#{params.gceClusterId}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and g.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.portForward != null and params.portForward != ''">
				and g.HCLUSTER_ID=#{params.portForward}
			</if>
			<if test="params != null and params.gceImageName != null and params.gceImageName != '' ">
				and g.HCLUSTER_ID=#{params.gceImageName}
			</if>
			<if test="params != null and params.type != null  ">
				and g.TYPE=#{params.type}
			</if>
			<if test="params != null and params.status != null  ">
				and g.STATUS=#{params.status}
			</if>
			<if test="params != null and params.descn != null  ">
				and g.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.ip != null  ">
				and g.IP=#{params.ip}
			</if>
			<if test="params != null and params.deleted != null  ">
				and g.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and g.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and g.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and g.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and g.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		,n.CLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
		from WEBPORTAL_GCE g 
		left join WEBPORTAL_GCECLUSTER n on n.ID = g.GCECLUSTER_ID 
		left join WEBPORTAL_USER u on g.CREATE_USER = u.ID
		left join WEBPORTAL_HCLUSTER h on g.HCLUSTER_ID = h.ID
		<include refid="Example_Page_Where_Clause" />
		ORDER BY g.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
</mapper>   