<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IHclusterDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Hcluster">
		<result column="ID" property="id" />
		<result column="HCLUSTER_NAME" property="hclusterName" />
		<result column="DESCN" property="descn" />
		<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		
		<result column="STATUS" property="status" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
  
  	<resultMap id="resultDetail" type="java.util.Map">
		<result column="hclusterId" property="hclusterId" />
		<result column="hclusterName" property="hclusterName" />
		<result column="hclusterNameAlias" property="hclusterNameAlias" />
		
		<result column="hostId" property="hostId" />
		<result column="hostName" property="hostName" />
		<result column="hostIp" property="hostIp" />
		<result column="nodesNumber" property="nodesNumber" />
		<result column="hostModel" property="hostModel" />
		<result column="cpuModel" property="cpuModel" />
		<result column="coresNumber" property="coresNumber" />
		<result column="memorySize" property="memorySize" />
		<result column="diskSize" property="diskSize" />
		<result column="diskUsed" property="diskUsed" /> 
		<result column="type" property="type" /> 
		<result column="name" property="name" /> 
		<result column="password" property="password" /> 
		<result column="descn" property="descn" /> 
		<result column="hostNameAlias" property="hostNameAlias" /> 
		
		<result column="status" property="status" />
		<result column="deleted" property="deleted" />
		<result column="createTime" property="createTime" />
		<result column="createUser" property="createUser" />
		<result column="updateTime" property="updateTime" />
		<result column="updateUser" property="updateUser" />
	</resultMap>
	
	<sql id="Base_Column_List">
		m.id,m.hcluster_name,m.status,m.DELETED,m.update_user,m.update_time,m.create_user,m.create_time,m.descn,m.HCLUSTER_NAME_ALIAS
	</sql>
	
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="hclusterName != null  and hclusterName != '' and hclusterName != 'null'">
				and m.HCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
			</if>
			<if test="status != null  ">
				and m.STATUS=#{status}
			</if>
			<if test="deleted != null  ">
				and m.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and m.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and m.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and m.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and m.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
		<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and m.ID=#{params.id}
			</if>
			<if test="params != null and params.status !=null and params.status != '' ">
				and m.STATUS=#{params.status}
			</if>
			<if test="params != null and params.hclusterName != null  and params.hclusterName != ''  and params.hclusterName != 'null'">
				and m.HCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
			</if>
			<if test="params != null and params.hclusterNameAlias != null  and params.hclusterNameAlias != ''  and params.hclusterNameAlias != 'null'">
				and m.HCLUSTER_NAME_ALIAS like CONCAT('%','${params.hclusterNameAlias}','%') escape '^'
			</if>

		</trim>
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="Hcluster">
		insert into
		WEBPORTAL_HCLUSTER
		(HCLUSTER_NAME,STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,DESCN,HCLUSTER_NAME_ALIAS)
		values
		(#{hclusterName},#{status},#{deleted},now(),#{createUser},#{updateTime},#{updateUser},#{descn},#{hclusterNameAlias})
	</insert>
	
	<!-- 物理删除 -->
	<update id="delete" parameterType="Hcluster">
		delete from WEBPORTAL_HCLUSTER  where ID = #{id}
	</update>

	<!-- 根据条件查询 -->
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m
		where 1=1
		<if test="hclusterName != null  and hclusterName != '' ">
				and m.HCLUSTER_NAME =#{hclusterName}
		</if>		
	</select>
	
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m
		where 1=1
		<if test="hclusterName != null  and hclusterName != '' ">
			and m.HCLUSTER_NAME =#{hclusterName}
		</if>
	</select>
				<!-- 根据dbId查询-->
	<select id="selectByHclusterId" resultMap="resultDetail" parameterType="java.lang.Long">
		select
		m.HCLUSTER_NAME hclusterName,
		m.HCLUSTER_NAME_ALIAS hclusterNameAlias,
		n.ID hostId,
		n.HOST_NAME hostName,
		n.HOST_IP hostIp,
		n.NODES_NUMBER nodesNumber,
		n.HOST_MODEL hostModel,
		n.CPU_MODEL cpuModel,
		n.CORES_NUMBER coresNumber,
		n.MEMORY_SIZE memorySize,
		n.DISK_SIZE diskSize,
		n.DISK_USED diskUsed,
		n.TYPE type,
		n.NAME name,
		n.PASSWORD password,
		n.DESCN descn,
		n.HOST_NAME_ALIAS hostNameAlias,
		n.STATUS status,
		n.DELETED deleted,
		n.CREATE_TIME createTime,
		n.CREATE_USER createUser,
		n.UPDATE_TIME updateTime,
		n.UPDATE_USER updateUser	
		from WEBPORTAL_HCLUSTER m , WEBPORTAL_HOST n where m.ID=n.hcluster_id and m.ID = #{hclusterId}
	</select>
		<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m
		<include refid="Example_Page_Where_Clause" />
		ORDER BY m.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_HCLUSTER m
		<include refid="Example_Where_Clause" />
	</select>
	
   <!-- 修改 -->
	<update id="update" parameterType="Hcluster">
		update WEBPORTAL_HCLUSTER m set
		<if test="hclusterName != null  ">
			m.hclusterName=#{hclusterName}
		</if>
		where m.ID = #{id}
	</update>

	
	<select id="isExistHostOnHcluster" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m ,WEBPORTAL_HOST n
		where m.ID=n.HCLUSTER_ID
	    and m.ID =#{id}	
	</select>
	
	
	<!-- 查询hcluster的相关信息 -->
	<select id="selectHclusterById" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m 
	    where m.ID =#{id}	
	</select>
	<!--通过状态过滤所有有的物理机集群 -->
	<select id="selectHclusterByStatus" resultMap="BaseResultMap"
		parameterType="Hcluster">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HCLUSTER m 
		<include refid="Example_Where_Clause" />		
	</select>
	<!--禁用某些物理机集群 -->
	<update id="updateStatus" parameterType="hcluster">
	 update WEBPORTAL_HCLUSTER m set
	 	<if test="status != null  ">
			m.STATUS=#{status}
		</if>
		where m.ID = #{id}
	</update>

</mapper>   
