<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IHostDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Host">
		<result column="ID" property="id" />
		<result column="HOST_NAME" property="hostName" />
		<result column="HOST_IP" property="hostIp" />
		<result column="NODES_NUMBER" property="nodesNumber" />
		<result column="HOST_MODEL" property="hostModel" />
		<result column="CPU_MODEL" property="cpuModel" />
		<result column="CORES_NUMBER" property="coresNumber" />
		<result column="MEMORY_SIZE" property="memorySize" />
		<result column="DISK_SIZE" property="diskSize" />
		<result column="DISK_USED" property="diskUsed" /> 
		<result column="TYPE" property="type" /> 
		<result column="HCLUSTER_ID" property="type" /> 
		<result column="NAME" property="name" /> 
		<result column="PASSWORD" property="password" /> 
		<result column="DESCN" property="descn" /> 
		
		<result column="STATUS" property="status" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME" property="hclusterName" />
		</association>
	</resultMap>
    <sql id="Base_Column_List">
		m.id,m.host_name,m.host_ip,m.nodes_number,
		m.cpu_model,m.cores_number,m.memory_size,m.disk_size,m.disk_used,m.type,		
		m.host_model,m.status,m.DELETED,m.update_user,m.update_time,m.create_user,m.create_time,m.NAME,m.PASSWORD,m.DESCN
	</sql>
	
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="hostName != null  and hostName != '' ">
				and m.HOST_NAME like CONCAT('%','${hostName}','%')
			</if>
			<if test="hostIp != null  and hostIp != '' ">
				and m.HOST_IP like CONCAT('%','${hostIp}','%')
			</if>
			<if test="status != null  ">
				and m.STATUS=#{status}
			</if>
			<if test="deleted != null  ">
				and m.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and m.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and m.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and m.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and m.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
		<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and m.ID=#{params.id}
			</if>
			<if test="params != null and params.host_name != null  and params.host_name != ''  and params.host_name != 'null'">
				and m.host_name like CONCAT('%','${params.host_name}','%')
			</if>

		</trim>
	</sql>
	
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="Host">
		insert into
		WEBPORTAL_HOST
		(HOST_NAME,HOST_IP,NODES_NUMBER,HOST_MODEL,CPU_MODEL,CORES_NUMBER,MEMORY_SIZE,DISK_SIZE,DISK_USED,
		STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,TYPE,NAME,PASSWORD,DESCN)
		values
		(#{hostName},#{hostIp},#{nodesNumber},#{hostModel},#{cpuModel},#{coresNumber},#{memorySize},#{diskSize},#{diskUsed},
		#{status},'1',now(),#{createUser},now(),#{updateUser},#{type},#{name},#{password},#{descn})
	</insert>
	
	<!-- 物理删除 -->
	<update id="delete" parameterType="Host">
		delete from WEBPORTAL_HOST  where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="Host">
		update WEBPORTAL_HOST set
		<if test="deleted != null  ">
			DELETED=#{deleted}
		</if>
		where ID = #{id}
	</update>

	
	<!--修改node数量 -->
	<update id="updateNodesNumber" parameterType="Host">
		update WEBPORTAL_HOST set
		<if test="nodesNumber != null  ">
			NODES_NUMBER=#{nodesNumber}
		</if>
		where ID = #{id}
	</update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HOST m where m.ID = #{id}
	</select>
	
	<!-- 根据dbId查询-->
	<select id="selectByHclusterId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from webportal_host m where m.HCLUSTER_ID = #{hclusterId}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HOST m
		<include refid="Example_Where_Clause" />
	</select>
	
		<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_HOST m left join WEBPORTAL_MCLUSTER_INFO n 
		on n.ID = m.ID
		<include refid="Example_Page_Where_Clause" />
		ORDER BY m.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_HOST m
		<include refid="Example_Where_Clause" />
	</select>
	
   <!-- 修改 -->
	<update id="update" parameterType="Host">
		update WEBPORTAL_HOST m set
		<if test="hostName != null  ">
			m.host_name=#{hostName}
		</if>
		where m.ID = #{id}
	</update>
</mapper>   
