<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.image.IImageDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Image">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="DICTIONARY_ID" property="dictionaryId" />
		<result column="PURPOSE" property="purpose" />
		<result column="URL" property="url" />
		<result column="TAG" property="tag" />
		<result column="ISUSED" property="isUsed" />
		<result column="DESCN" property="descn" />
			
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="dictionary" javaType="Dictionary">
			<result column="DICTIONARY_NAME" property="dictionaryName" />
		</association>
	</resultMap>
	
	<sql id="Base_Column_List">
		image.ID,image.NAME,image.DICTIONARY_ID,image.PURPOSE,
		image.URL,image.TAG,image.ISUSED,image.DESCN,
		image.CREATE_TIME,image.CREATE_USER,image.UPDATE_TIME,image.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and image.ID=#{id}
			</if>
			<if test="name != null and name != ''  ">
				and image.NAME=#{name}
			</if>
			<if test="dictionaryId != null and dictionaryId != '' ">
				and image.DICTIONARY_ID=#{dictionaryId}
			</if>
			<if test="purpose != null and purpose != '' ">
				and image.PURPOSE=#{purpose}
			</if>
			<if test="url != null and url != ''  ">
				and image.URL=#{url}
			</if>
			<if test="tag != null and tag != ''  ">
				and image.TAG=#{tag}
			</if>
			<if test="isUsed != null and isUsed != ''  ">
				and image.ISUSED=#{isUsed}
			</if>
			<if test="descn != null and descn != ''  ">
				and image.DESCN=#{descn}
			</if>
			
			<if test="createTime != null  ">
				and image.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and image.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and image.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and image.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="Image" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_IMAGE
			(NAME,DICTIONARY_ID,PURPOSE,URL,TAG,ISUSED,DESCN,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values
			(#{name},#{dictionaryId},#{purpose},#{url},#{tag},#{isUsed},#{descn},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- 更新记录 -->
	<update id="update" parameterType="Image">
		update WEBPORTAL_IMAGE
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="name != null and name != '' ">
				NAME=#{name},
			</if>
			<if test="dictionaryId != null and dictionaryId != '' ">
				DICTIONARY_ID=#{dictionaryId},
			</if>
			<if test="purpose != null and purpose != ''  ">
				PURPOSE=#{purpose},
			</if>
			<if test="descn != null and descn != ''  ">
				DESCN=#{descn},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
			<if test="updateTime != null  ">
				UPDATE_TIME=#{updateTime},
			</if>
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<delete id="delete" parameterType="Image">
		delete from WEBPORTAL_IMAGE where ID = #{id}
	</delete>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
			<include refid="Base_Column_List" />, dictionary.NAME DICTIONARY_NAME
		from 
			WEBPORTAL_IMAGE image
		left join 
			WEBPORTAL_DICTIONARY dictionary on image.DICTIONARY_ID=dictionary.ID
		where 
			image.ID = #{id}
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(1) 
		from 
			WEBPORTAL_IMAGE image
		left join 
			WEBPORTAL_DICTIONARY dictionary on image.DICTIONARY_ID=dictionary.ID
			<include refid="Example_Where_Clause" />
			<if test="dictionaryName != null  and dictionaryName != ''">
				and dictionary.NAME like CONCAT('%','${dictionaryName}','%') escape '^'
			</if>
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and image.ID=#{params.id}
			</if>
			<if test="params != null and params.name != null and params.name != '' ">
				and image.NAME=#{params.name}
			</if>		
			<if test="params != null and params.dictionaryId != null and params.dictionaryId != '' ">
				and image.DICTIONARY_ID=#{params.dictionaryId}
			</if>
			<if test="params != null and params.purpose != null and params.purpose != ''  ">
				and image.PURPOSE=#{params.purpose}
			</if>
			<if test="params != null and params.descn != null and params.descn != ''  ">
				and image.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.url != null and params.url != ''  ">
				and image.URL=#{params.url}
			</if>
			<if test="params != null and params.tag != null and params.tag != ''  ">
				and image.TAG=#{params.tag}
			</if>
			<if test="params != null and params.isUsed != null and params.isUsed != ''  ">
				and image.ISUSED=#{params.isUsed}
			</if>
			
			<if test="params != null and params.createTime != null  ">
				and image.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and image.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and image.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and image.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select
			<include refid="Base_Column_List" />, dictionary.NAME DICTIONARY_NAME
		from 
			WEBPORTAL_IMAGE image
		left join 
			WEBPORTAL_DICTIONARY dictionary on image.DICTIONARY_ID=dictionary.ID
			<include refid="Example_Page_Where_Clause" />
			<if test="params != null and params.dictionaryName != null  and params.dictionaryName != ''">
				and dictionary.NAME like CONCAT('%','${params.dictionaryName}','%') escape '^'
			</if>
		ORDER BY image.CREATE_TIME DESC
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
</mapper>   