<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IIpResourceDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="IpResource">
		<result column="ID" property="id" />
		<result column="IP" property="ip" />
		<result column="GATE_WAY" property="gateWay" />
		<result column="MASK" property="mask" />
		
		<result column="STATUS" property="status" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="ip != null">
				and IP=#{ip}
			</if>
		</trim>
	</sql>
	
	<!-- WEBPORTAL_IP_RESOURCE table all fields -->
	<sql id="Base_Column_List">
		ID,IP,GATE_WAY,MASK,
		STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="IpResource">
		insert into
		WEBPORTAL_IP_RESOURCE
		(ID,IP,GATE_WAY,MASK,
		STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values
		(UUID(),#{ip},#{gateWay},#{mask},
		'0','1',now(),#{createUser},now(),#{updateUser})
	</insert>
	
	<!-- 修改使用状态 -->
	<update id="updateStatus" parameterType="IpResource">
		update WEBPORTAL_IP_RESOURCE set
		<if test="status != null  ">
			STATUS=#{status}
		</if>
		where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_IP_RESOURCE where ID = #{id}
	</select>
	<!-- 根据使用状态查询-->
	<select id="selectByStatus" resultMap="BaseResultMap" parameterType="IpResource">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_IP_RESOURCE where status = #{status} limit 0,#{count}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_IP_RESOURCE
		<include refid="Example_Where_Clause" />
	</select>
	
</mapper>   