<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.lcp.ICloudvmServer1Dao">

	<resultMap id="BaseResultMap" type="CloudvmServerModel">
	    <result column="ID" property="id" />
	    <result column="REGION" property="region" />
	    <result column="SERVER_INSTANCE_ID" property="serverInstanceId" />
	    <result column="NAME" property="name" />
	    <result column="TENANT_ID" property="tenantId" />
	    <result column="STATUS" property="status" />
	    <result column="CPU" property="cpu" />
	    <result column="RAM" property="ram" />
	    <result column="STORAGE" property="storage" />
	    <result column="PRIVATE_IP" property="privateIp" />
	    <result column="PUBLIC_NETWORK_ID" property="publicNetworkId" />
	    <result column="IMAGE_ID" property="imageId" />
	    <result column="DELETED" property="deleted" />
	    <result column="CREATE_TIME" property="createTime" />
	    <result column="UPDATE_TIME" property="updateTime" />
	    <result column="CREATE_USER" property="createUser" />
	    <result column="UPDATE_USER" property="updateUser" />
	    <result column="ZABBIXHOSTS" property="zabbixHosts" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    server.ID,server.REGION,server.SERVER_INSTANCE_ID,server.NAME,server.TENANT_ID,server.STATUS,
	    server.CPU,server.RAM,server.STORAGE,server.PRIVATE_IP,server.PUBLIC_NETWORK_ID,
	    server.IMAGE_ID,server.DELETED,server.CREATE_TIME,server.UPDATE_TIME,server.CREATE_USER,
	    server.UPDATE_USER,server.ZABBIXHOSTS
	</sql>

	<insert id="insert" parameterType="CloudvmServerModel" useGeneratedKeys="true" keyProperty="id" >
	    insert into LCP_CLOUDVM_SERVER 
	        (REGION,NAME,TENANT_ID,STATUS,STORAGE,IMAGE_ID,DELETED,CREATE_TIME,CREATE_USER) 
	    values
	        (#{region},#{name},#{tenantId},#{status},#{storage},#{imageId},#{deleted},now(),#{createUser})
	</insert>	
	
	<update id="update" parameterType="CloudvmStorageModel">
		update 
			LCP_CLOUDVM_SERVER
		<set>
		    <if test="serverInstanceId != null and serverInstanceId != '' ">
		        SERVER_INSTANCE_ID=#{serverInstanceId},
		    </if>
		    <if test="status != null and status != '' ">
		        STATUS=#{status},
		    </if>
		    <if test="publicNetworkId != null and publicNetworkId != '' ">
		        PUBLIC_NETWORK_ID=#{publicNetworkId},
		    </if>
		    <if test="cpu != null and cpu != '' ">
		        CPU=#{cpu},
		    </if>
		    <if test="ram != null and ram != '' ">
		        RAM=#{ram},
		    </if>
		    <if test="privateIp != null and privateIp != '' ">
		        PRIVATE_IP=#{privateIp},
		    </if>
		        UPDATE_TIME=now(),
		    <if test="updateUser != null and updateUser != '' ">
		        UPDATE_USER=#{updateUser},
		    </if>
		    <if test="zabbixHosts != null and zabbixHosts != '' ">
		        ZABBIXHOSTS=#{zabbixHosts},
		    </if>
		</set>
		where 
			ID=#{id}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			<include refid="Base_Column_List" />
		from 
			LCP_CLOUDVM_SERVER server 
		where 
			server.ID = #{id}
	</select>
	
</mapper>
