<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.log.ILogContainerDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="LogContainer">
		<result column="ID" property="id" />
		<result column="CONTAINER_NAME" property="containerName" />
		<result column="MOUNT_DIR" property="mountDir" />
		<result column="ZOOKEEPER_ID" property="zookeeperId" />
		<result column="IP_ADDR" property="ipAddr" />
		<result column="GATE_ADDR" property="gateAddr" />
		<result column="IP_MASK" property="ipMask" />
		<result column="TYPE" property="type" />
		<result column="DISK_SIZE" property="diskSize" />
		<result column="CORES_NUMBER" property="coresNumber" />
		<result column="CPU_SPEED" property="cpuSpeed" />
		<result column="MEMORY_SIZE" property="memorySize" />
		<result column="BIND_CONTAINER_PORT" property="bindContainerPort" />
		<result column="BIND_HOST_PORT" property="bingHostPort" />
		<result column="BIND_HOST_IP" property="bingHostIp" />
		<result column="BIND_PROTOCOL" property="bingProtocol" />
		<result column="MGR_BIND_HOST_PORT" property="mgrBindHostPort" />
		<result column="CONTAINER_UUID" property="containerUuid" />
		<result column="HOST_ID" property="hostId" />
		<result column="HOST_IP" property="hostIp" />
		<result column="LOGCLUSTER_ID" property="logClusterId" />
		<result column="ZABBIXHOSTS" property="zabbixHosts" />
		
		<result column="STATUS" property="status" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="host" javaType="Host">
			<result column="HOST_NAME" property="hostName" />
			<result column="HOST_NAME_ALIAS" property="hostNameAlias" />
			<result column="HCLUSTER_ID" property="hclusterId" />
		</association>
		
	    <association property="logCluster" javaType="LogCluster">
			<result column="LOGCLUSTER_NAME" property="logClusterName" />
		</association>
		
	    <association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	</resultMap>
	
	<!-- WEBPORTAL_LOGCONTAINER GC table all fields -->
	<sql id="Base_Column_List">
		LCT.ID,LCT.CONTAINER_NAME,LCT.MOUNT_DIR,LCT.ZOOKEEPER_ID,LCT.IP_ADDR,LCT.GATE_ADDR,LCT.IP_MASK,LCT.TYPE,LCT.ZABBIXHOSTS,LCT.BIND_HOST_IP,
		LCT.BIND_PROTOCOL,LCT.CONTAINER_UUID,LCT.MGR_BIND_HOST_PORT,LCT.BIND_CONTAINER_PORT,BIND_HOST_PORT,
		LCT.DISK_SIZE,LCT.CORES_NUMBER,LCT.MEMORY_SIZE,LCT.CPU_SPEED,LCT.HOST_ID,LCT.HOST_IP,LCT.LOGCLUSTER_ID,LCT.STATUS,LCT.DELETED,LCT.CREATE_TIME,LCT.CREATE_USER,LCT.UPDATE_TIME,LCT.UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and LCT.ID=#{id}
			</if>
			<if test="containerName != null  and containerName != '' and containerName != 'null'">
				and LCT.CONTAINER_NAME like CONCAT('%','${containerName}','%')
			</if>
			<if test="type != null ">
				and LCT.TYPE=#{type}
			</if>
			<if test="ipAddr != null ">
				and LCT.IP_ADDR=#{ipAddr}
			</if>
			<if test="logClusterId != null ">
				and LCT.LOGCLUSTER_ID=#{logClusterId}
			</if>
			<if test="zookeeperId != null ">
				and LCT.ZOOKEEPER_ID=#{zookeeperId}
			</if>
		</trim>
	</sql>
	<!-- 插入记录 -->
	<insert id="insert" parameterType="LogContainer" useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_LOGCONTAINER
		(CONTAINER_NAME,MOUNT_DIR,ZOOKEEPER_ID,IP_ADDR,GATE_ADDR,IP_MASK,TYPE,BIND_CONTAINER_PORT,BIND_HOST_PORT,BIND_HOST_IP,BIND_PROTOCOL,CONTAINER_UUID,MGR_BIND_HOST_PORT,
		DISK_SIZE,CORES_NUMBER,MEMORY_SIZE,CPU_SPEED,HOST_ID,HOST_IP,LOGCLUSTER_ID,STATUS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values
		(#{containerName},#{mountDir},#{zookeeperId},#{ipAddr},#{gateAddr},#{ipMask},#{type},#{bindContainerPort},#{bingHostPort},#{bingHostIp},#{bingProtocol},#{containerUuid},#{mgrBindHostPort},
		#{diskSize},#{coresNumber},#{memorySize},#{cpuSpeed},#{hostId},#{hostIp},#{logClusterId},#{status},${deleted},now(),#{createUser},now(),#{updateUser})
	</insert>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="LogContainer">
		update WEBPORTAL_LOGCONTAINER set
		CONTAINER_NAME=#{containerName},MOUNT_DIR=#{mountDir},ZOOKEEPER_ID=#{zookeeperId},IP_ADDR=#{ipAddr},GATE_ADDR=#{gateAddr},IP_MASK=#{ipMask},BIND_CONTAINER_PORT=#{bindContainerPort},MGR_BIND_HOST_PORT=#{mgrBindHostPort},
		BIND_HOST_PORT=#{bingHostPort},BIND_HOST_IP=#{bingHostIp},BIND_PROTOCOL=#{bingProtocol},CONTAINER_UUID=#{containerUuid},
		TYPE=#{type},DISK_SIZE=#{diskSize},CORES_NUMBER=#{coresNumber},MEMORY_SIZE=#{memorySize},CPU_SPEED=#{cpuSpeed},HOST_ID=#{hostId},HOST_IP=#{hostIp},LOGCLUSTER_ID=#{logClusterId},
		STATUS=#{status},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>
	
	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="LogContainer">
		update WEBPORTAL_LOGCONTAINER
		<set>
			<if test="containerName != null  and containerName != '' ">
				CONTAINER_NAME=#{containerName},
			</if>
			<if test="mountDir != null  ">
				MOUNT_DIR=#{mountDir},
			</if>
			<if test="zookeeperId != null  ">
				ZOOKEEPER_ID=#{zookeeperId},
			</if>
			<if test="ipAddr != null  ">
				IP_ADDR=#{ipAddr},
			</if>
			<if test="gateAddr != null  ">
				GATE_ADDR=#{gateAddr},
			</if>
			<if test="ipMask != null  ">
				IP_MASK=#{ipMask},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="diskSize != null  ">
				DISK_SIZE=#{diskSize},
			</if>
			<if test="coresNumber != null  ">
				CORES_NUMBER=#{coresNumber},
			</if>
			<if test="memorySize != null  ">
				MEMORY_SIZE=#{memorySize},
			</if>
			<if test="cpuSpeed != null  ">
				CPU_SPEED=#{cpuSpeed},
			</if>
			<if test="hostId != null  ">
				HOST_ID=#{hostId},
			</if>
			<if test="hostIp != null  ">
				HOST_IP=#{hostIp},
			</if>
			<if test="logClusterId != null  ">
				LOGCLUSTER_ID=#{logClusterId},
			</if>
			<if test="containerUuid != null  ">
				CONTAINER_UUID=#{containerUuid},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
			<if test="zabbixHosts != null  ">
				ZABBIXHOSTS=#{zabbixHosts}
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<select id="selectContainerByLogClusterId" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" />
			from WEBPORTAL_LOGCONTAINER LCT
			where LCT.LOGCLUSTER_ID=#{logClusterId}
	</select>
</mapper>   
