<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.log.ILogServerDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="LogServer">
		<result column="ID" property="id" />
	
		<result column="LOG_NAME" property="logName" />
		<result column="LOGCLUSTER_ID" property="logClusterId" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
		<result column="DESCN" property="descn" />
		<result column="IP" property="ip" />
		<result column="ACCESS_URL" property="accessUrl" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="logCluster" javaType="LogCluster">
			<result column="CLUSTER_NAME" property="clusterName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	
	</resultMap>
	
	<sql id="Base_Column_List">
		l.ID,
		l.LOG_NAME,l.LOGCLUSTER_ID,l.HCLUSTER_ID,l.TYPE,l.STATUS,l.DESCN,l.IP,l.ACCESS_URL,
		l.DELETED,l.CREATE_TIME,l.CREATE_USER,l.UPDATE_TIME,l.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and l.ID=#{id}
			</if>
			
			<if test="logName != null and logName != '' ">
				and l.LOG_NAME like CONCAT('%','${logName}','%') escape '^'
			</if>
			<if test="logClusterId != null  ">
				and l.LOGCLUSTER_ID=#{logClusterId}
			</if>
			<if test="hclusterId != null  ">
				and l.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="type != null and type != ''  ">
				and l.TYPE=#{type}
			</if>
			<if test="status != null and status != ''  ">
				and l.STATUS=#{status}
			</if>
			<if test="ip != null and ip != ''  ">
				and l.IP=#{ip}
			</if>
			<if test="accessUrl != null and accessUrl != ''  ">
				and l.ACCESS_URL=#{accessUrl}
			</if>
			<if test="deleted != null  ">
				and l.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and l.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and l.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and l.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and l.UPDATE_USER=#{updateUser}
			</if>
			
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="LogServer" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_LOG(
			LOG_NAME,LOGCLUSTER_ID,HCLUSTER_ID,TYPE,STATUS,DESCN,IP,ACCESS_URL,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{logName},#{logClusterId},#{hclusterId},#{type},#{status},#{descn},#{ip},#{accessUrl},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- -->
	<update id="updateBySelective" parameterType="LogServer">
		update WEBPORTAL_LOG
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="logName != null  ">
				LOG_NAME=#{logName},
			</if>
			<if test="logClusterId != null  ">
				LOGCLUSTER_ID=#{logClusterId},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="descn != null  ">
				DESCN=#{descn},
			</if>
			<if test="ip != null  ">
				IP=#{ip},
			</if>
			<if test="accessUrl != null  ">
				ACCESS_URL=#{accessUrl},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="LogServer">
		delete from WEBPORTAL_LOG where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			,n.CLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
			from WEBPORTAL_LOG l ,WEBPORTAL_LOGCLUSTER n,WEBPORTAL_USER u,WEBPORTAL_HCLUSTER h 
			where l.CREATE_USER=u.id and l.ID = #{id} and n.ID = l.LOGCLUSTER_ID and l.HCLUSTER_ID = h.ID
	</select>
	
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_LOG l
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_LOG l
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and l.ID=#{params.id}
			</if>
			<if test="params != null and params.logName != null  and params.logName != ''  and params.logName != 'null'">
				and l.LOG_NAME like CONCAT('%','${params.logName}','%') escape '^'
			</if>
			
			<if test="params != null and params.logClusterId != null  ">
				and l.LOGCLUSTER_ID=#{params.logClusterId}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and l.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.type != null  ">
				and l.TYPE=#{params.type}
			</if>
			<if test="params != null and params.status != null  ">
				and l.STATUS=#{params.status}
			</if>
			<if test="params != null and params.descn != null  ">
				and l.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.ip != null  ">
				and l.IP=#{params.ip}
			</if>
			<if test="params != null and params.accessUrl != null  ">
				and l.ACCESS_URL=#{params.accessUrl}
			</if>
			<if test="params != null and params.deleted != null  ">
				and l.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and l.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and l.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and l.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and l.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		,n.CLUSTER_NAME,u.USERNAME,h.HCLUSTER_NAME_ALIAS
		from WEBPORTAL_LOG l 
		left join WEBPORTAL_LOGCLUSTER n on n.ID = l.LOGCLUSTER_ID 
		left join WEBPORTAL_USER u on l.CREATE_USER = u.ID
		left join WEBPORTAL_HCLUSTER h on l.HCLUSTER_ID = h.ID
		<include refid="Example_Page_Where_Clause" />
		ORDER BY l.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
</mapper>   