<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IMclusterDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Mcluster" >
		<result column="ID" property="id" />
		<result column="MCLUSTER_NAME" property="mclusterName" />
		<result column="ADMIN_USER" property="adminUser" />
		<result column="ADMIN_PASSWORD" property="adminPassword" />
		<result column="STATUS" property="status" />
		<result column="TYPE" property="type" />
		<result column="SST_PASSWORD" property="sstPwd" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	</resultMap>
	<!-- other map -->
	<resultMap id="createParams" type="java.util.Map">
		<result column="DB_NAME" property="dbName" />
		<result column="IP_ADDR" property="nodeIp" />
		<result column="CREATE_USER" property="createUser" />
		<result column="ADMIN_USER" property="username" />
		<result column="ADMIN_PASSWORD" property="password" />
	</resultMap>
	<sql id="Base_Column_List">
		M.ID,M.MCLUSTER_NAME,M.ADMIN_USER,M.ADMIN_PASSWORD,M.STATUS,M.TYPE,M.SST_PASSWORD,M.HCLUSTER_ID,M.DELETED,M.CREATE_TIME,M.CREATE_USER,M.UPDATE_TIME,M.UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and M.ID=#{id}
			</if>
			<if test="mclusterName != null  and mclusterName != '' and mclusterName != 'null'">
				and M.MCLUSTER_NAME like CONCAT('%','${mclusterName}','%') escape '^'
			</if>
			<if test="status != null and status != ''">
				and M.STATUS=#{status}
			</if>
			<if test="type != null  ">
				and M.TYPE=#{type}
			</if>
			<if test="sstPwd != null  ">
				and M.SST_PASSWORD=#{sstPwd}
			</if>
			<if test="hclusterId != null  ">
				and M.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="deleted != null  ">
				and M.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and M.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and M.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and M.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and M.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and M.ID=#{params.id}
			</if>
			<if test="params != null and params.mclusterName != null  and params.mclusterName != '' and params.mclusterName != 'null'">
				and M.MCLUSTER_NAME like CONCAT('%','${params.mclusterName}','%') escape '^'
			</if>
			<if test="params != null and params.status != null and params.status != '' ">
				and M.STATUS=#{params.status}
			</if>
			<if test="params != null and params.type != null  ">
				and M.TYPE=#{params.type}
			</if>
			<if test="params != null and params.deleted != null  ">
				and M.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.sstPwd != null  ">
				and M.SST_PASSWORD=#{params.sstPwd}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and M.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.createTime != null  ">
				and M.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and M.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and M.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and M.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="Mcluster" useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_MCLUSTER_INFO(MCLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,TYPE,SST_PASSWORD,HCLUSTER_ID,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(#{mclusterName},#{adminUser},#{adminPassword},#{status},#{type},#{sstPwd},#{hclusterId},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO set
		MCLUSTER_NAME=#{mclusterName},ADMIN_USER=#{adminUser},ADMIN_PASSWORD=#{adminPassword},STATUS=#{status},TYPE=#{type},SST_PASSWORD=#{sstPwd},HCLUSTER_ID=#{hclusterId},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO
		<set>
			<if test="mclusterName != null  and mclusterName != '' ">
				MCLUSTER_NAME=#{mclusterName},
			</if>
			<if test="adminUser != null  ">
				ADMIN_USER=#{adminUser},
			</if>
			<if test="adminPassword != null  ">
				ADMIN_PASSWORD=#{adminPassword},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="sstPwd != null  ">
				SST_PASSWORD=#{sstPwd},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="Mcluster">
		delete from WEBPORTAL_MCLUSTER_INFO where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="deleteFlag" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO set
		<if test="deleted != null  ">
			DELETED=#{deleted}
		</if>
		where ID = #{id}
	</update>
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M where M.ID = #{id}
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M WHERE M.MCLUSTER_NAME = #{mclusterName}
	</select>

	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from WEBPORTAL_MCLUSTER_INFO M
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M
		<include refid="Example_Where_Clause" />
	</select>
	<select id="select4Run" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M,WEBPORTAL_CONTAINER C
		where M.ID = C.MCLUSTER_ID
	</select>
	<select id="selectValidMclusters" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M where M.STATUS IN(1,7,8,9,13,14)
	</select>
	<select id="selectNextValidMclusterById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M where M.STATUS IN(1,7,8,9,13,14) and M.ID>#{mclusterId} order by ID asc limit #{addNewCount}
	</select>
	<select id="selectValidMclustersByMap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M
		join WEBPORTAL_HCLUSTER h on M.HCLUSTER_ID = h.ID
		<if test="mclusterName != null  and mclusterName != ''">
			and M.MCLUSTER_NAME like CONCAT('%','${mclusterName}','%') escape '^'
		</if>
		<if test="hclusterName != null  and hclusterName != ''">
			and h.hCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
		</if>
		 and M.STATUS IN(1,7,8,9,13,14)
	</select>
	<select id="selectValidMclustersByPage" resultMap="BaseResultMap" parameterType="com.letv.common.paging.impl.Page">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M where M.STATUS IN(1,7,8,9,13,14) limit #{startRowPosition},#{recordsPerPage}
	</select>
	<select id="selectLastValidMclustersByPage" resultMap="BaseResultMap" parameterType="com.letv.common.paging.impl.Page">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO M where M.STATUS IN(1,7,8,9,13,14) limit #{startRowPosition},1000
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" /> ,U.USERNAME,h.HCLUSTER_NAME_ALIAS
		FROM  WEBPORTAL_MCLUSTER_INFO M 
		join WEBPORTAL_USER U ON U.ID = M.CREATE_USER
		<if test="params != null and params.userName != null  and params.userName != ''">
			and U.USERNAME like CONCAT('%','${params.userName}','%') escape '^'
		</if>
		join WEBPORTAL_HCLUSTER h on M.HCLUSTER_ID = h.ID
		<if test="params != null and params.hclusterName != null  and params.hclusterName != ''">
			and h.hCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
		</if>
		<include refid="Example_Page_Where_Clause" />
		ORDER BY M.CREATE_TIME DESC	
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   
