<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IMclusterDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="Mcluster" >
		<result column="ID" property="id" />
		<result column="MCLUSTER_NAME" property="mclusterName" />
		<result column="ADMIN_USER" property="adminUser" />
		<result column="ADMIN_PASSWORD" property="adminPassword" />
		<result column="STATUS" property="status" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<!-- WEBPORTAL_MCLUSTER_INFO table all fields -->
	<sql id="Base_Column_List">
		ID,MCLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER
	</sql>

	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="mclusterName != null  and mclusterName != '' and mclusterName != 'null'">
				and MCLUSTER_NAME like CONCAT('%','${mclusterName}','%')
			</if>
			<if test="status != null  ">
				and STATUS=#{status}
			</if>
			<if test="isDeleted != null  ">
				and IS_DELETED=#{isDeleted}
			</if>
			<if test="createTime != null  ">
				and CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="Mcluster">
		insert into
		WEBPORTAL_MCLUSTER_INFO(ID,MCLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		<if test="id != null">#{id}</if>
		<if test="id == null">UUID()</if>
		,#{mclusterName},#{adminUser},#{adminPassword},#{status},'1',now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO set
		ID=#{id},MCLUSTER_NAME=#{mclusterName},ADMIN_USER=#{adminUser},ADMIN_PASSWORD=#{adminPassword},STATUS=#{status},IS_DELETED=#{isDeleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!-- -->
	<update id="updateBySelective" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO
		<set>
			<if test="mclusterName != null  and mclusterName != '' ">
				MCLUSTER_NAME=#{mclusterName},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="isDeleted != null  ">
				IS_DELETED=#{isDeleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="Mcluster">
		delete from WEBPORTAL_MCLUSTER_INFO where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO set
		<if test="isDeleted != null  ">
			IS_DELETED=#{isDeleted}
		</if>
		where ID = #{id}
	</update>
	<!-- status状态修改 -->
	<update id="audit" parameterType="Mcluster">
		update WEBPORTAL_MCLUSTER_INFO set
		<if test="status != null  ">
			STATUS=#{status}
		</if>
		where ID = #{id}
	</update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO where ID = #{id}
	</select>
	
	<select id="selectByClusterName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO WHERE MCLUSTER_NAME = #{mclusterName}
	</select>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="Mcluster">
		select count(1) from WEBPORTAL_MCLUSTER_INFO
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据条件查询 -->
	<select id="selectByModel" resultMap="BaseResultMap"
		parameterType="Mcluster">
		select
		<include refid="Base_Column_List" />
		from DICTIONARY_INFO
		<include refid="Example_Where_Clause" />
	</select>


	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_MCLUSTER_INFO
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and ID=#{params.id}
			</if>
			<if test="params != null and params.mclusterName != null  and params.mclusterName != '' and params.mclusterName != 'null'">
				and MCLUSTER_NAME like CONCAT('%','${params.mclusterName}','%')
			</if>
			<if test="params != null and params.status != null  ">
				and STATUS=#{params.status}
			</if>
			<if test="params != null and params.isDeleted != null  ">
				and IS_DELETED=#{params.isDeleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_MCLUSTER_INFO
		<include refid="Example_Page_Where_Clause" />
		ORDER BY CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   