<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IMonitorDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="MonitorDetail">
		<result column="ID" property="id" />
		<result column="DETAIL_NAME" property="detailName" />
		<result column="DETAIL_VALUE" property="detailValue" />
        <result column="MONITOR_DATE" property="monitorDate" />
        <result column="IP" property="ip" />
        <result column="DB_NAME" property="dbName" /> 
	</resultMap>
	<resultMap id="MonitorErrorResultMap" type="MonitorErrorModel">
		<result column="ID" property="id" />
		<result column="TABLE_NAME" property="tableName" />
		<result column="URL" property="url" />
        <result column="RESULT" property="result" />
        <result column="CREATE_TIME" property="createTime" /> 
	</resultMap>
	<resultMap id="dataMap" type="java.util.Map">
        <result column="MONITOR_DATE" property="monitorDate" />
		<result column="DETAIL_VALUE" property="detailValue" />
		<result column="DETAIL_NAME" property="detailName" />
	</resultMap>
	<resultMap id="extremeIdMap" type="java.util.Map">
        <result column="MAX_ID" property="maxId" />
		<result column="MIN_ID" property="minId" />
	</resultMap>
	

	<!-- WEBPORTAL_DB table all fields -->
	<sql id="Base_Column_List">
		m.ID,m.DETAIL_NAME,m.DETAIL_VALUE,m.MONITOR_DATE,m.IP
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and m.ID=#{id}
			</if>
			<if test="detailName != null  ">
				and m.DETAIL_NAME=#{detailName}
			</if>
			<if test="detailValue != null  ">
				and m.DETAIL_VALUE=#{detailValue}
			</if>
			<if test="ip != null  ">
				and m.IP=#{ip}
			</if>
			<if test="monitorDate != null  and monitorDate != '' and monitorDate != 'null'">
				and m.MONITOR_DATE like CONCAT('%','${monitorDate}','%')
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="MonitorDetail" useGeneratedKeys="true" keyProperty="id" >
		insert into
		${dbName}(DETAIL_NAME,DETAIL_VALUE,MONITOR_DATE,IP)
		values(
		#{detailName},#{detailValue},#{monitorDate},#{ip})
	</insert>

	<!-- 插入记录 -->
	<insert id="saveMonitorErrorInfo" parameterType="MonitorErrorModel" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_MONITOR_ERROR
			(TABLE_NAME,URL,RESULT,CREATE_TIME)
		values
			(#{tableName},#{url},#{result},now())
	</insert>
	

	<select id="getMonitorErrorModelsByMap" resultType="java.util.Map" parameterType="java.util.Map">
		select
			error.TABLE_NAME tableName,count(error.TABLE_NAME) count
		from 
			WEBPORTAL_MONITOR_ERROR error
		where 
			error.CREATE_TIME between #{start} and #{end}
		group by 
			error.TABLE_NAME
	</select>

	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" /> 
		from ${dbName} m
		
	</select>
	
	<select id="selectDistinct" resultType="String" parameterType="java.util.Map">
	    select distinct DETAIL_NAME from ${dbName}
	</select>
	
	<select id="selectDateTime" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
        <include refid="Base_Column_List" /> 
	   	from ${dbName} m
        <include refid="Example_Where_Clause" />  and m.MONITOR_DATE between #{start} and #{end} 
	</select>
	
	<select id="selectExtremeIdByMonitorDate" resultMap="extremeIdMap" parameterType="java.util.Map">
		select 
        max(id) MAX_ID,min(id) MIN_ID
	   	from ${dbName} m
        where MONITOR_DATE &lt;= #{monitorDate}
	</select>
	
	<update id="deleteOutDataByIndex" parameterType="java.util.Map">
		delete from ${dbName} where id between #{min} and #{max}
	</update>
	
	<select id="selectDbStorage" resultType="java.lang.Float" parameterType="java.lang.String">
		select detail_value,monitor_date from WEBPORTAL_MONITOR_NODE_DATADIRSIZE 
		where ip= #{ipAddr} and detail_name = '/srv/mcluster' order by monitor_date desc limit 0,1 
	</select>
	<select id="selectDbConnect" resultMap="dataMap" parameterType="java.lang.String">
		select MONITOR_DATE,DETAIL_NAME,DETAIL_VALUE from WEBPORTAL_MONITOR_DB_ROWOPERS_TOTAL 
		where ip=#{ipAddr} order by monitor_date desc limit 0,4
	</select>

	<!-- 增加分区 -->
	<update id="addMonitorPartition" parameterType="java.util.Map">
		ALTER TABLE ${dbName} ADD PARTITION
		(
		 PARTITION ${partitionName1} VALUES less than (UNIX_TIMESTAMP(#{partitionTime1})),  
		 PARTITION ${partitionName2} VALUES less than (UNIX_TIMESTAMP(#{partitionTime2}))
		)
	</update>
	<!-- 删除分区 -->
	<update id="deleteMonitorPartitionThirtyDaysAgo" parameterType="java.util.Map">
		ALTER TABLE ${dbName} DROP PARTITION  
		<foreach collection="names" index="index" item="partitionNames" open="" separator="," close="">  
        	${partitionNames}  
    	</foreach>  
	</update>
	<!-- 获取表分区排序 -->
	<select id="getPartitionOrder" resultType="String" parameterType="java.util.Map">
		select 
	       p.PARTITION_ORDINAL_POSITION partitionOrdinalPosition
	   	from 
	   		INFORMATION_SCHEMA.PARTITIONS p  
	    where 
	    	p.TABLE_SCHEMA = #{tableSchema} and
	    	p.TABLE_NAME = #{dbName} and
	    	p.PARTITION_NAME = #{partitionName2}
	</select>
	<!-- 获取表分区信息 -->
	<select id="getPartitionInfo" resultType="String" parameterType="java.util.Map">
		select 
	       p.PARTITION_NAME partitionName
	   	from 
	   		INFORMATION_SCHEMA.PARTITIONS p  
	    where 
	    	p.TABLE_SCHEMA = #{tableSchema} and
	    	p.TABLE_NAME = #{dbName} and
	    	p.PARTITION_NAME is not null and
	    	p.PARTITION_ORDINAL_POSITION &lt;= ${order}
	    order by 
	    	p.PARTITION_ORDINAL_POSITION desc
	</select>
	
	<!-- 查询最新记录 -->
	<select id="selectLastestData" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
	       <include refid="Base_Column_List" /> 
	   	from ${dbName} m
	       <include refid="Example_Where_Clause" />  and m.MONITOR_DATE between #{start} and #{end} 
	       order by m.MONITOR_DATE
	       limit 0,#{count}
	</select>
</mapper>   