<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.monitor.mysql.IMysqlKeyBufferMonitorDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="mysqlKeyBufferMonitor">
		<result column="ID" property="id" />
		<result column="HOST_IP" property="hostIp" />
		<result column="HOST_TAG" property="hostTag" />
		<result column="KEY_BUFFER_SIZE" property="keyBufferSize" />
		<result column="SORT_BUFFER_SIZE" property="sortBufferSize" />
		<result column="JOIN_BUFFER_SIZE" property="joinBufferSize" />
		<result column="KEY_BLOCKS_UNUSED" property="keyBlocksUnused" />
		<result column="KEY_BLOCKS_USED" property="keyBlocksUsed" />
		<result column="KEY_BLOCKS_NOT_FLUSHED" property="keyBlocksNotFlushed" />
		<result column="KEY_BLOCKS_USED_RATE" property="keyBlocksUsedRate" />
		<result column="KEY_BUFFER_READ_RATE" property="keyBlocksReadRate" />
		<result column="KEY_BUFFER_WRITE_RATE" property="keyBlocksWriteRate" />
		<result column="DESCN" property="descn" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		keybuffer.ID,keybuffer.HOST_IP,keybuffer.HOST_TAG,
		keybuffer.KEY_BUFFER_SIZE,keybuffer.SORT_BUFFER_SIZE,keybuffer.JOIN_BUFFER_SIZE,keybuffer.KEY_BLOCKS_UNUSED,keybuffer.KEY_BLOCKS_USED,
		keybuffer.KEY_BLOCKS_NOT_FLUSHED,keybuffer.KEY_BLOCKS_USED_RATE,
		keybuffer.KEY_BUFFER_READ_RATE,keybuffer.KEY_BUFFER_WRITE_RATE,
		keybuffer.DESCN,keybuffer.CREATE_TIME,keybuffer.UPDATE_TIME
	</sql>
	
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="MysqlKeyBufferMonitor" useGeneratedKeys="true" keyProperty="id">
		insert into WEBPORTAL_MONITOR_MYSQL_KEYBUFFER 
			(HOST_IP,HOST_TAG,KEY_BUFFER_SIZE,SORT_BUFFER_SIZE,JOIN_BUFFER_SIZE,KEY_BLOCKS_UNUSED,KEY_BLOCKS_USED,KEY_BLOCKS_NOT_FLUSHED,KEY_BLOCKS_USED_RATE,KEY_BUFFER_READ_RATE,KEY_BUFFER_WRITE_RATE,DESCN,CREATE_TIME,UPDATE_TIME) 
		values 
			(#{hostIp},#{hostTag},#{keyBufferSize},#{sortBufferSize},#{joinBufferSize},#{keyBlocksUnused},#{keyBlocksUsed},#{keyBlocksNotFlushed},#{keyBlocksUsedRate},#{keyBufferReadRate},#{keyBufferWriteRate},#{descn},#{createTime},#{updateTime});
	</insert>

	<!-- 更新记录 -->
	<update id="update" parameterType="MysqlKeyBufferMonitor">
		update WEBPORTAL_MONITOR_MYSQL_KEYBUFFER 
		<set>
		    <if test="id != null and id != '' ">
		        ID=#{id},
		    </if>
		    <if test="hostIp != null and hostIp != '' ">
		        HOST_IP=#{hostIp},
		    </if>
		    <if test="hostTag != null and hostTag != '' ">
		        HOST_TAG=#{hostTag},
		    </if>
		    <if test="keyBufferSize != null ">
		        KEY_BUFFER_SIZE=#{keyBufferSize},
		    </if>
		    <if test="sortBufferSize != null ">
		        SORT_BUFFER_SIZE=#{sortBufferSize},
		    </if>
		    <if test="joinBufferSize != null ">
		        JOIN_BUFFER_SIZE=#{joinBufferSize},
		    </if>
		    <if test="keyBlocksUnused != null ">
		        KEY_BLOCKS_UNUSED=#{keyBlocksUnused},
		    </if>
		    <if test="keyBlocksUsed != null ">
		        KEY_BLOCKS_USED=#{keyBlocksUsed},
		    </if>
		    <if test="keyBlocksNotFlushed != null ">
		        KEY_BLOCKS_NOT_FLUSHED=#{keyBlocksNotFlushed},
		    </if>
		    <if test="keyBlocksUsedRate != null ">
		        KEY_BLOCKS_USED_RATE=#{keyBlocksUsedRate},
		    </if>
		    <if test="keyBufferReadRate != null ">
		        KEY_BUFFER_READ_RATE=#{keyBufferReadRate},
		    </if>
		    <if test="keyBufferWriteRate != null ">
		        KEY_BUFFER_WRITE_RATE=#{keyBufferWriteRate},
		    </if>
		    <if test="descn != null and descn != '' ">
		        DESCN=#{descn},
		    </if>
		    <if test="createTime != null and createTime != '' ">
		        CREATE_TIME=#{createTime},
		    </if>
		    <if test="updateTime != null and updateTime != '' ">
		        UPDATE_TIME=#{updateTime},
		    </if>
		</set>
		where HOST_IP=#{hostIp};
	</update>
	
	<select id="selectByHostIp" resultType="java.lang.Integer" parameterType="java.lang.String">
		select 
			count(1) 
		from 
			WEBPORTAL_MONITOR_MYSQL_KEYBUFFER keybuffer
		where
			keybuffer.HOST_IP = #{hostIp}
	</select>
	
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="com.letv.common.dao.QueryParam">
		select 
			count(1) 
		from 
			WEBPORTAL_MONITOR_MYSQL_KEYBUFFER keybuffer
			<include refid="List_Page_Where_Clause" />
	</select>
	
	
	<sql id="List_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and keybuffer.ID=#{params.id}
			</if>
			<if test="params != null and params.hostIp != null and params.hostIp != '' ">
				and keybuffer.HOST_IP like CONCAT('%','${params.hostIp}','%') escape '^'
			</if>
			<if test="params != null and params.hostTag != null and params.hostTag != ''  ">
				and keybuffer.HOST_TAG like CONCAT('%','${params.hostTag}','%') escape '^'
			</if>
			
			<if test="params != null and params.descn != null and params.descn != ''  ">
				and keybuffer.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.createTime != null  ">
				and keybuffer.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and keybuffer.UPDATE_TIME=#{params.updateTime}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select
			<include refid="Base_Column_List" />
		from 
			WEBPORTAL_MONITOR_MYSQL_KEYBUFFER keybuffer
			<include refid="List_Page_Where_Clause" />
		ORDER BY 
			<if test="params != null and params.order != null and params.order != '' ">
				keybuffer.${params.order} 
			</if>
			<if test="params == null or params.order == null or params.order == '' ">
				keybuffer.CREATE_TIME
			</if>
			<if test="params != null and params.orderArg != null and params.orderArg != '' ">
				${params.orderArg}
			</if>
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
</mapper>   