<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.monitor.mysql.IMysqlHealthMonitorDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="mysqlHealthMonitor">
		<result column="ID" property="id" />
		<result column="HOST_IP" property="hostIp" />
		<result column="HOST_TAG" property="hostTag" />
		<result column="ROLE" property="role" />
		<result column="RUN_TIME" property="runTime" />
		<result column="VERSION" property="version" />
		<result column="CONNECT_COUNT" property="connectCount" />
		<result column="ACTIVITY_COUNT" property="activityCount" />
		<result column="WAIT_COUNT" property="waitCount" />
		<result column="SEND" property="send" />
		<result column="RECV" property="recv" />
		<result column="QUERY_PS" property="queryPs" />
		<result column="TRANSACTION_PS" property="transactionPs" />
		<result column="SLOW_QUERY_COUNT" property="slowQueryCount" />
		<result column="CPU" property="cpu" />
		<result column="MEMORY" property="memory" />
		<result column="DESCN" property="descn" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		health.ID,
		health.HOST_IP,health.HOST_TAG,health.ROLE,health.RUN_TIME,health.VERSION,health.CONNECT_COUNT,
		health.ACTIVITY_COUNT,health.WAIT_COUNT,health.SEND,health.RECV,health.QUERY_PS,health.TRANSACTION_PS,
		health.CPU,health.MEMORY,health.SLOW_QUERY_COUNT,
		health.DESCN,health.CREATE_TIME,health.UPDATE_TIME
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="MysqlHealthMonitor" useGeneratedKeys="true" keyProperty="id">
		insert into WEBPORTAL_MONITOR_MYSQL_HEALTH 
			(HOST_IP,HOST_TAG,ROLE,RUN_TIME,VERSION,CONNECT_COUNT,ACTIVITY_COUNT,WAIT_COUNT,SEND,RECV,QUERY_PS,TRANSACTION_PS,CPU,MEMORY,DESCN,CREATE_TIME,UPDATE_TIME,SLOW_QUERY_COUNT) 
		values 
			(#{hostIp},#{hostTag},#{role},#{runTime},#{version},#{connectCount},#{activityCount},#{waitCount},#{send},#{recv},#{queryPs},#{transactionPs},#{cpu},#{memory},#{descn},#{createTime},#{updateTime},#{slowQueryCount});
	</insert>

	<!-- 更新记录 -->
	<update id="update" parameterType="MysqlHealthMonitor">
		update WEBPORTAL_MONITOR_MYSQL_HEALTH 
		<set>
		    <if test="id!= null and id != '' ">
		        ID=#{id},
		    </if>
		    <if test="hostIp!= null and hostIp != '' ">
		        HOST_IP=#{hostIp},
		    </if>
		    <if test="hostTag!= null and hostTag != '' ">
		        HOST_TAG=#{hostTag},
		    </if>
		    <if test="role!= null and role != '' ">
		        ROLE=#{role},
		    </if>
		    <if test="runTime!= null ">
		        RUN_TIME=#{runTime},
		    </if>
		    <if test="version!= null and version != '' ">
		        VERSION=#{version},
		    </if>
		    <if test="connectCount!= null ">
		        CONNECT_COUNT=#{connectCount},
		    </if>
		    <if test="activityCount!= null ">
		        ACTIVITY_COUNT=#{activityCount},
		    </if>
		    <if test="waitCount!= null ">
		        WAIT_COUNT=#{waitCount},
		    </if>
		    <if test="send!= null ">
		        SEND=#{send},
		    </if>
		    <if test="recv!= null">
		        RECV=#{recv},
		    </if>
		    <if test="queryPs!= null ">
		        QUERY_PS=#{queryPs},
		    </if>
		    <if test="transactionPs!= null ">
		        TRANSACTION_PS=#{transactionPs},
		    </if>
		    <if test="cpu!= null ">
		        CPU=#{cpu},
		    </if>
		    <if test="memory!= null ">
		        MEMORY=#{memory},
		    </if>
		    <if test="descn!= null and descn != '' ">
		        DESCN=#{descn},
		    </if>
		    <if test="createTime!= null and createTime != '' ">
		        CREATE_TIME=#{createTime},
		    </if>
		    <if test="updateTime!= null and updateTime != '' ">
		        UPDATE_TIME=#{updateTime},
		    </if>
		    <if test="slowQueryCount!= null ">
		        SLOW_QUERY_COUNT=#{slowQueryCount},
		    </if>
		</set>
		where HOST_IP=#{hostIp};
	</update>
	
	<select id="selectByHostIp" resultType="java.lang.Integer" parameterType="java.lang.String">
		select 
			count(1) 
		from 
			WEBPORTAL_MONITOR_MYSQL_HEALTH health
		where
			health.HOST_IP = #{hostIp}
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="com.letv.common.dao.QueryParam">
		select 
			count(1) 
		from 
			WEBPORTAL_MONITOR_MYSQL_HEALTH health
			<include refid="List_Page_Where_Clause" />
	</select>
	
	
	<sql id="List_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and health.ID=#{params.id}
			</if>
			<if test="params != null and params.hostIp != null and params.hostIp != '' ">
				and health.HOST_IP like CONCAT('%','${params.hostIp}','%') escape '^'
			</if>
			<if test="params != null and params.hostTag != null and params.hostTag != ''  ">
				and health.HOST_TAG like CONCAT('%','${params.hostTag}','%') escape '^'
			</if>
			<if test="params != null and params.connectCount != null and params.connectCount != ''  ">
				and health.CONNECT_COUNT &gt; #{params.connectCount}
			</if>
			<if test="params != null and params.activityCount != null and params.activityCount != ''  ">
				and health.ACTIVITY_COUNT &gt; #{params.activityCount}
			</if>
			
			<if test="params != null and params.descn != null and params.descn != ''  ">
				and health.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.createTime != null  ">
				and health.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and health.UPDATE_TIME=#{params.updateTime}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select
			<include refid="Base_Column_List" />
		from 
			WEBPORTAL_MONITOR_MYSQL_HEALTH health
			<include refid="List_Page_Where_Clause" />
		ORDER BY 
			<if test="params != null and params.order != null and params.order != '' ">
				health.${params.order} 
			</if>
			<if test="params == null or params.order == null or params.order == '' ">
				health.CREATE_TIME
			</if>
			<if test="params != null and params.orderArg != null and params.orderArg != '' ">
				${params.orderArg}
			</if>
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
</mapper>   