<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.operate.IRecentOperateDao">
	<resultMap id="BaseResultMap" type="RecentOperate">
	    <result column="ID" property="id" />
	    <result column="ACTION" property="action" />
	    <result column="CONTENT" property="content" />
	    <result column="CREATE_TIME" property="createTime" />
	    <result column="CREATE_USER" property="createUser" />
	    <result column="DESCN" property="descn" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    operate.ID,operate.ACTION,operate.CONTENT,operate.CREATE_TIME,operate.CREATE_USER,operate.DESCN
	</sql>
	
	<insert id="insert" parameterType="RecentOperate" useGeneratedKeys="true" keyProperty="id" >
	    insert into WEBPORTAL_OPERATE 
	        (ACTION,CONTENT,CREATE_TIME,CREATE_USER,DESCN) 
	    values
	        (#{action},#{content},now(),#{createUser},#{descn})
	</insert>
	
	<sql id="Common_Where_Clause">
	    where 1=1
	    <trim suffixOverrides=",">
	        <if test="id != null ">
	            and operate.ID=#{id}
	        </if>
	        <if test="action != null ">
	            and operate.ACTION=#{action}
	        </if>
	        <if test="content != null ">
	            and operate.CONTENT=#{content}
	        </if>
	        <if test="createTime != null ">
	            and operate.CREATE_TIME=#{createTime}
	        </if>
	        <if test="createUser != null ">
	            and operate.CREATE_USER=#{createUser}
	        </if>
	        <if test="descn != null ">
	            and operate.DESCN=#{descn}
	        </if>
	    </trim>
	</sql>
	
	<select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />
	    from
	        WEBPORTAL_OPERATE operate
	        <include refid="Common_Where_Clause" />
	        <if test="date != null">
	      		and operate.CREATE_TIME &gt;= #{date}
	    	</if>
	    	ORDER BY operate.CREATE_TIME DESC
	</select>

	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			<include refid="Base_Column_List" />
		from 
			WEBPORTAL_OPERATE operate
			<include refid="Common_Where_Clause" />
		ORDER BY operate.CREATE_TIME DESC
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(1) 
		from 
			WEBPORTAL_OPERATE operate
			<include refid="Common_Where_Clause" />
	</select>
	
</mapper>   