<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IScheduleJobDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="ScheduleJob">
		<result column="ID" property="id" />
		<result column="JOB_NAME" property="jobName" />
		<result column="JOB_GROUP" property="jobGroup" />
		<result column="JOB_STATUS" property="jobStatus" />
		<result column="CRON_EXPRESSION" property="cronExpression" />
		<result column="DESCN" property="descn" />
		<result column="JOB_CLASS" property="jobClass" />
		<result column="JOB_METHOD" property="jobMethod" />
	</resultMap>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and S.ID=#{id}
			</if>
		</trim>
	</sql>
	
	
	<!-- WEBPORTAL_ScheduleJob table all fields -->
	<sql id="Base_Column_List">
		S.ID,S.JOB_NAME,S.JOB_GROUP,S.JOB_STATUS,S.CRON_EXPRESSION,S.DESCN,S.JOB_CLASS,S.JOB_METHOD
	</sql>

	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SCHEDULE_JOB S
		<include refid="Example_Where_Clause" />
	</select>
	
</mapper>   
