<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.gce.ISlbClusterDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="SlbCluster" >
		<result column="ID" property="id" />
		<result column="CLUSTER_NAME" property="clusterName" />
		<result column="ADMIN_USER" property="adminUser" />
		<result column="ADMIN_PASSWORD" property="adminPassword" />
		<result column="STATUS" property="status" />
		<result column="TYPE" property="type" />
		<result column="SST_PASSWORD" property="sstPwd" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	</resultMap>
	<!-- other map -->
	<resultMap id="createParams" type="java.util.Map">
		<result column="DB_NAME" property="dbName" />
		<result column="IP_ADDR" property="nodeIp" />
		<result column="CREATE_USER" property="createUser" />
		<result column="ADMIN_USER" property="username" />
		<result column="ADMIN_PASSWORD" property="password" />
	</resultMap>
	<sql id="Base_Column_List">
		SCS.ID,SCS.CLUSTER_NAME,SCS.ADMIN_USER,SCS.ADMIN_PASSWORD,SCS.STATUS,SCS.TYPE,SCS.SST_PASSWORD,SCS.HCLUSTER_ID,SCS.DELETED,SCS.CREATE_TIME,SCS.CREATE_USER,SCS.UPDATE_TIME,SCS.UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and SCS.ID=#{id}
			</if>
			<if test="clusterName != null  and clusterName != '' and clusterName != 'null'">
				and SCS.CLUSTER_NAME like CONCAT('%','${clusterName}','%') escape '^'
			</if>
			<if test="status != null and status != ''">
				and SCS.STATUS=#{status}
			</if>
			<if test="type != null  ">
				and SCS.TYPE=#{type}
			</if>
			<if test="sstPwd != null  ">
				and SCS.SST_PASSWORD=#{sstPwd}
			</if>
			<if test="hclusterId != null  ">
				and SCS.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="deleted != null  ">
				and SCS.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and SCS.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and SCS.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and SCS.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and SCS.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	

	<!-- 插入记录 -->
	<insert id="insert" parameterType="SlbCluster" useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_SLBCLUSTER(CLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,TYPE,SST_PASSWORD,HCLUSTER_ID,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(#{clusterName},#{adminUser},#{adminPassword},#{status},#{type},#{sstPwd},#{hclusterId},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="SlbCluster">
		update WEBPORTAL_SLBCLUSTER set
		CLUSTER_NAME=#{clusterName},ADMIN_USER=#{adminUser},ADMIN_PASSWORD=#{adminPassword},STATUS=#{status},TYPE=#{type},SST_PASSWORD=#{sstPwd},HCLUSTER_ID=#{hclusterId},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="SlbCluster">
		update WEBPORTAL_SLBCLUSTER
		<set>
			<if test="clusterName != null  and clusterName != '' ">
				CLUSTER_NAME=#{clusterName},
			</if>
			<if test="adminUser != null  ">
				ADMIN_USER=#{adminUser},
			</if>
			<if test="adminPassword != null  ">
				ADMIN_PASSWORD=#{adminPassword},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="sstPwd != null  ">
				SST_PASSWORD=#{sstPwd},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" />
			from WEBPORTAL_SLBCLUSTER SCS
			where SCS.ID=#{id}
	</select>
	
</mapper>   
