<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.slb.ISlbClusterDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="SlbCluster" >
		<result column="ID" property="id" />
		<result column="CLUSTER_NAME" property="clusterName" />
		<result column="ADMIN_USER" property="adminUser" />
		<result column="ADMIN_PASSWORD" property="adminPassword" />
		<result column="STATUS" property="status" />
		<result column="TYPE" property="type" />
		<result column="SST_PASSWORD" property="sstPwd" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		SCS.ID,SCS.CLUSTER_NAME,SCS.ADMIN_USER,SCS.ADMIN_PASSWORD,SCS.STATUS,SCS.TYPE,SCS.SST_PASSWORD,SCS.HCLUSTER_ID,SCS.DELETED,SCS.CREATE_TIME,SCS.CREATE_USER,SCS.UPDATE_TIME,SCS.UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and SCS.ID=#{id}
			</if>
			<if test="clusterName != null  and clusterName != '' and clusterName != 'null'">
				and SCS.CLUSTER_NAME like CONCAT('%','${clusterName}','%') escape '^'
			</if>
			<if test="status != null and status != ''">
				and SCS.STATUS=#{status}
			</if>
			<if test="type != null  ">
				and SCS.TYPE=#{type}
			</if>
			<if test="sstPwd != null  ">
				and SCS.SST_PASSWORD=#{sstPwd}
			</if>
			<if test="hclusterId != null  ">
				and SCS.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="deleted != null  ">
				and SCS.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and SCS.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and SCS.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and SCS.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and SCS.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	

	<!-- 插入记录 -->
	<insert id="insert" parameterType="SlbCluster" useGeneratedKeys="true" keyProperty="id">
		insert into
		WEBPORTAL_SLBCLUSTER(CLUSTER_NAME,ADMIN_USER,ADMIN_PASSWORD,STATUS,TYPE,SST_PASSWORD,HCLUSTER_ID,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(#{clusterName},#{adminUser},#{adminPassword},#{status},#{type},#{sstPwd},#{hclusterId},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="SlbCluster">
		update WEBPORTAL_SLBCLUSTER set
		CLUSTER_NAME=#{clusterName},ADMIN_USER=#{adminUser},ADMIN_PASSWORD=#{adminPassword},STATUS=#{status},TYPE=#{type},SST_PASSWORD=#{sstPwd},HCLUSTER_ID=#{hclusterId},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="SlbCluster">
		update WEBPORTAL_SLBCLUSTER
		<set>
			<if test="clusterName != null  and clusterName != '' ">
				CLUSTER_NAME=#{clusterName},
			</if>
			<if test="adminUser != null  ">
				ADMIN_USER=#{adminUser},
			</if>
			<if test="adminPassword != null  ">
				ADMIN_PASSWORD=#{adminPassword},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="type != null  ">
				TYPE=#{type},
			</if>
			<if test="sstPwd != null  ">
				SST_PASSWORD=#{sstPwd},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" />
			from WEBPORTAL_SLBCLUSTER SCS
			where SCS.ID=#{id}
	</select>
	<select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SLBCLUSTER SCS
		 WHERE SCS.CLUSTER_NAME = #{clusterName}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SLBCLUSTER SCS
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 列表总数  -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(1) 
		from 
			WEBPORTAL_SLBCLUSTER SCS
		join 
			WEBPORTAL_USER U ON U.ID = SCS.CREATE_USER
		join 
			WEBPORTAL_HCLUSTER h on SCS.HCLUSTER_ID = h.ID
			<include refid="Example_Where_Clause" />
			<if test="userName != null  and userName != ''">
				and U.USERNAME like CONCAT('%','${userName}','%') escape '^'
			</if>
			<if test="hclusterName != null  and hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
			</if>
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="com.letv.common.dao.QueryParam">
		select
			<include refid="Base_Column_List" /> ,U.USERNAME,h.HCLUSTER_NAME_ALIAS
		FROM  
			WEBPORTAL_SLBCLUSTER SCS 
		join 
			WEBPORTAL_USER U ON U.ID = SCS.CREATE_USER
		join 
			WEBPORTAL_HCLUSTER h on SCS.HCLUSTER_ID = h.ID
			<include refid="List_Where_Clause" />
			<if test="params != null and params.userName != null  and params.userName != ''">
				and U.USERNAME like CONCAT('%','${params.userName}','%') escape '^'
			</if>
			<if test="params != null and params.hclusterName != null  and params.hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
			</if>
		ORDER BY SCS.CREATE_TIME DESC	
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
	<!-- List查询条件 -->
	<sql id="List_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and SCS.ID=#{params.id}
			</if>
			<if test="params != null and params.clusterName != null  and params.clusterName != '' and params.clusterName != 'null'">
				and SCS.CLUSTER_NAME like CONCAT('%','${params.clusterName}','%') escape '^'
			</if>
			<if test="params != null and params.status != null and params.status != '' ">
				and SCS.STATUS=#{params.status}
			</if>
			<if test="params != null and params.type != null  ">
				and SCS.TYPE=#{params.type}
			</if>
			<if test="params != null and params.deleted != null  ">
				and SCS.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.sstPwd != null  ">
				and SCS.SST_PASSWORD=#{params.sstPwd}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and SCS.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.createTime != null  ">
				and SCS.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and SCS.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and SCS.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and SCS.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
</mapper>   
