<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.swift.ISwiftServerDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="SwiftServer">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="STORE_SIZE" property="storeSize" />
		<result column="STATUS" property="status" />
		<result column="VISIBILITY_LEVEL" property="visibilityLevel" />
		<result column="DESCN" property="descn" />
		<result column="HCLUSTER_ID" property="hclusterId" />
		
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="hcluster" javaType="Hcluster">
			<result column="HCLUSTER_NAME_ALIAS" property="hclusterNameAlias" />
		</association>
	
		<association property="user" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	</resultMap>
	
	<!-- WEBPORTAL_SWIFT table all fields -->
	<sql id="Base_Column_List">
		s.ID,s.NAME,s.HCLUSTER_ID,s.STORE_SIZE,s.STATUS,s.DESCN,s.VISIBILITY_LEVEL,
		s.DELETED,s.CREATE_TIME,s.CREATE_USER,s.UPDATE_TIME,s.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and s.ID=#{id}
			</if>
			<if test="name != null  and name != ''  and name != 'null'">
				and s.NAME like CONCAT('%','${name}','%') escape '^'
			</if>
			<if test="hclusterId != null  ">
				and s.HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="status != null and status!='' ">
				and s.STATUS=#{status}
			</if>
			<if test="storeSize != null and storeSize!='' ">
				and s.STORE_SIZE=#{storeSize}
			</if>
			<if test="visibilityLevel != null and visibilityLevel != '' ">
				and s.VISIBILITY_LEVEL=#{visibilityLevel}
			</if>
			<if test="deleted != null  ">
				and s.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and s.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and s.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and s.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and s.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="SwiftServer" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_SWIFT(NAME,STORE_SIZE,STATUS,DESCN,HCLUSTER_ID,VISIBILITY_LEVEL,
		DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{name},#{storeSize},#{status},#{descn},#{hclusterId},#{visibilityLevel},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="SwiftServer">
		update WEBPORTAL_SWIFT set
		ID=#{id},NAME=#{name},STORE_SIZE=#{storeSize},HCLUSTER_ID=#{hclusterId},VISIBILITY_LEVEL=#{visibilityLevel},STATUS=#{status},DESCN=#{descn},DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<update id="updateBySelective" parameterType="SwiftServer">
		update WEBPORTAL_SWIFT
		<set>
			<if test="name != null  and name != '' ">
				NAME=#{name},
			</if>
			<if test="hclusterId != null  ">
				HCLUSTER_ID=#{hclusterId},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="storeSize != null  ">
				STORE_SIZE=#{storeSize},
			</if>
			<if test="visibilityLevel != null  ">
				VISIBILITY_LEVEL=#{visibilityLevel},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>
	
	

	<!-- 物理删除 -->
	<update id="delete" parameterType="SwiftServer">
		delete from WEBPORTAL_SWIFT where ID = #{id}
	</update>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			,h.HCLUSTER_NAME_ALIAS
			from WEBPORTAL_SWIFT s,WEBPORTAL_HCLUSTER h
			where  s.ID = #{id} and h.ID = s.HCLUSTER_ID;
	</select>

	<!-- 列表总数 -->
	<select id="selectByModelCount" resultType="java.lang.Integer"
		parameterType="SwiftServer">
		select count(1) from WEBPORTAL_SWIFT s
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_SWIFT s
		join WEBPORTAL_HCLUSTER h on s.HCLUSTER_ID = h.ID
		left join WEBPORTAL_USER user on s.CREATE_USER = user.ID
		<include refid="Example_Where_Clause" />
			<if test="hclusterName != null  and hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${hclusterName}','%') escape '^'
			</if>
			<if test="userName != null  and userName != ''">
				and user.USERNAME like CONCAT('%','${userName}','%') escape '^'
			</if>
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_SWIFT s
		<include refid="Example_Where_Clause" />
	</select>
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and s.ID=#{params.id}
			</if>
			<if test="params != null and params.name != null  and params.name != ''  and params.name != 'null'">
				and s.NAME like CONCAT('%','${params.name}','%') escape '^'
			</if>
			<if test="params != null and params.status != null and params.status != ''  and params.status != 'null' ">
				and s.STATUS=#{params.status}
			</if>
			<if test="params != null and params.hclusterId != null  ">
				and s.HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.storeSize != null  ">
				and s.STORE_SIZE=#{params.storeSize}
			</if>
			<if test="params != null and params.visibilityLevel != null  ">
				and s.VISIBILITY_LEVEL=#{params.visibilityLevel}
			</if>
			<if test="params != null and params.deleted != null  ">
				and s.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and s.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and s.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and s.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and s.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />,user.USERNAME
		,h.HCLUSTER_NAME_ALIAS
		from WEBPORTAL_SWIFT s
		join WEBPORTAL_HCLUSTER h on s.HCLUSTER_ID = h.ID
		left join WEBPORTAL_USER user on s.CREATE_USER = user.ID
		<include refid="Example_Page_Where_Clause" />
			<if test="params != null and params.hclusterName != null  and params.hclusterName != ''">
				and h.hCLUSTER_NAME like CONCAT('%','${params.hclusterName}','%') escape '^'
			</if>
			<if test="params != null and params.userName != null  and params.userName != ''">
				and user.USERNAME like CONCAT('%','${params.userName}','%') escape '^'
			</if>
		ORDER BY s.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	
</mapper>   