<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.task.ITaskChainIndexDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="TaskChainIndex">
		<result column="ID" property="id" />
		<result column="TASK_ID" property="taskId" />
		<result column="CLUSTER_NAME" property="clusterName" />
		<result column="SERVICE_NAME" property="serviceName" />
		<result column="STATUS" property="status" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="templateTask" javaType="TemplateTask">
			<result column="NAME" property="name" />
			<result column="DESCN" property="descn" />
			<result column="TASK_TYPE" property="taskType" />
		</association>
	</resultMap>
	
	<sql id="Base_Column_List">
		tci.ID,tci.TASK_ID,tci.STATUS,tci.SERVICE_NAME,tci.CLUSTER_NAME,tci.START_TIME,tci.END_TIME,tci.DELETED,tci.CREATE_TIME,tci.CREATE_USER,tci.UPDATE_TIME,tci.UPDATE_USER
	</sql>
	
	<insert id="insert" parameterType="BackupResult" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_TASK_CHAIN_INDEX(TASK_ID,CLUSTER_NAME,SERVICE_NAME,STATUS,START_TIME,END_TIME,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{taskId},#{clusterName},#{serviceName},#{status},#{startTime},#{endTime},#{deleted},#{createTime},#{createUser},#{updateTime},#{updateUser})
	</insert>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and tci.ID=#{id}
			</if>
			<if test="taskId != null">
				and tci.TASK_ID=#{taskId}
			</if>
			<if test="serviceName != null">
				and tci.SERVICE_NAME=#{serviceName}
			</if>
			<if test="clusterName != null">
				and tci.CLUSTER_NAME=#{clusterName}
			</if>
			<if test="startTime != null and startTime != '' ">
				and tci.START_TIME=#{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and tci.END_TIME=#{endTime}
			</if>
			<if test="status != null and status != '' ">
				and tci.STATUS=#{status}
			</if>
			
			<if test="deleted != null  ">
				and tci.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and tci.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and tci.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and tci.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and tci.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- -->
	<update id="updateBySelective" parameterType="TaskChainIndex">
		update WEBPORTAL_TASK_CHAIN_INDEX
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="taskId != null  ">
				TASK_ID=#{taskId},
			</if>
			<if test="serviceName != null">
				and tci.SERVICE_NAME=#{serviceName}
			</if>
			<if test="clusterName != null">
				and tci.CLUSTER_NAME=#{clusterName}
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="startTime != null  ">
				START_TIME=#{startTime},
			</if>
			<if test="endTime != null  ">
				END_TIME=#{endTime},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_TASK_CHAIN_INDEX tci
		left join WEBPORTAL_TEMPLATE_TASK tt on tt.ID = tci.TASK_ID
		<include refid="Example_Page_Where_Clause"/>
		<if test="params != null and params.taskType != null and params.taskType != '' ">
			and tt.TASK_TYPE=#{params.taskType}
		</if>
	</select>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TASK_CHAIN_INDEX tci where tci.id = #{id}
	</select>
	
	<!--  分页：根据条件查询 -->
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and tci.ID=#{params.id}
			</if>
			<if test="params != null and params.taskId != null">
				and tci.TASK_ID=#{params.taskId}
			</if>
			<if test="params != null and params.serviceName != null and params.clusterName != ''">
				and tci.SERVICE_NAME=#{params.serviceName}
			</if>
			<if test="params != null and params.clusterName != null and params.clusterName != ''">
				and tci.CLUSTER_NAME=#{params.clusterName}
			</if>
			<if test="params != null and params.startTime != null and params.startTime != '' ">
				and tci.START_TIME=#{params.startTime}
			</if>
			<if test="params != null and params.endTime != null and params.endTime != '' ">
				and tci.END_TIME=#{params.endTime}
			</if>
			<if test="params != null and params.status != null and params.status != '' ">
				and tci.STATUS=#{params.status}
			</if>
			
			<if test="params != null and params.deleted != null  ">
				and tci.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and tci.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and tci.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and tci.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and tci.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />,tt.TASK_TYPE,tt.DESCN,tt.NAME
		from WEBPORTAL_TASK_CHAIN_INDEX tci
		left join WEBPORTAL_TEMPLATE_TASK tt on tt.ID = tci.TASK_ID
		<include refid="Example_Page_Where_Clause"/>
		<if test="params != null and params.taskType != null and params.taskType != '' ">
			and tt.TASK_TYPE=#{params.taskType}
		</if>
		ORDER BY tci.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   