<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.task.ITaskChainDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="TaskChain">
		<result column="ID" property="id" />
		<result column="TASK_ID" property="taskId" />
		<result column="TASK_DETAIL_ID" property="taskDetailId" />
		<result column="CHAIN_INDEX_ID" property="chainIndexId" />
		<result column="EXECUTE_ORDER" property="executeOrder" />
		<result column="RETRY" property="retry" />
		<result column="STATUS" property="status" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="RESULT" property="result" />
		<result column="PARAMS" property="params" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
		<association property="templateTaskDetail" javaType="TemplateTaskDetail">
			<result column="NAME" property="name" />
			<result column="DESCN" property="descn" />
		</association>
	</resultMap>
	
	<sql id="Base_Column_List">
		tc.ID,tc.TASK_ID,tc.TASK_DETAIL_ID,tc.CHAIN_INDEX_ID,tc.EXECUTE_ORDER,tc.RETRY,tc.STATUS,tc.START_TIME,tc.END_TIME,tc.RESULT,tc.PARAMS,tc.DELETED,tc.CREATE_TIME,tc.CREATE_USER,tc.UPDATE_TIME,tc.UPDATE_USER
	</sql>
	
	<insert id="insert" parameterType="BackupResult" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_TASK_CHAIN(TASK_ID,TASK_DETAIL_ID,CHAIN_INDEX_ID,EXECUTE_ORDER,RETRY,STATUS,START_TIME,END_TIME,RESULT,PARAMS,DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{taskId},#{taskDetailId},#{chainIndexId},#{executeOrder},#{retry},#{status},#{startTime},#{endTime},#{result},#{params},#{deleted},#{createTime},#{createUser},#{updateTime},#{updateUser})
	</insert>
	
	<!-- -->
	<update id="updateBySelective" parameterType="TaskChain">
		update WEBPORTAL_TASK_CHAIN
		<set>
			<if test="taskId != null  ">
				TASK_ID=#{taskId},
			</if>
			<if test="taskDetailId != null  ">
				TASK_DETAIL_ID=#{taskDetailId},
			</if>
			<if test="chainIndexId != null  ">
				CHAIN_INDEX_ID=#{chainIndexId},
			</if>
			<if test="executeOrder != null  ">
				EXECUTE_ORDER=#{executeOrder},
			</if>
			<if test="retry != null  ">
				RETRY=#{retry},
			</if>
			<if test="status != null  ">
				STATUS=#{status},
			</if>
			<if test="startTime != null  ">
				START_TIME=#{startTime},
			</if>
			<if test="endTime != null  ">
				END_TIME=#{endTime},
			</if>
			<if test="result != null  ">
				RESULT=#{result},
			</if>
			<if test="params != null  ">
				PARAMS=#{params},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<select id="selectNextChainByIndexAndOrder" resultMap="BaseResultMap" parameterType="TaskChain">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TASK_CHAIN tc where tc.CHAIN_INDEX_ID = #{chainIndexId} and EXECUTE_ORDER=#{executeOrder}
	</select>
	<select id="updateAfterDoingChainStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
		update WEBPORTAL_TASK_CHAIN set status = #{status} where CHAIN_INDEX_ID = #{chainIndexId} and EXECUTE_ORDER>#{executeOrder}
	</select>
	<select id="selectFailedChainByIndex" resultMap="BaseResultMap" parameterType="TaskChain">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TASK_CHAIN tc where tc.CHAIN_INDEX_ID = #{chainIndexId} and STATUS=#{status}
	</select>
	<select id="selectAllChainByIndexId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />,ttd.NAME,ttd.DESCN
		from WEBPORTAL_TASK_CHAIN tc 
		join WEBPORTAL_TEMPLATE_TASK_DETAIL ttd on ttd.id = tc.TASK_DETAIL_ID
		where tc.CHAIN_INDEX_ID = #{chainIndexId}
	</select>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TASK_CHAIN tc 
		join WEBPORTAL_TEMPLATE_TASK_DETAIL
		where tc.ID = #{id}
	</select>
</mapper>   