<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.task.ITemplateTaskDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="TemplateTask">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="DESCN" property="descn" />
		<result column="TASK_TYPE" property="taskType" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
		
	</resultMap>
	
	<sql id="Base_Column_List">
		tt.ID,tt.NAME,tt.DESCN,tt.TASK_TYPE,tt.DELETED,tt.DELETED,tt.CREATE_TIME,tt.CREATE_USER,tt.UPDATE_TIME,tt.UPDATE_USER
	</sql>
	<!-- 插入记录 -->
	<insert id="insert" parameterType="TemplateTask" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_TEMPLATE_TASK(
			ID,NAME,DESCN,TASK_TYPE,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{id},#{name},#{descn},#{taskType},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and tt.ID=#{id}
			</if>
			<if test="name != null and name != '' ">
				and tt.NAME like CONCAT('%','${name}','%') escape '^'
			</if>
			<if test="descn != null and descn != '' ">
				and tt.DESCN=#{descn}
			</if>
			<if test="taskType != null and taskType != '' ">
				and tt.TASK_TYPE=#{taskType}
			</if>
			<if test="deleted != null  ">
				and tt.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and tt.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and tt.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and tt.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and tt.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	
	<!--update-->
	<update id="updateBySelective" parameterType="TemplateTask">
		update WEBPORTAL_TEMPLATE_TASK
		<set>
			<if test="id != null  ">
				ID=#{id},
			</if>
			<if test="name != null and name != '' ">
				NAME=#{name},
			</if>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="taskType != null and taskType != ''">
				TASK_TYPE=#{taskType},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=#{updateTime},
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_TEMPLATE_TASK tt
		<include refid="Example_Where_Clause" />
	</select>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TEMPLATE_TASK tt
		where tt.ID=#{id}
	</select>
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and tt.ID=#{id}
			</if>
			<if test="params != null and params.name != null and params.name != '' ">
				and tt.NAME like CONCAT('%','${params.name}','%') escape '^'
			</if>
			<if test="params != null and params.descn != null and params.descn != '' ">
				and tt.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.taskType != null and params.taskType != '' ">
				and tt.TASK_TYPE=#{params.taskType}
			</if>
			<if test="params != null and params.deleted != null  ">
				and tt.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and tt.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and tt.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and tt.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and tt.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TEMPLATE_TASK tt
		<include refid="Example_Page_Where_Clause" />
		ORDER BY tt.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   