<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.timing.task.ITimingTaskDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="BaseTimingTask">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="UUID" property="uuid" />
		<result column="HTTP_METHOD" property="httpMethod" />
		<result column="URL" property="url" />
		<result column="TIMING_RULE" property="timingRule" />
		<result column="EXEC_TYPE" property="execType" />
		<result column="DESCN" property="descn" />
		<result column="TYPE" property="type" />
		<result column="TIME_POINT" property="timePoint" />
		<result column="TIME_INTERVAL" property="timeInterval" />
		
		
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<!-- WEBPORTAL_TIMING_TASK table all fields -->
	<sql id="Base_Column_List">
		tt.ID,tt.NAME,tt.UUID,tt.HTTP_METHOD,tt.URL,tt.TIMING_RULE,tt.EXEC_TYPE,tt.DESCN,TYPE,TIME_POINT,TIME_INTERVAL,
		tt.DELETED,tt.CREATE_TIME,tt.CREATE_USER,tt.UPDATE_TIME,tt.UPDATE_USER
	</sql>
	
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and tt.ID=#{id}
			</if>
			<if test="name != null  and name != ''  and name != 'null'">
				and tt.NAME like CONCAT('%','${name}','%') escape '^'
			</if>
			<if test="uuid != null  ">
				and tt.UUID=#{uuid}
			</if>
			<if test="httpMethod != null and httpMethod!='' ">
				and tt.HTTP_METHOD=#{httpMethod}
			</if>
			<if test="url != null and url !='' ">
				and tt.URL=#{url}
			</if>
			<if test="timingRule != null and timingRule != '' ">
				and tt.TIMING_RULE=#{timingRule}
			</if>
			<if test="execType != null and execType != '' ">
				and tt.EXEC_TYPE=#{execType}
			</if>
			<if test="descn != null  and descn != ''  and descn != 'null'">
				and tt.DESCN like CONCAT('%','${descn}','%') escape '^'
			</if>
			<if test="type != null and type != '' ">
				and tt.TYPE=#{type}
			</if>
			<if test="timePoint != null and timePoint != '' ">
				and tt.TIME_POINT=#{timePoint}
			</if>
			<if test="timeInterval != null and timeInterval != '' ">
				and tt.TIME_INTERVAL=#{timeInterval}
			</if>
			<if test="deleted != null  ">
				and tt.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and tt.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and tt.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and tt.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and tt.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<insert id="insert" parameterType="BaseTimingTask" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_TIMING_TASK(NAME,UUID,HTTP_METHOD,URL,TIMING_RULE,EXEC_TYPE,DESCN,TYPE,TIME_POINT,TIME_INTERVAL,
		DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
		#{name},#{uuid},#{httpMethod},#{url},#{timingRule},#{execType},#{descn},#{type},#{timePoint},#{timeInterval},#{deleted},now(),#{createUser},now(),#{updateUser})
	</insert>

	<update id="update" parameterType="BaseTimingTask">
		update WEBPORTAL_TIMING_TASK set
		ID=#{id},NAME=#{name},UUID=#{uuid},HTTP_METHOD=#{httpMethod},URL=#{url},TIMING_RULE=#{timingRule},EXEC_TYPE=#{execType},DESCN=#{descn},TYPE=#{type},TIME_POINT=#{timePoint},TIME_INTERVAL=#{timeInterval},
		DELETED=#{deleted},CREATE_TIME=#{createTime},CREATE_USER=#{createUser},UPDATE_TIME=now(),UPDATE_USER=#{updateUser}
		where ID=#{id}
	</update>

	<update id="updateBySelective" parameterType="BaseTimingTask">
		update WEBPORTAL_TIMING_TASK
		<set>
			<if test="name != null  and name != '' ">
				NAME=#{name},
			</if>
			<if test="uuid != null  ">
				UUID=#{uuid},
			</if>
			<if test="httpMethod != null  ">
				HTTP_METHOD=#{httpMethod},
			</if>
			<if test="url != null  ">
				URL=#{url},
			</if>
			<if test="timingRule != null  ">
				TIMING_RULE=#{timingRule},
			</if>
			<if test="visibilityLevel != null  ">
				EXEC_TYPE=#{visibilityLevel},
			</if>
			<if test="descn != null  ">
				DESCN=#{descn},
			</if>
			<if test="type != null and type != '' ">
			 	tt.TYPE=#{type},
			</if>
			<if test="timePoint != null and timePoint != '' ">
				tt.TIME_POINT=#{timePoint},
			</if>
			<if test="timeInterval != null and timeInterval != '' ">
				tt.TIME_INTERVAL=#{timeInterval},
			</if>
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
				UPDATE_TIME=now(),
			<if test="updateUser != null  ">
				UPDATE_USER=#{updateUser}
			</if>
		</set>
		where ID=#{id}
	</update>
	
	<update id="delete" parameterType="BaseTimingTask">
		delete from WEBPORTAL_TIMING_TASK where ID = #{id}
	</update>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			from WEBPORTAL_TIMING_TASK tt
			where  tt.ID = #{id};
	</select>

	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="BaseTimingTask">
		select count(1) from WEBPORTAL_TIMING_TASK tt
		<include refid="Example_Where_Clause" />
	</select>
	
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TIMING_TASK tt
		<include refid="Example_Where_Clause" />
	</select>
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and tt.ID=#{params.id}
			</if>
			<if test="params != null and params.name != null  and params.name != ''  and params.name != 'null'">
				and tt.NAME like CONCAT('%','${params.name}','%') escape '^'
			</if>
			<if test="params != null and params.uuid != null  ">
				and tt.UUID=#{params.uuid}
			</if>
			<if test="params != null and params.httpMethod != null and params.httpMethod!='' ">
				and tt.HTTP_METHOD=#{params.httpMethod}
			</if>
			<if test="params != null and params.url != null and params.url !='' ">
				and tt.URL=#{params.url}
			</if>
			<if test="params != null and params.timingRule != null and params.timingRule != '' ">
				and tt.TIMING_RULE=#{params.timingRule}
			</if>
			<if test="params != null and params.execType != null and params.execType != '' ">
				and tt.EXEC_TYPE=#{params.execType}
			</if>
			<if test="params != null and params.descn != null  and params.descn != ''  and params.descn != 'null'">
				and tt.DESCN like CONCAT('%','${params.descn}','%') escape '^'
			</if>
			<if test="params != null and params.type != null and params.type != '' ">
				and tt.TYPE=#{params.type}
			</if>
			<if test="params != null and params.timePoint != null and params.timePoint != '' ">
				and tt.TIME_POINT=#{params.timePoint}
			</if>
			<if test="params != null and params.timeInterval != null and params.timeInterval != '' ">
				and tt.TIME_INTERVAL=#{params.timeInterval}
			</if>
			<if test="params != null and params.deleted != null  ">
				and tt.DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and tt.CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and tt.CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and tt.UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and tt.UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_TIMING_TASK tt
		<include refid="Example_Page_Where_Clause" />
		ORDER BY tt.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   