<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letv.portal.dao.IUserDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="User">
		<result column="ID" property="id" />
		<result column="USERNAME" property="userName" />
		<result column="PASSWORD" property="password" />
		<result column="EMAIL" property="email" />
		<result column="PASSPORTID" property="passportId" />
		<result column="LASTLOGINTIME" property="lastLoginTime" />
		<result column="LASTLOGINIP" property="lastLoginIp" />
		<result column="CURRENTLOGINTIME" property="currentLoginTime" />
		<result column="CURRENTLOGINIP" property="currentLoginIp" />
		<result column="REGISTERDATE" property="registerDate" />
		
		<result column="SALT" property="salt" />
		<result column="TYPE" property="type" />
		
		<result column="IS_DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="userName != null  and userName != '' ">
				and USERNAME like CONCAT('%','#{userName}','%')
			</if>
			<if test="EMAIL != null  and EMAIL != '' ">
				and EMAIL like CONCAT('%','#{EMAIL}','%')
			</if>
		</trim>
	</sql>
	
	<!-- WEBPORTAL_DB_USER table all fields -->
	<sql id="Base_Column_List">
		ID,USERNAME,EMAIL,PASSPORT_ID,LAST_LOGIN_TIME,LASTLOGIN_IP,
		CURRENT_LOGIN_TIME,CURRENT_LOGIN_IP,REGISTER_DATE,
		IS_DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER
	</sql>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
	insert into webportal_user (USERNAME,EMAIL,PASSPORT_ID,LAST_LOGIN_TIME,LASTLOGIN_IP, CURRENT_LOGIN_TIME,CURRENT_LOGIN_IP,REGISTER_DATE, CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER) values
    (#{userName},#{email},#{passportId},#{lastLoginTime},#{lastLoginIp},#{currentLoginTime},#{currentLoginIp},#{registerDate},now(),#{createUser},now(),#{updateUser}) 
	</insert>
	
	
	<!-- 物理删除 -->
	<update id="delete" parameterType="User">
		delete from webportal_user where ID = #{id}
	</update>
	
	<!-- 逻辑删除，将deleted 改成 0或1 -->
	<update id="updateFlag" parameterType="User">
		update webportal_user set
		<if test="isDeleted != null  ">
			IS_DELETED=#{isDeleted}
		</if>
		where ID = #{id}
	</update>
	
	<update id="update" parameterType="User">
		update webportal_user set LAST_LOGIN_TIME=#{lastLoginTime}, LASTLOGIN_IP=#{lastLoginIp}, CURRENT_LOGIN_TIME=#{currentLoginTime}, CURRENT_LOGIN_IP=#{currentLoginIp} 
		where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from webportal_user where ID = #{id}
	</select>
	
	<!-- 根据userName查询-->
	<select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from webportal_user where USERNAME = #{userName}
	</select>
	
	<!-- 根据userName查询用户是否存在-->
	<select id="existByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select count(1)
		from webportal_user where USERNAME = #{userName}
	</select>
	
	<!-- 根据registerDate查询用户列表-->
	<select id="selectUserByRegisterDate" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List" /> 
		from webportal_user where REGISTERDATE between #{startDate} and #{endDate}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from webportal_user 
		where 1=1
		<if test="userName != null  and userName != '' ">
			and USERNAME like CONCAT('%',#{userName},'%')
		</if>
	</select>
	
</mapper>   