<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.common.IZookeeperInfoDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="ZookeeperInfo">
		<result column="ID" property="id" />
	
		<result column="NAME" property="name" />
		<result column="IP" property="ip" />
		<result column="PORT" property="port" />
		<result column="USED" property="used" />
		<result column="STATUS" property="status" />
		<result column="DESCN" property="descn" />
			
		<result column="DELETED" property="deleted" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_USER" property="createUser" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<sql id="Base_Column_List">
		zk.ID,
		zk.NAME,zk.IP,zk.PORT,zk.USED,zk.STATUS,zk.DESCN,
		zk.DELETED,zk.CREATE_TIME,zk.CREATE_USER,zk.UPDATE_TIME,zk.UPDATE_USER
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and zk.ID=#{id}
			</if>
			<if test="name != null and name != '' ">
				and zk.NAME like CONCAT('%','${name}','%') escape '^'
			</if>
			<if test="ip != null and ip != ''  ">
				and zk.IP=#{ip}
			</if>
			<if test="port != null and port != ''  ">
				and zk.PORT=#{port}
			</if>
			<if test="used != null and used != ''  ">
				and zk.used=#{used}
			</if>
			<if test="status != null and status != ''  ">
				and zk.STATUS=#{status}
			</if>
			<if test="deleted != null  ">
				and zk.DELETED=#{deleted}
			</if>
			<if test="createTime != null  ">
				and zk.CREATE_TIME=#{createTime}
			</if>
			<if test="createUser != null  ">
				and zk.CREATE_USER=#{createUser}
			</if>
			<if test="updateTime != null  ">
				and zk.UPDATE_TIME=#{updateTime}
			</if>
			<if test="updateUser != null  ">
				and zk.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="ZookeeperInfo" useGeneratedKeys="true" keyProperty="id" >
		insert into
		WEBPORTAL_ZOOKEEPER_INFO(
			NAME,IP,PORT,USED,STATUS,DESCN,
			DELETED,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
		values(
			#{name},#{ip},#{port},#{used},#{status},#{descn},
			#{deleted},now(),#{createUser},#{updateTime},#{updateUser})
	</insert>

	<!-- -->
	<update id="updateBySelective" parameterType="ZookeeperInfo">
		update WEBPORTAL_ZOOKEEPER_INFO
		<set>
			<if test="id != null  ">
				ID=#{id}
			</if>
			<if test="name != null and name != '' ">
				NAME like CONCAT('%','${name}','%') escape '^'
			</if>
			<if test="ip != null and ip != ''  ">
				IP=#{ip},
			</if>
			<if test="port != null and port != ''  ">
				PORT=#{port},
			</if>
			<if test="used != null and used != ''  ">
				USED=#{used},
			</if>
			<if test="status != null and status != ''  ">
				STATUS=#{status},
			</if>
			<if test="descn != null and descn != ''  ">
				DESCN=#{descn},
			</if>
			
			<if test="deleted != null  ">
				DELETED=#{deleted},
			</if>
			<if test="createTime != null  ">
				CREATE_TIME=#{createTime},
			</if>
			<if test="createUser != null  ">
				CREATE_USER=#{createUser},
			</if>
			<if test="updateTime != null  ">
			    UPDATE_TIME=#{updateTime},
			</if>
			<if test="updateUser != null  ">
			    UPDATE_USER=#{updateUser},
			</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 物理删除 -->
	<update id="delete" parameterType="ZookeeperInfo">
		delete from WEBPORTAL_ZOOKEEPER_INFO where ID = #{id}
	</update>
	
	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	        select
			<include refid="Base_Column_List" /> 
			from WEBPORTAL_ZOOKEEPER_INFO zk
			where zk.ID = #{id}
	</select>
	
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from WEBPORTAL_ZOOKEEPER_INFO zk
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_ZOOKEEPER_INFO zk
		<include refid="Example_Where_Clause" />
	</select>
	
	
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id != null  ">
				and zk.ID=#{params.id}
			</if>
			<if test="params != null and params.name != null and params.name != '' ">
				and zk.NAME like CONCAT('%','${params.name}','%') escape '^'
			</if>
			<if test="params != null and params.ip != null and params.ip != ''  ">
				and zk.IP=#{params.ip}
			</if>
			<if test="params != null and params.port != null and params.port != ''  ">
				and zk.PORT=#{params.port}
			</if>
			<if test="params != null and params.used != null and params.used != ''  ">
				and zk.USED=#{params.used}
			</if>
			<if test="params != null and params.status != null and params.status != ''  ">
				and zk.STATUS=#{params.status}
			</if>
			<if test="params != null and params.descn != null and params.descn != ''  ">
				and zk.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.deleted != null  ">
				and zk.DELETED=#{deleted}
			</if>
			<if test="params != null and params.createTime != null  ">
				and zk.CREATE_TIME=#{createTime}
			</if>
			<if test="params != null and params.createUser != null  ">
				and zk.CREATE_USER=#{createUser}
			</if>
			<if test="params != null and params.updateTime != null  ">
				and zk.UPDATE_TIME=#{updateTime}
			</if>
			<if test="params != null and params.updateUser != null  ">
				and zk.UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from WEBPORTAL_ZOOKEEPER_INFO zk
		<include refid="Example_Page_Where_Clause" />
		ORDER BY zk.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
</mapper>   