*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {/*font-family:'Microsoft YaHei';*/font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53";font-size:62.5%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{margin:0;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}
a{text-decoration:none;}
button[disabled]:hover{cursor:not-allowed;}
input.has-error{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);}
input.has-error:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;}
.btn{border-radius:2px;}
.btn-le-blue,.btn-le-blueGreen,.btn-le-green,.btn-le-yellow,.btn-le-red{width:100px;height:30px;padding:0 12px;line-height:30px;font-size:1.4rem;border:none;}
.btn-le-blue:hover,.btn-le-blueGreen:hover,.btn-le-green:hover,.btn-le-yellow:hover,.btn-le-red:hover{color:#333;cursor:pointer;}
.btn-le-blue:hover{color:#fff;background:#077CAE;}
.btn-le-blueGreen:hover{color:#fff;background:#0592A2;}
.btn-le-green:hover{color:#fff;background:#06A094}
.btn-le-yellow:hover{color:#fff;background:rgb(234,176,15);}
.btn-le-red:hover{color:#fff;background:#E41E19}
.btn-le-blue>*,.btn-le-blueGreen>*,.btn-le-green>*,.btn-le-yellow>*,.btn-le-red>*{line-height:30px;}
.btn-le-blue,.btn-le-blue[disabled]:hover{background-color:#088ac2;color:#fff;}
.btn-le-blueGreen,.btn-le-blueGreen[disabled]:hover {background-color:#08aec2;color:#fff;}
.btn-le-green,.btn-le-green[disabled]:hover {background-color:#08c2b3;color:#fff;}
.btn-le-yellow,.btn-le-yellow[disabled]:hover {background-color:#f5c131;color:#fff;}
.btn-le-red,.btn-le-red[disabled]:hover {background-color:#ff3c37;color: #fff;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-red{color:#ff3c37}
.text-blue{color:#088ac2}
.bg-blue{background:rgba(9,138,195,.7)}
.bg-yellow{background:rgba(245,193,48,.7)}
.bg-green{background:rgba(39,199,151,.7)}
.bg-pinkWhite{background:#f7f7f7;}
.pull-right{float:right !important;}
.pull-left{float:left !important;}
.hide{display:none;}
.show{display:block;}
.opacity{opacity:0;}
.clearfix:before,.clearfix:after{display:table;content:" "}
.clearfix:after{clear:both;}
/*公用组件*/
.self-checkbox{color:#fff;border:1px solid #ddd;background:#fff;cursor:pointer;}
.self-checkbox.active{border-width:0;font-size:18px;color:#088ac2;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666667%;}
.col-md-10{width:83.33333333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66666667%;}
.col-md-7{width:58.33333333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666667%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}
.col-md-pull-12{right:100%;}
.col-md-pull-11{right:91.66666667%;}
.col-md-pull-10{right:83.33333333%;}
.col-md-pull-9{right:75%;}
.col-md-pull-8{right:66.66666667%;}
.col-md-pull-7{right:58.33333333%;}
.col-md-pull-6{right:50%;}
.col-md-pull-5{right:41.66666667%;}
.col-md-pull-4{right:33.33333333%;}
.col-md-pull-3{right:25%;}
.col-md-pull-2{right:16.66666667%;}
.col-md-pull-1{right:8.33333333%;}
.col-md-pull-0{right:auto;}
.col-md-push-12{left:100%;}
.col-md-push-11{left:91.66666667%;}
.col-md-push-10{left:83.33333333%;}
.col-md-push-9{left:75%;}
.col-md-push-8{left:66.66666667%;}
.col-md-push-7{left:58.33333333%;}
.col-md-push-6{left:50%;}
.col-md-push-5{left:41.66666667%;}
.col-md-push-4{left:33.33333333%;}
.col-md-push-3{left:25%;}
.col-md-push-2{left:16.66666667%;}
.col-md-push-1{left:8.33333333%;}
.col-md-push-0{left:auto;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66666667%;}
.col-md-offset-10{margin-left:83.33333333%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66666667%;}
.col-md-offset-7{margin-left:58.33333333%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66666667%;}
.col-md-offset-4{margin-left:33.33333333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.66666667%;}
.col-md-offset-1{margin-left:8.33333333%;}
.col-md-offset-0{margin-left:0;}
/* font-face */

@font-face {font-family: "iconfont";
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-iconshugang:before { content: "\e63f"; }
.icon-roundcheckfill:before { content: "\e600"; }
.icon-roundcheck:before { content: "\e601"; }
.icon-myfill:before { content: "\e602"; }
.icon-my:before { content: "\e603"; }
.icon-round:before { content: "\e604"; }
.icon-roundaddfill:before { content: "\e605"; }
.icon-roundadd:before { content: "\e606"; }
.icon-info:before { content: "\e607"; }
.icon-user:before { content: "\e637"; }
.icon-shenfenrenzheng:before { content: "\e62c"; }
.icon-yaoshi:before { content: "\e63d"; }
.icon-shield:before { content: "\e63b"; }
.icon-icon:before { content: "\e608"; }
.icon-camera:before { content: "\e609"; }
.icon-game:before { content: "\e60a"; }
.icon-movie:before { content: "\e60b"; }
.icon-music:before { content: "\e60c"; }
.icon-shopping:before { content: "\e60d"; }
.icon-weixin:before { content: "\e60e"; }
.icon-xinfeng:before { content: "\e60f"; }
.icon-money:before { content: "\e63c"; }
.icon-mark:before { content: "\e610"; }
.icon-money1:before { content: "\e63e"; }
.icon-attentionfill:before { content: "\e611"; }
.icon-attention:before { content: "\e612"; }
.icon-computer:before { content: "\e62f"; }
.icon-dot:before { content: "\e636"; }
.icon-arrow01:before { content: "\e62e"; }
.icon-radiobox:before { content: "\e613"; }
.icon-rounddown:before { content: "\e614"; }
.icon-writefill:before { content: "\e615"; }
.icon-write:before { content: "\e616"; }
.icon-add:before { content: "\e617"; }
.icon-move:before { content: "\e618"; }
.icon-monitor:before { content: "\e631"; }
.icon-erji3:before { content: "\e630"; }
.icon-yunzhuji:before { content: "\e619"; }
.icon-rds:before { content: "\e61a"; }
.icon-gce:before { content: "\e61b"; }
.icon-loadblance:before { content: "\e61c"; }
.icon-proback:before { content: "\e61d"; }
.icon-rds1:before { content: "\e61e"; }
.icon-blockicon:before { content: "\e61f"; }
.icon-cloudstorageicon:before { content: "\e620"; }
.icon-ipicon:before { content: "\e621"; }
.icon-neticon:before { content: "\e622"; }
.icon-routeicon:before { content: "\e623"; }
.icon-shearicon:before { content: "\e624"; }
.icon-snapshoticon:before { content: "\e625"; }
.icon-icon1:before { content: "\e626"; }
.icon-icon2:before { content: "\e627"; }
.icon-checkblockicon:before { content: "\e628"; }
.icon-checkiconfill:before { content: "\e629"; }
.icon-righticon:before { content: "\e62a"; }
.icon-moneyicon:before { content: "\e62b"; }
.icon-checkroundfillicon:before { content: "\e62d"; }
.icon-envelope:before { content: "\e632"; }
.icon-baoxiu:before { content: "\e633"; }
.icon-menucol:before { content: "\e634"; }
.icon-menuquick:before { content: "\e635"; }
.icon-xin:before { content: "\e638"; }
.icon-user-line:before { content: "\e639"; }
.icon-plus-circle:before { content: "\e63a"; }
.icon-clouddisk:before { content: "\e640"; }
.icon-cloudkeypair:before { content: "\e641"; }
.icon-cloudhost:before { content: "\e642"; }
.icon-cloudsnap:before { content: "\e643"; }
.icon-cloudroute:before { content: "\e644"; }
.icon-cloudrds:before { content: "\e645"; }
.icon-cloudnet:before { content: "\e646"; }
.icon-cloudfloatip:before { content: "\e647"; }
.icon-clouddashboard:before { content: "\e648"; }
.icon-cloudimage:before { content: "\e649"; }
