.skin-custom .breadcrumbs {
  border-width: 0;
  background-color: #f0f0f0;
}
@media (min-width: 992px) {
  .skin-custom .breadcrumbs.breadcrumbs-fixed {
    border-bottom-width: 1px;
  }
}
@media only screen and (max-width: 991px) {
  .skin-custom .sidebar {
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .skin-custom .nav-list li.active > a:after {
    display: none;
  }
}
.skin-custom .sidebar.menu-min .nav-list > li.open > a {
  background-color: #222a2d;
  color: #b1bac1;
}
.skin-custom .sidebar.menu-min nav-list > li.active > a:after {
  border-width: 10px 6px;
  top: 8px;
}
.skin-custom .sidebar.menu-min .nav-list > li.active:hover > a:after {
  border-right-color: #242a2b;
}

.skin-custom .sidebar.menu-min .nav-list > li:hover > a {
  color: #e1eaf1;
}
.skin-custom .sidebar.menu-min .nav-list > li > a > .menu-text {
  background-color: #414b51;
}
.skin-custom .sidebar.menu-min .nav-list > li.active > a > .menu-text {
  background-color: #242a2b;
}
.skin-custom .sidebar.menu-min .nav-list > li.active:hover > a,
.skin-custom .sidebar.menu-min .nav-list > li.active > a > .menu-text {
  color: #7bb7e5;
}
.skin-custom .sidebar.menu-min .nav-list > li.open.active > a {
  background-color: #141a1b;
}
.skin-custom .sidebar.menu-min .nav-list > li > a > .menu-text,
.skin-custom .sidebar.menu-min .nav-list > li > .submenu {
  border-width: 0;
  border-left: 1px solid #181d1f;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.skin-custom .sidebar.menu-min .nav-list > li.active > a > .menu-text {
  border-left-color: #305675;
}
.skin-custom .sidebar.menu-min .nav-list > li > .submenu {
  border-top: 1px solid #3f4e54;
}
.skin-custom .sidebar.menu-min .nav-list > li > .submenu:after {
  display: none;
}
.skin-custom .sidebar.menu-min .nav-list > li > .submenu {
  background-color: #333d3f;
  border-top-color: #5a606a;
  border-top-width: 1px !important;
}
.skin-custom .sidebar.menu-min .nav-list > li.active > .submenu {
  background-color: #181e20;
  border-top-color: #3b4547;
  border-left-color: #305675;
}
.skin-custom .sidebar.menu-min .nav-list > li > .arrow:after {
  border-right-color: #414b51;
  -moz-border-right-colors: #414b51;
}
.skin-custom .sidebar.menu-min .nav-list > li > .arrow:before {
  border-right-color: #111415;
  -moz-border-right-colors: #242a2b;
}
.skin-custom .sidebar.menu-min .nav-list > li.active > .arrow:after {
  border-right-color: #242a2b;
  -moz-border-right-colors: #242a2b;
}
.skin-custom .sidebar.menu-min .nav-list > li.active > .arrow:before {
  border-right-color: #50a0dd;
  -moz-border-right-colors: #50a0dd;
}
.skin-custom .sidebar.menu-min .sidebar-shortcuts-large {
  background-color: #222a2d;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 0;
  top: 0;
}
@media (max-width: 991px) {
  .skin-custom .sidebar.responsive-min .nav-list > li.open > a {
    background-color: #222a2d;
    color: #b1bac1;
  }
  .skin-custom .sidebar.responsive-min nav-list > li.active > a:after {
    border-width: 10px 6px;
    top: 8px;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active:hover > a:after {
    border-right-color: #242a2b;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li:hover > a {
    color: #e1eaf1;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > a > .menu-text {
    background-color: #414b51;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active > a > .menu-text {
    background-color: #242a2b;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active:hover > a,
  .skin-custom .sidebar.responsive-min .nav-list > li.active > a > .menu-text {
    color: #7bb7e5;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.open.active > a {
    background-color: #141a1b;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > a > .menu-text,
  .skin-custom .sidebar.responsive-min .nav-list > li > .submenu {
    border-width: 0;
    border-left: 1px solid #181d1f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active > a > .menu-text {
    border-left-color: #305675;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > .submenu {
    border-top: 1px solid #3f4e54;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > .submenu:after {
    display: none;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > .submenu {
    background-color: #333d3f;
    border-top-color: #5a606a;
    border-top-width: 1px !important;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active > .submenu {
    background-color: #181e20;
    border-top-color: #3b4547;
    border-left-color: #305675;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > .arrow:after {
    border-right-color: #414b51;
    -moz-border-right-colors: #414b51;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li > .arrow:before {
    border-right-color: #111415;
    -moz-border-right-colors: #242a2b;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active > .arrow:after {
    border-right-color: #242a2b;
    -moz-border-right-colors: #242a2b;
  }
  .skin-custom .sidebar.responsive-min .nav-list > li.active > .arrow:before {
    border-right-color: #50a0dd;
    -moz-border-right-colors: #50a0dd;
  }
  .skin-custom .sidebar.responsive-min .sidebar-shortcuts-large {
    background-color: #222a2d;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0;
    top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .skin-custom .nav-list li.hover > .submenu {
    padding-left: 0;
    padding-bottom: 2px;
    padding-right: 0;
    border-color: #232828;
  }
  .skin-custom .nav-list li.hover > .submenu > li > a {
    border-top-width: 1px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .skin-custom .nav-list li.hover > .submenu > li:first-child > a {
    border-top-width: 0;
  }
  .skin-custom .nav-list > li > .submenu li.hover > .submenu {
    padding: 3px 2px;
  }
  .skin-custom .nav-list > li.active > .submenu li.hover > .submenu {
    border-left-color: #475561;
  }
  .skin-custom .nav-list li.hover.active > .submenu,
  .skin-custom .nav-list li.active > .submenu li.hover.active > .submenu {
    border-left-color: #305675;
  }
  .skin-custom .nav-list > li.active > .submenu li.hover > .submenu {
    background-color: #171e1f;
  }
}
@media only screen and (min-width: 992px) {
  .skin-custom .sidebar.navbar-collapse .nav-list > li.open.hover:not(:hover):not(:focus):not(.active) > a {
    color: #b1bac1;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list > li.open.hover:hover > a {
    color: #e1eaf1;
    background-color: #414b51;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list > li.active.hover:hover > a {
    color: #7bb7e5;
    background-color: #141a1b;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list > li > .submenu li.open.hover:not(:hover):not(:focus):not(.active) > a {
    color: #d9dfe6;
  }
}
@media only screen and (min-width: 992px) and (max-width: 991px) {
  .skin-custom .sidebar.navbar-collapse {
    /**.nav-list li li:hover > a {
		background-color: @submenu-item-background;
	}
	.nav-list li li > a:hover,
	.nav-list li li.open > a:hover {
		background-color: @submenu-item-hover-background;
	}

	.nav-list > li.active li:hover > a {
		background-color: @submenu-item-background-active;
	}
	.nav-list > li.active li > a:hover {
		background-color: @submenu-item-background-active-hover;
	}*/
  }
  .skin-custom .sidebar.navbar-collapse .nav-list li.hover > .submenu {
    padding-bottom: 0;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list li.hover > .submenu {
    border-top-color: #505a5b;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list li.hover.active > .submenu {
    border-top-color: #2f3e44;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list li.hover.active > .submenu,
  .skin-custom .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu,
  .skin-custom .sidebar.navbar-collapse .nav-list li.active > .submenu li.hover.active > .submenu {
    border-left-width: 0;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu {
    padding: 0;
  }
  .skin-custom .sidebar.navbar-collapse .nav-list li li.hover > .submenu > li:first-child > a {
    border-top-width: 1px;
  }
}
.skin-custom .sidebar.navbar-collapse .nav-list > li .submenu > li.hover:hover > a {
  background-color: #2d3638;
}
.skin-custom .sidebar.navbar-collapse .nav-list > li.active .submenu > li.hover:hover > a {
  background-color: #14191a;
}
@media only screen and (min-width: 992px) {
  .skin-custom .sidebar:not(.navbar-collapse) .nav-list > li .submenu > li.hover:hover > a {
    background-color: #2d3638;
  }
  .skin-custom .sidebar:not(.navbar-collapse) .nav-list > li.active .submenu > li.hover:hover > a {
    background-color: #14191a;
  }
}
.skin-custom .nav-list li > .arrow:after {
  border-right-color: #353c3d;
  -moz-border-right-colors: #353c3d;
}
.skin-custom .nav-list li > .arrow:before {
  border-right-color: #1d2122;
  -moz-border-right-colors: #1d2122;
}
.skin-custom .nav-list > li.active > .arrow:after {
  border-right-color: #171e1f;
  -moz-border-right-colors: #171e1f;
}
.skin-custom .nav-list > li.active > .arrow:before {
  border-right-color: #50a0dd;
  -moz-border-right-colors: #50a0dd;
}
.skin-custom .nav-list > li.active > .submenu li.hover > .arrow:before {
  border-right-color: #4f6e86;
  -moz-border-right-colors: #8fb6d5;
}
.skin-custom .nav-list > li.active > .submenu li.hover.active > .arrow:before {
  border-right-color: #305675;
  -moz-border-right-colors: #2290e9;
}
.skin-custom .nav-list > li.active > .submenu li.hover > .arrow:after {
  border-right-color: #171e1f;
  -moz-border-right-colors: #171e1f;
}
.skin-custom .nav-list li.pull_up > .arrow:after {
  border-right-color: #353c3d !important;
  -moz-border-right-colors: #353c3d !important;
}
.skin-custom .nav-list li.pull_up > .arrow:before {
  border-right-color: #1d2122 !important;
  -moz-border-right-colors: #1d2122 !important;
}
.skin-custom .nav-list li.pull_up.active > .arrow:after {
  border-right-color: #171e1f !important;
  -moz-border-right-colors: #171e1f !important;
}
.skin-custom .nav-list li.pull_up.active > .arrow:before {
  border-right-color: #50a0dd !important;
  -moz-border-right-colors: #50a0dd !important;
}
.skin-custom .main-container .menu-toggler {
  background-color: #444444;
}
.skin-custom .main-container .menu-toggler:before {
  border-top-color: #87b87f;
  border-bottom-color: #6fb3e0;
}
.skin-custom .main-container .menu-toggler:after {
  border-top-color: #ffa24d;
  border-bottom-color: #d15b47;
}
.skin-custom .main-container .menu-toggler > .toggler-text {
  border-top-color: #444444;
  -moz-border-top-colors: #444444;
}
.skin-custom.display {
  background-color: #5d82a2;
}
.skin-custom.display:before {
  border-top-color: #b5d3b0;
  border-bottom-color: #aed4ee;
}
.skin-custom.display:after {
  border-top-color: #ffca9a;
  border-bottom-color: #e09284;
}
.skin-custom.display > .toggler-text {
  border-top-color: #5d82a2;
  -moz-border-top-colors: #5d82a2;
}
.skin-custom .navbar .navbar-toggle {
  background-color: #4D9DCC;
}
.skin-custom .navbar .navbar-toggle:focus {
  background-color: #4D9DCC;
  border-color: transparent;
}
.skin-custom .navbar .navbar-toggle:hover {
  background-color: #3992c6;
  border-color: rgba(255, 255, 255, 0.1);
}
.skin-custom .navbar .navbar-toggle.display,
.skin-custom .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
  background-color: #3384b3;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.35);
}
@media only screen and (min-width: 768px) {
  .skin-custom .container.main-container:before {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 992px) {
  .skin-custom .sidebar.h-sidebar:before {
    background-color: #38424a;
    border-bottom-color: #4a5c63;
  }
  .skin-custom .sidebar.h-sidebar .nav-list {
    border-bottom-width: 0;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.active:before {
    display: block;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.hover.active > a:after {
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: #FFF;
    border-color: transparent transparent #FFF;
    border-width: 8px;
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    margin-left: -8px;
    content: "";
    display: block;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.hover.active:hover > a:after {
    display: none;
  }
  .skin-custom .sidebar.h-sidebar + .main-content .breadcrumbs {
    border-color: #E8E8E8;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li:hover {
    border-color: #506575;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.active {
    border-color: #55738a;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.hover > .submenu {
    border-top-color: #232828;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.hover.active > .submenu {
    border-top-color: #305675;
    border-left-color: #232828;
  }
  .skin-custom .sidebar.h-sidebar .sidebar-shortcuts-large {
    background-color: #222a2d;
    border: 1px solid #232828;
    border-top-color: #305675;
    top: 100%;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li > .arrow:after {
    border-right-color: transparent;
    -moz-border-right-colors: none;
    border-bottom-color: #353c3d;
    -moz-border-bottom-colors: #353c3d;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li > .arrow:before {
    -moz-border-right-colors: none;
    border-right-color: transparent;
    border-bottom-color: #191c1c;
    -moz-border-bottom-colors: #222727;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.active > .arrow:before,
  .skin-custom .sidebar.h-sidebar .sidebar-shortcuts-large:before {
    border-right-color: transparent;
    -moz-border-right-colors: none;
    border-bottom-color: #50a0dd;
    -moz-border-bottom-colors: #216ca6;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.active > .arrow:after,
  .skin-custom .sidebar.h-sidebar .sidebar-shortcuts-large:after {
    border-right-color: transparent;
    -moz-border-right-colors: none;
    border-bottom-color: #171e1f;
    -moz-border-bottom-colors: #171e1f;
  }
  .skin-custom .sidebar.h-sidebar .sidebar-shortcuts-large:after {
    border-bottom-color: #222a2d;
    -moz-border-bottom-colors: #222a2d;
  }
  .skin-custom .sidebar.h-sidebar .nav-list > li.highlight.active > a:before {
    display: none;
  }
}
.skin-custom .sidebar-scroll .sidebar-shortcuts {
  border-bottom-color: #4a5c63;
}
.skin-custom .sidebar-scroll .sidebar-toggle {
  border-top-color: #4a5c63;
}
.skin-custom .sidebar-scroll .scroll-track {
  background-color: transparent;
}
.skin-custom .sidebar-scroll .scroll-bar {
  background-color: #CCC;
  background-color: rgba(255, 255, 255, 0.45);
}
.skin-custom .scrollout .scroll-track {
  background-color: transparent;
}
.skin-custom .scrollout .scroll-bar {
  background-color: #CCC;
  background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .skin-custom .navbar.navbar-collapse {
    background-color: transparent;
  }
  .skin-custom .navbar.navbar-collapse:before,
  .skin-custom .navbar.navbar-collapse .navbar-container {
    background: #000000;
  }
}
.skin-custom .nav-list > li.disabled:before {
  display: none !important;
}
.skin-custom .nav-list > li.disabled > a {
  background-color: #333 !important;
  color: #AAA !important;
}
.skin-custom .nav-list li .submenu > li.disabled > a,
.skin-custom .nav-list li.disabled .submenu > li > a {
  background-color: #444 !important;
  color: #A0A0A0 !important;
  cursor: not-allowed !important;
}
.skin-custom .nav-list li .submenu > li.disabled > a > .menu-icon,
.skin-custom .nav-list li.disabled .submenu > li > a > .menu-icon {
  display: none;
}
.skin-custom .nav-list > li.disabled .submenu > li > a {
  border-top-color: #505050;
}