<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.product.IProductDao">

	<resultMap id="BaseResultMap" type="Product">
	    <result column="ID" property="id" />
	    <result column="NAME" property="name" />
	    <result column="DESCN" property="descn" />
	    <result column="DELETED" property="deleted" />
	    <result column="CREATE_TIME" property="createTime" />
	    <result column="UPDATE_TIME" property="updateTime" />
	    <result column="CREATE_USER" property="createUser" />
	    <result column="UPDATE_USER" property="updateUser" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    product.ID,product.NAME,product.DESCN,product.DELETED,product.CREATE_TIME,product.UPDATE_TIME,
	    product.CREATE_USER,product.UPDATE_USER
	</sql>
	
	<insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="id" >
	    insert into MATRIX_BILLING_PRODUCT 
	        (NAME,DESCN,DELETED,CREATE_TIME,UPDATE_TIME,CREATE_USER,UPDATE_USER) 
	    values
	        (#{name},#{descn},#{deleted},now(),#{updateTime},#{createUser},#{updateUser})
	</insert>
	
	<sql id="Common_Where_Clause">
	    where 1=1
	    <trim suffixOverrides=",">
	        <if test="id != null ">
	            and product.ID=#{id}
	        </if>
	        <if test="name != null ">
	            and product.NAME=#{name}
	        </if>
	        <if test="descn != null ">
	            and product.DESCN=#{descn}
	        </if>
	        <if test="deleted != null ">
	            and product.DELETED=#{deleted}
	        </if>
	        <if test="createTime != null ">
	            and product.CREATE_TIME=#{createTime}
	        </if>
	        <if test="updateTime != null ">
	            and product.UPDATE_TIME=#{updateTime}
	        </if>
	        <if test="createUser != null ">
	            and product.CREATE_USER=#{createUser}
	        </if>
	        <if test="updateUser != null ">
	            and product.UPDATE_USER=#{updateUser}
	        </if>
	    </trim>
	</sql>
	
	<select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />
	    from
	        MATRIX_BILLING_PRODUCT product
	        <include refid="Common_Where_Clause" />
	</select>

</mapper>   