<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mappes.dtd">
<mapper namespace="com.letv.portal.dao.subscription.ISubscriptionDao">

	<resultMap id="BaseResultMap" type="Subscription">
	    <result column="ID" property="id" />
	    <result column="SUBSCRIPTION_NUMBER" property="subscriptionNumber" />
	    <result column="PRODUCT_ID" property="productId" />
	    <result column="BASE_REGION_ID" property="baseRegionId" />
	    <result column="BUY_TYPE" property="buyType" />
	    <result column="CHARGE_TYPE" property="chargeType" />
	    <result column="ORDER_TIME" property="orderTime" />
	    <result column="VALID" property="valid" />
	    <result column="START_TIME" property="startTime" />
	    <result column="END_TIME" property="endTime" />
	    <result column="USER_ID" property="userId" />
	    <result column="PRODUCT_INFO_RECORD_ID" property="productInfoRecordId" />
	    <result column="DELETED" property="deleted" />
	    <result column="CREATE_TIME" property="createTime" />
	    <result column="UPDATE_TIME" property="updateTime" />
	    <result column="CREATE_USER" property="createUser" />
	    <result column="UPDATE_USER" property="updateUser" />
	    <result column="DESCN" property="descn" />
	    
	    <result column="PRODUCT_NAME" property="productName" />
	    <result column="BASE_REGION_NAME" property="baseRegionName" />
	    <result column="DATE_NUM" property="dateNum" />
	    
	    <association property="productInfoRecord" javaType="ProductInfoRecord">
			<result column="RECORD_ID" property="id" />
			<result column="PARAMS" property="params" />
		    <result column="PRODUCT_ID" property="productId" />
		    <result column="INVOKE_TYPE" property="invokeType" />
		    <result column="INSTANCE_ID" property="instanceId" />
		    <result column="RECORD_CREATE_TIME" property="createTime" />
		</association>
		
	</resultMap>
	
	<sql id="Base_Column_List">
	    subscription.ID,subscription.PRODUCT_ID,subscription.BASE_REGION_ID,subscription.SUBSCRIPTION_NUMBER,
	    subscription.BUY_TYPE,subscription.CHARGE_TYPE,subscription.ORDER_TIME,subscription.VALID,
	    subscription.START_TIME,subscription.END_TIME,subscription.USER_ID,subscription.DELETED,
	    subscription.CREATE_TIME,subscription.UPDATE_TIME,subscription.CREATE_USER,subscription.UPDATE_USER,
	    subscription.DESCN,subscription.PRODUCT_INFO_RECORD_ID
	</sql>
	
	<insert id="insert" parameterType="Subscription" useGeneratedKeys="true" keyProperty="id" >
	    insert into MATRIX_BILLING_SUBSCRIPTION 
	        (SUBSCRIPTION_NUMBER,PRODUCT_ID,BASE_REGION_ID,BUY_TYPE,CHARGE_TYPE,ORDER_TIME,VALID,START_TIME,END_TIME,USER_ID,DELETED,CREATE_TIME,UPDATE_TIME,CREATE_USER,UPDATE_USER,DESCN,PRODUCT_INFO_RECORD_ID) 
	    values
	        (#{subscriptionNumber},#{productId},#{baseRegionId},#{buyType},#{chargeType},#{orderTime},#{valid},#{startTime},#{endTime},#{userId},#{deleted},now(),#{updateTime},#{createUser},#{updateUser},#{descn},#{productInfoRecordId})
	</insert>
	
	<sql id="Common_Where_Clause">
	    where 1=1
	    <trim suffixOverrides=",">
	        <if test="id != null ">
	            and subscription.ID=#{id}
	        </if>
	        <if test="subscriptionNumber != null ">
	            and subscription.SUBSCRIPTION_NUMBER like CONCAT('%','${subscriptionNumber}','%') escape '^'
	        </if>
	        <if test="productId != null ">
	            and subscription.PRODUCT_ID=#{productId}
	        </if>
	        <if test="baseRegionId != null ">
	            and subscription.BASE_REGION_ID=#{baseRegionId}
	        </if>
	        <if test="buyType != null ">
	            and subscription.BUY_TYPE=#{buyType}
	        </if>
	        <if test="chargeType != null ">
	            and subscription.CHARGE_TYPE=#{chargeType}
	        </if>
	        <if test="orderTime != null ">
	            and subscription.ORDER_TIME=#{orderTime}
	        </if>
	        <if test="valid != null ">
	            and subscription.VALID=#{valid}
	        </if>
	        <if test="startTime != null ">
	            and subscription.START_TIME=#{startTime}
	        </if>
	        <if test="endTime != null ">
	            and subscription.END_TIME=#{endTime}
	        </if>
	        <if test="userId != null and userId != '' ">
	            and subscription.USER_ID=#{userId}
	        </if>
	        <if test="deleted != null ">
	            and subscription.DELETED=#{deleted}
	        </if>
	        <if test="createTime != null ">
	            and subscription.CREATE_TIME=#{createTime}
	        </if>
	        <if test="updateTime != null ">
	            and subscription.UPDATE_TIME=#{updateTime}
	        </if>
	        <if test="createUser != null and createUser != '' ">
	            and subscription.CREATE_USER=#{createUser}
	        </if>
	        <if test="updateUser != null and updateUser != '' ">
	            and subscription.UPDATE_USER=#{updateUser}
	        </if>
	        <if test="descn != null ">
	            and subscription.DESCN=#{descn}
	        </if>
	        <if test="productInfoRecordId != null ">
	            and subscription.PRODUCT_INFO_RECORD_ID=#{productInfoRecordId}
	        </if>
	    </trim>
	</sql>
	
	<!--根据id，有选择的修改记录 -->
	<update id="updateBySelective" parameterType="OrderSub">
		update MATRIX_BILLING_SUBSCRIPTION
		<set>
			<if test="subscriptionNumber != null ">
	            SUBSCRIPTION_NUMBER=#{subscriptionNumber},
	        </if>
			<if test="productId != null ">
	            PRODUCT_ID=#{productId},
	        </if>
	        <if test="baseRegionId != null ">
	            BASE_REGION_ID=#{baseRegionId},
	        </if>
	        <if test="buyType != null ">
	            BUY_TYPE=#{buyType},
	        </if>
	        <if test="chargeType != null ">
	            CHARGE_TYPE=#{chargeType},
	        </if>
	        <if test="orderTime != null ">
	            ORDER_TIME=#{orderTime},
	        </if>
	        <if test="valid != null ">
	            VALID=#{valid},
	        </if>
	        <if test="startTime != null ">
	            START_TIME=#{startTime},
	        </if>
	        <if test="endTime != null ">
	            END_TIME=#{endTime},
	        </if>
	        <if test="userId != null and userId != '' ">
	            USER_ID=#{userId},
	        </if>
	        <if test="deleted != null ">
	            DELETED=#{deleted},
	        </if>
	        <if test="createTime != null ">
	            CREATE_TIME=#{createTime},
	        </if>
	        <if test="updateTime != null ">
	            UPDATE_TIME=#{updateTime},
	        </if>
	        <if test="createUser != null and createUser != '' ">
	            CREATE_USER=#{createUser},
	        </if>
	        <if test="updateUser != null and updateUser != '' ">
	            UPDATE_USER=#{updateUser},
	        </if>
	        <if test="descn != null ">
	            DESCN=#{descn},
	        </if>
	        <if test="productInfoRecordId != null ">
	            PRODUCT_INFO_RECORD_ID=#{productInfoRecordId}
	        </if>
		</set>
		where ID=#{id}
	</update>
	
	<update id="updateSubscriptionStateByInstanceId" parameterType="java.lang.String">
		update 
			MATRIX_BILLING_SUBSCRIPTION subscription 
		left join
			MATRIX_PRODUCT_INFO_RECORD record on subscription.PRODUCT_INFO_RECORD_ID=record.ID
		set 
			subscription.VALID=0
		where 
			record.INSTANCE_ID=#{instanceId}
	</update>
	
	<select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />
	    from
	        MATRIX_BILLING_SUBSCRIPTION subscription
	        <include refid="Common_Where_Clause" />
	</select>
	
	<select id="selectValidSubscription" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />
	    from
	        MATRIX_BILLING_SUBSCRIPTION subscription
	   	left join 
		    MATRIX_BILLING_ORDER_SUB mbos on subscription.ID=mbos.SUBSCRIPTION_ID
	    left join
	    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
	        <include refid="Common_Where_Clause" />
	        and mbo.STATUS=2
	        <if test="date != null and date != '' ">
	            and subscription.START_TIME &lt; #{date} and subscription.END_TIME &gt;= #{date}
	        </if>
	</select>
	
	<select id="selectMaxEndTimeSubscription" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />,record.PARAMS,record.PRODUCT_ID,record.INVOKE_TYPE,
	        record.ID RECORD_ID,record.INSTANCE_ID,product.NAME PRODUCT_NAME,
			region.NAME BASE_REGION_NAME
	    from
	        MATRIX_BILLING_SUBSCRIPTION subscription
	    left join
	    	MATRIX_PRODUCT_INFO_RECORD record on subscription.PRODUCT_INFO_RECORD_ID=record.ID
	    left join
	    	MATRIX_BILLING_PRODUCT product on subscription.PRODUCT_ID=product.ID
		left join
	    	MATRIX_BILLING_BASE_REGION region on subscription.BASE_REGION_ID=region.ID
	    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on subscription.ID=mbos.SUBSCRIPTION_ID
		left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
	    INNER JOIN (
		    SELECT mbs.PRODUCT_INFO_RECORD_ID, MAX(mbs.END_TIME) AS MaxDate
		    FROM 
		    	MATRIX_BILLING_SUBSCRIPTION mbs
		    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on mbs.ID=mbos.SUBSCRIPTION_ID
		    left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
		    where 
		    	mbo.STATUS=2
		    GROUP BY 
		    	PRODUCT_INFO_RECORD_ID
		) tm ON subscription.PRODUCT_INFO_RECORD_ID = tm.PRODUCT_INFO_RECORD_ID AND subscription.END_TIME = tm.MaxDate
	        <include refid="Common_Where_Clause" />
	        and record.INSTANCE_ID is not null
	        and mbo.STATUS=2
	</select>

	<!-- 根据id查询-->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
			<include refid="Base_Column_List" /> 
		from 
			MATRIX_BILLING_SUBSCRIPTION subscription
		where 
			subscription.ID = #{subscriptionId}
	</select>
	
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(1) 
		from 
			MATRIX_BILLING_SUBSCRIPTION subscription
		left join
	    	MATRIX_BILLING_PRODUCT product on subscription.PRODUCT_ID=product.ID
		left join
	    	MATRIX_BILLING_BASE_REGION region on subscription.BASE_REGION_ID=region.ID
	    left join
	    	MATRIX_PRODUCT_INFO_RECORD record on subscription.PRODUCT_INFO_RECORD_ID=record.ID
	    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on subscription.ID=mbos.SUBSCRIPTION_ID
		left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
		INNER JOIN (
		    SELECT mbs.PRODUCT_INFO_RECORD_ID, MAX(mbs.END_TIME) AS MaxDate
		    FROM 
		    	MATRIX_BILLING_SUBSCRIPTION mbs
		    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on mbs.ID=mbos.SUBSCRIPTION_ID
		    left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
		    where 
		    	mbo.STATUS=2
		    GROUP BY 
		    	PRODUCT_INFO_RECORD_ID
		) tm ON subscription.PRODUCT_INFO_RECORD_ID = tm.PRODUCT_INFO_RECORD_ID AND subscription.END_TIME = tm.MaxDate
			<include refid="Common_Where_Clause" />
			and record.INSTANCE_ID is not null
			and mbo.STATUS=2
			<if test="productName != null and productName != '' ">
	            and product.NAME like CONCAT('%','${productName}','%') escape '^' 
	        </if>
	        <if test="baseRegionName != null and baseRegionName != '' ">
	            and region.NAME like CONCAT('%','${baseRegionName}','%') escape '^'
	        </if>
	</select>
	
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			<include refid="Base_Column_List" />,
	        record.ID RECORD_ID,record.INSTANCE_ID,record.CREATE_TIME RECORD_CREATE_TIME,
	        product.NAME PRODUCT_NAME,DATEDIFF(subscription.END_TIME, NOW()) AS DATE_NUM,
			region.NAME BASE_REGION_NAME
		from 
			MATRIX_BILLING_SUBSCRIPTION subscription
		left join
	    	MATRIX_BILLING_PRODUCT product on subscription.PRODUCT_ID=product.ID
		left join
	    	MATRIX_BILLING_BASE_REGION region on subscription.BASE_REGION_ID=region.ID
	    left join
	    	MATRIX_PRODUCT_INFO_RECORD record on subscription.PRODUCT_INFO_RECORD_ID=record.ID
	    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on subscription.ID=mbos.SUBSCRIPTION_ID
		left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
	    INNER JOIN (
		    SELECT mbs.PRODUCT_INFO_RECORD_ID, MAX(mbs.END_TIME) AS MaxDate
		    FROM 
		    	MATRIX_BILLING_SUBSCRIPTION mbs
		    left join 
		    	MATRIX_BILLING_ORDER_SUB mbos on mbs.ID=mbos.SUBSCRIPTION_ID
		    left join
		    	MATRIX_BILLING_ORDER mbo on mbo.ID=mbos.ORDER_ID
		    where 
		    	mbo.STATUS=2
		    GROUP BY 
		    	PRODUCT_INFO_RECORD_ID
		) tm ON subscription.PRODUCT_INFO_RECORD_ID = tm.PRODUCT_INFO_RECORD_ID AND subscription.END_TIME = tm.MaxDate
			<include refid="Common_Where_Clause" />
			and record.INSTANCE_ID is not null
			and mbo.STATUS=2
			<if test="productName != null and productName != '' ">
	            and product.NAME like CONCAT('%','${productName}','%') escape '^' 
	        </if>
	        <if test="baseRegionName != null and baseRegionName != '' ">
	            and region.NAME like CONCAT('%','${baseRegionName}','%') escape '^'
	        </if>
		ORDER BY subscription.END_TIME
			<if test="page != null">
	      		limit #{page.startRowPosition},#{page.recordsPerPage}
	    	</if>
	</select>
	
</mapper>   